[2021-01-29 01:12] rolandjitsu commented on #1037
@kopax do you mind providing a codepen or something with an example of this validation?

I think the reason might be because when you use the drag 'n' drop we do not set the input with whatever files you dropped. While we could do that, I think it will probably make the logic too complex.

If you'd like, you can make a PR to address this.

[2021-01-29 01:12] #1036 closed

[2021-01-29 01:16] rolandjitsu commented on #1035
@shapaCacooca what you've described doesn't make sense. The check does not need to return `true`, the `return` will stop execution.

Would be helpful, though, if you could explain what you're trying to achieve and maybe provide an example as @morijenab mentioned in the above comment.

[2021-01-29 01:20] rolandjitsu commented on #1031
@florantara would you like to make a PR to address this? I don't have enough time on my hands to do it.

[2021-01-29 01:22] rolandjitsu commented on #1027
@Mike-Petersen are you using a Windows machine as well?

[2021-01-29 01:24] rolandjitsu commented on #1032
@MasterEric is this still happening in the latest version of Firefox?

[2021-01-29 05:16] MasterEric commented on #1032
@rolandjitsu Just tested on Firefox 84.0.2 (64 bit Ubuntu) and the issue still occurs.

Note you can test it yourself with various browsers using the provided CodeSandbox, in which I was able to minimally reproduce the error.

[2021-01-29 08:12] kopax commented on #1037
I fixed it long time ago, don't remember how

[2021-01-29 08:12] #1037 closed

[2021-01-29 15:42] nejcm commented on #1035
Yes the return will stop execution but I am facing the same issue. Clicking on the container even with noClick set to true triggers a rerender every time. Will take a look if I find the time.

[2021-01-29 23:58] florantara commented on #1031
@rolandjitsu I don't have a lot of time at the moment either, but I'll look into it when I do

[2021-02-03 11:58] kirx76 commented on #927
up, same problem

[2021-02-04 07:56] vilvaq opened #1043 "Dropzone responds slowly on firefox with big files"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

When dragging files on Firefox  the component responds with a delay. The delay seems to be directly related to the total size of the files dragged.

It is reproducible on the components present on the documentation page.

**Steps to reproduce**

1. Op

[2021-02-04 15:01] fbmfbm opened #1044 "Distinct action for Multiple DropZone in the same component"
**Do you want to request a *feature* or report a *bug*?**

- [0 ] I found a bug
- [0 ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

I all,
I looking to filter/distinct action when two dropzones live in the same component.  What's the best solution to filter

[2021-02-05 00:32] rolandjitsu commented on #1044
@fbmfbm this may help: [event propagation](https://react-dropzone.js.org/#section-event-propagation).

[2021-02-05 10:15] nterol commented on #888
I'm having this same issue on accept `".jpg, .png, .svg"`.  It fails whatever is the extension of the file.

[2021-02-05 17:51] Rezrazi opened #1045 "Refs usage with other packages/components breaking click to select feature"
**Do you want to request a *feature* or report a *bug*?**

- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
I'm looking to create a dropzone and use it alongside [react-hook-form](https://react-hook-form.com/), this package uses refs to register input validation.
example : `<input name="test" ref={register({required: true})}/>`

If a add a ref attribute on t

[2021-02-06 10:30] fbmfbm commented on #1044
thank's for your answer Roland

[2021-02-06 12:07] Rezrazi commented on #1045
I eventually understood that my use case needed to use `Controller` instead of going with regular refs.
Example for anyone interested https://codesandbox.io/s/react-hook-from-with-react-dropzone-forked-6l1yf?file=/src/App.js

[2021-02-06 12:07] #1045 closed

[2021-02-07 22:52] jlarmstrongiv commented on #753
Would love full screen dragging.  Here’s a workaround:

[code]

[2021-02-08 06:34] #1044 closed

[2021-02-08 06:37] rolandjitsu commented on #1043
@vilvaq have you tried just making a simple drag 'n' drop zone without this lib (bind the `ondrag`, `ondrop` events to some div) to check if the issue is due to react-dropzone?

[2021-02-08 07:41] vilvaq commented on #1043
Hi @rolandjitsu I just tried what you suggest using the onDragEnter event, and it works perfectly. So I assume, the problem is due to react-dropzone.

You can test it in the examples on react-dropzone's documentation too, it's also replicable there.

[2021-02-09 05:46] rolandjitsu commented on #1043
Ok, got it. We'll need to look into it, but it's most likely due to the async processing that we do to support folders.

[2021-02-09 09:27] vilvaq commented on #1043
Cool. Would love to help you fix it, can you please point me in the general direction on where to look for it?

[2021-02-09 09:39] rolandjitsu commented on #1043
Great!

First thing I would try is to replace the default `getFilesFromEvent` (see [docs](https://react-dropzone.js.org/#section-extending-dropzone)) fn with one that does nothing besides just returning the files. If it's not slow anymore, then I'd look at [file-selector](https://github.com/react-dropzone/file-selector) where all the funky file processing (well, it's more like calling some File AP

[2021-02-11 02:49] ljones87 opened #1047 "Not capturing image file path"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

acceptedFiles are missing the full file path, it only captures the file name

I've found its reproducible in any of the sandboxes demoing react-dropzone.
I've forked on here

[2021-02-11 20:52] ljones87 commented on #1047
Other relevant details are we're using nextjs graphql + apollo.
I'm successfully able to send the file blob if Im using axios in the client, but breaks when in node.
I am able to resolve the file path by using `process.cwd()` (duh) and prepending that to the path. However I'm still unable to get it to post with `FormData` on the BE. That sounds like a me issue though.

Going to close, this doesn't

[2021-02-11 20:52] #1047 closed

[2021-02-12 01:24] rolandjitsu commented on #1047
@ljones87 I don't think that you can get the full path (absolute path) of the file(s) when using this lib in a browser. It will only work in Electron.

[2021-02-12 04:34] ljones87 commented on #1047
Your right @rolandjitsu, I was confused by those other two posts around the same issue, specifically the thread on file-selecor https://github.com/react-dropzone/file-selector/issues/10.
I understand it’s a privacy/security thing to not have the path. I just still am having issue getting the image to post in a node environment. Only got it working using axios to post formData on the client.

Def s

[2021-02-12 13:23] vilvaq commented on #1043
@rolandjitsu

Did more tests using a 2gb file.

It is not happening using Firefox 85.0.2 (64-bit) using MACOSX Mojave 10.14.6

So maybe it is just a Linux thing? I can confirm it happens on Ubuntu 18.04 but dunno about other system configs.

[2021-02-12 22:50] Anto-Farrell commented on #945
Still a problem, I downloaded the newest drozone.js & still have the same problem. Pictures taken by camera via drozone get broken therefor nothing gets uploaded, if I take pictures with my camera outside dropzone & then upload it via dropzone, images upload successfully with no problems.

[2021-02-16 00:34] rolandjitsu commented on #1043
Yeah, I've tried on macOS Catalina, Chrome, and I couldn't replicate it. So it might just be on Ubuntu, but we need to confirm it.

[2021-02-16 00:36] rolandjitsu commented on #945
What device are you using? Is it Android or iOS? Which version of OS? Which browser?

[2021-02-16 07:22] vilvaq commented on #1043
I can confirm it also doesn't happen on Firefox nor Chrome under Windows.

[2021-02-20 05:12] Anto-Farrell commented on #945
This happens on all the devices I have,
Samsung Galaxy s5: Android Ver. 8.0.0
Moto e5 Plus: Android Ver. 8.0.0
iPad 4, all using chrome latest version
I created a website in 2017 & used dropzone, it worked marvelously in any device I had back then, I have 10 backups of my finished website & no matter what backup I use dropzone fails to functions in all of my devices right now, everything works as

[2021-02-22 13:01] lossen commented on #962
I have the same issue. None of these formats allow uploading gltf or glb files
model/gltf+json
model/gltf-binary
application/octet-stream
How to fix that?

[2021-02-23 03:24] rolandjitsu commented on #962
@lossen file types are very difficult to handle properly across browsers. There's a note in our docs that mentions this:

I would check if a simple file input can detect the file type/mime type properly, and if yes, then we can reopen the issue and investigate, otherwise there's not much we can do.

[2021-02-23 03:26] rolandjitsu commented on #945
@Anto-Farrell ok, thanks. We'll need to look into this. If you can help, we'd appreciate it, otherwise this might take some time to fix.

[2021-02-23 12:04] adeelibr commented on #227
@okonet i think this is an important feature and should be included in the libraries API itself

[2021-02-23 14:17] okonet commented on #227
@adeelibr feel free to propose the API and implement it.

[2021-03-05 15:26] codeenlab opened #1049 "modal"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant in

[2021-03-05 23:31] kirkbross commented on #583
@jimleuk How do you pluck the extension from the original filename and tag it onto the new name? (besides `split` etc.)

[2021-03-10 02:47] thenanyu commented on #1042
Here https://github.com/react-dropzone/react-dropzone/blob/ebe21302966cfb016c743542ea4ab67b3d4f8bfc/src/index.js#L559 — could we possible test for at least the existence of files? using `isEvtWithFiles(event)`

Right now, everything that's dragged over a dropzone gets the green (+) sign, including things like links and html5 drag and drop object

[2021-03-10 07:09] erikswed opened #1050 "Question about mime type"
I needed Dropzone to give me mime types for any file user select.  like *.rar, *.any
I still learn Javascript and Doom and trying to understand why Dropzone don't give a `type` for some file extensions like e.g "rar"

I see internally Dropzone is using the [file-selector](https://github.com/react-dropzone/file-selector/blob/master/src/file.ts) like so to parse the most common : Is it possible to g

[2021-03-10 21:12] sebastienlabine opened #1051 "Provide onDragEvent rejection message"
- [x] I found a bug
- [x ] I want to propose a feature

**What is the current behavior?**
When dropping files that are rejected with isDragRejected, I can't get access to the reason why it's rejected before the user dropped the files.

**What is the expected behavior?**
 I would like to be able to get the rejection error on the drag so the the user can understand why their files are rejected and p

[2021-03-10 21:21] annezhou920 commented on #720
@justincrich to get around this, i disabled the iframe with `pointer-events: none` styling when the dropzone modal is open. this prevents the iframe from consuming any drag/drop events.

[2021-03-15 17:19] damianobarbati commented on #783
@localjo honestly I'm not understanding. Does the following work for you?

[code]

Because it totally stops the dialog from opening to me.

[2021-03-16 02:20] jdamon96 opened #1052 "Preact - TypeScript issue"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
TypeScript is throwing errors when destructuring `getRootProps()` into a `<div/>` and `getInputProps()` into an `<input/>`

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

The above code returns the following type

[2021-03-22 16:35] i3i2uno commented on #529
@KaiSchniggendiller did you make any progress on this issue? Im running into the same thing...

[2021-03-24 08:29] danish-tr opened #1054 "Integrate Doka with react-dropzone"
Thank you for this wonderful module.

I've been using react-dropzone in our project and I'm trying to integrate doka using [react-dropzone doka integration example](https://react-dropzone.js.org/#!/Doka/1).

I've install dependencies (doka) in aforementioned example using npm and I'm unable to import it as done in example. I got the **cannot resolve doka module** error.

Is there anything that I'm

[2021-03-24 09:36] rolandjitsu commented on #1054
@danish-tr could you reach out to [doka](https://pqina.nl/doka)? I think there's an issue with the way you import or something like that.

[2021-03-24 11:08] danish-tr commented on #1054
@rolandjitsu I didn't reach out to [doka](https://pqina.nl/doka/) yet. I thought it would be opensource but it doesn't and I think I need to purchase first and then they will provide distribution folder for [doka](https://pqina.nl/doka/) right?

Secondly, can you please post the npm package link used in the [example for doka](https://react-dropzone.js.org/#!/Doka/1)?

It would be much appreciated.

[2021-03-26 07:55] rolandjitsu commented on #1054
You should reach out to them. Yes, you need to buy the license and they will provide you with some assets.

Please check [vendor/doka](https://github.com/react-dropzone/react-dropzone/tree/master/vendor/doka). Just note that the files provided are probably not supposed to be distributed or used without a license. We have them there so that we can illustrate how the integration is done.

[2021-03-26 07:55] #1054 closed

[2021-03-26 07:56] rolandjitsu commented on #1052
@jdamon96 does this happen with React typings as well? Or just Preact?

[2021-03-26 07:58] #1042 closed

[2021-03-26 08:04] rolandjitsu commented on #1051
@sebastienlabine this is a limitation in browser APIs. We cannot reliably tell, during the drag event, what the files are and how big they are. We only get the info during the drop event. Event though, some of the info may be available during the other events as well, it will probably be difficult to reliably reproduce the same behaviour across browsers.

If you check [src/index.js#L775](https://g

[2021-03-26 08:04] #1051 closed

[2021-03-26 08:06] rolandjitsu commented on #1050
@erikswed please use stackoverflow for this. If the file doesn't have a mime type, it's probably a browser issue, as this lib doesn't do anything with the files besides setting the file path if it can.

[2021-03-26 08:06] #1050 closed

[2021-03-26 08:06] #1049 closed

[2021-03-26 08:08] rolandjitsu commented on #1043
Ok, so this may be an issue with the Firefox version for Ubuntu. I suggest reporting this to the Firefox team. I'm not sure we can do anything to prevent that, so I will close this issue for now. If you do get any feedback on this and it turns out we can do something about it, please feel free to open a new issue with the suggestion or make a PR.

[2021-03-26 08:08] #1043 closed

[2021-03-26 08:09] rolandjitsu commented on #1035
@nejcm @shapaCacooca is this still an issue?

[2021-03-26 08:11] rolandjitsu commented on #1034
@rschurade could you provide a sandbox illustrating this issue?

[2021-03-26 08:12] rolandjitsu commented on #1031
@florantara any progress on this? Is this still relevant?

[2021-03-26 08:12] rolandjitsu commented on #1027
Closing this as there's no response from author and we cannot reproduce.

[2021-03-26 08:12] #1027 closed

[2021-03-26 08:13] rolandjitsu commented on #1000
Closing this as it doesn't happen with the latest versions of typings.

[2021-03-26 08:13] #1000 closed

[2021-03-26 08:14] rolandjitsu commented on #971
Closing this as there's no response from author.

[2021-03-26 08:14] #971 closed

[2021-03-26 08:15] rolandjitsu commented on #945
Sorry guys, I didn't have much time to look into this. Did any of you manage to make any progress in finding out why it's happening?

[2021-03-26 12:21] Silvercast commented on #1035
@rolandjitsu yes, still an issue in my project even with latest v11.3.2.  The ´noDragEventsBubbling` flag doesn't seem to have any effect. It's quite annoying because it triggers the whole page re-render, clearing the states of other components in my page. I tried both `useDropzone` hook and  `<Dropzone>` wrapper component.

[2021-03-26 16:44] morijenab commented on #945
I have tried this issue (provided the example on the official doc) haven't seen any error.
chrome ver: 88.0.4324.152
Samsung internet browser ver:  13.2.3.2
Android 9 SM-J730F

[2021-03-28 12:14] Silvercast commented on #1035
it might be that `useCallback` (as in the example code) is the culprit. Everything works when I remove the `useCallback` and apply the handle function directly

[2021-03-28 21:03] morijenab commented on #1035
I have noticed that there are two dispatches inside (onDragEnterCb, onDragLeaveCb) that cause the state to change and rerender begins even though the callbacks are not passed.
I think when the call back is not pass from parent we shouldn't update the state inside the event handler
I moved both dispatches inside the lower ifs:

[code]

but with these changes, some test will be failed
hope it help t

[2021-03-28 23:48] tjdam commented on #1045
This example doesn't seem to work with drag and drop, though, only with clicking.
Were you able to get it to work?

[2021-03-29 19:06] Rezrazi commented on #1045
Here's a snippet, I hope it helps

[code]

[2021-03-30 19:04] christy-schott commented on #980
Do you find out a way? @diamantisufi

[2021-03-31 19:51] NicolasZim commented on #888
Having the same issue, with ```.rem``` and ```.ret``` files. Seems to me that's doesn't check the file extension. However i had read some issues that people was talking about being impossible to read file info until file drop into input.Tried to downgrade but still not working.

Any ideas? Hacks? Solutions?

Also `.rem, .ret` are mostly used in my country since they are files that banks use and re

[2021-03-31 21:16] beingtmk commented on #945
faced the same problem both on android(chrome) and ios(safari).

[2021-03-31 22:22] dancixx opened #1055 "AcceptedFiles typedef porblem"
Typedefinition for acceptedFiles: Array<File> is not valid. There is no some props.

[2021-04-03 20:54] helgardferreira commented on #1052
@jdamon96 @rolandjitsu I believe I found the culprit:

[This pull request for the @types/react library](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40658) has introduced a `Booleanish` type that's now sprinkled throughout various interfaces (including `HTMLAttributes`). Whereas the last time the Preact `contentEditable` property of the `HTMLAttributes` interface was updated was 3 years

[2021-04-07 06:41] hellow554 opened #1059 "Setting :disabled pseudo class when dropzone is disabled"
**Do you want to request a *feature* or report a *bug*?**
- [ ] I found a bug
- [X] I want to propose a feature

**What is the current behavior?**
When using the `disabled` property on the `useDropzone` function, the dropzone get's disabled in term of that it doesn't accept drops or mouse inputs anymore (AFAICT).
But to have some styling, e.g. `cursor: not-allowed` you have to manually set a class

[2021-04-12 10:21] sm3sher commented on #752
@ryanadhi yes it is.
Every rejectedFile has a specific `error.code` which you can map to your own message.

[2021-04-13 08:30] anatoliyarkhipov commented on #133
Hey guys! I'm not sure what was the conclusions of the thread. I'm trying to DnD from a separate tab into my app (tried from Google Images and Wikipedia), and Dropzone doesn't react, no events are triggered. Any ideas how I can troubleshoot that? 🤔

[2021-04-13 21:05] caravinci commented on #171
This however doesn't fix the problem for files with unspecified MIME types.
Any hints on how to handle that case?

[2021-04-14 22:07] CarlosHdez opened #1060 "Accept first file when dropping many with "multiple: false""
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**
I'm not entirely sure if this is a bug
Whenever I drop multiple files on a dropzone configured with `multiple: false` all my files get rejected with the error `too-many-files`.

**If the current behavior is a bug, please provide the steps to reproduce.

[2021-04-15 23:32] vensauro commented on #1045
this can be more simple
[code]
or event more simple with useController
[code]

[2021-04-21 11:19] fabb commented on #753
I‘ve seen on some pages that a dropzone is shown small inside a form, but when dragging files to the window, a dropzone overlay appears over the whole page. This works pretty well UX-wise, but I‘m not yet sure how to solve it with react-dropzone.

Maybe something like that?
http://stackoverflow.com/a/33917000

[2021-04-23 23:55] mmaliukevich commented on #1005
So does drop-zone accept .xlsm file types at the current moment ?
I have faced with the same problem. My application rejected .xlsm and always show red border

[2021-04-27 14:50] filoscoder opened #1062 "There is a way to set files as uploads on render?"
There is a way to set files as uploads on render?
I mean, I'm using Dropzone on an edit page, and there are already image attachments from server, and I want to render Dropzone with these files from the server, and open to delete or add more before submitting.

I've already checked the docs, but I'm not sure how to do this.
Please give me a hand with this!

[2021-04-28 14:15] MaxArnaut commented on #1031
Still have this issue

[2021-04-29 16:30] darduf opened #1063 "Set favorite/starred image on Preview"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I want to propose a feature

**What is the current behavior?**
react-dropzone preview displays the selected images.

**What is the expected behavior?**
After selecting the images - the user can then set the favorite/starred image from the preview,  to be used as the primary thumbnail for the item being photographed

**If this is a fe

[2021-05-06 12:42] SerdarMustafa1 commented on #131
Before using this I could click the input to upload a file but not drag and drop. After using this, it's the other way around. I can drop but not click.

I get an error saying:
Cannot read property 'files' of undefined'
[code]

[2021-05-07 15:11] fbmfbm opened #1064 "2 dropzones in one component"
I need to use 2 differents dropzones in one component for storing 2 different files withe useDropeZone version. I'm trying with onDropAccepted and retrieve event with input id...but the id never change.

i have 2 dropezone like that :
[code]
and useDropeZone like that :
[code]
But the event.target.id return allways 'new_stamp_input'.....!!!

any one can help me ?

Thank's a lot

[2021-05-12 01:25] mohantyArpit commented on #837
I don't know if this will help anyone , but in my case i had initially installed the package in my root folder,
so the structure was like inside root project there was the Front end project and back-end project all npm ,
there were no import error even though it was in root.But while rendering it would throw the invalid hook issue.
But when i reinstalled it in my FE project it worked fine

[2021-05-12 10:26] gblanco10 commented on #953
I comment here because the problem still exists. Here my testing environment :
- Chrome version : 90.0.4430.212
- react-dropzone version : 11.3.2
- react version 17.0.2

I specified in the accept prop of useDropzone hook the type '.xls,.xlsx' but when I drag into the area excel files the isDragAccept property is always set to false and instead the isDragReject property is set to true. I followed t

[2021-05-13 07:55] morijenab commented on #1060
Hi Carlos
As far as I know, the `multiple` prop is an HTML attribute and the browser doesn't call the `drop` callback when `multiple` is false and multiple files are droped.
which means we haven't access to files.

[2021-05-13 10:53] filoscoder commented on #191
Same issue on Chrome 88, but solved after updating to 90 👍🏾

[2021-05-13 12:39] atkimi commented on #649
I had some issues with dropping files on both Firefox and Chrome running on Fedora 34. I was dragging from "Files" v40.1 in icon view. Turns out that in list view with tiny icons d&d works fine

[2021-05-17 10:37] radheaki opened #1067 "File Uploader Dialog Box Not Movable on MAC"
The dialog Box which is opening for uploading Files is not movable/draggable on  Mac. Please provide if any solution is there for this : ) .
<img width="850" alt="MicrosoftTeams-image (1)" src="https://user-images.githubusercontent.com/39318570/118475473-ec3e9a80-b729-11eb-8832-f4a75bf15919.png">

[2021-05-20 12:25] ShauniArima opened #1068 "Bad types for `acceptedFiles` and `fileRejections`"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Type checking for `acceptedFiles` and `fileRejections` is not correct (`path` is not in `File`)

**What is the expected behavior?**

`acceptedFiles` and `fileRejections`

[2021-05-20 13:22] rubenpoppe opened #1069 "No filename specified when dropping files"
When dropping images, no filename is given in the formdata. Viewed in chrome dev tools sources tab.

**Steps to reproduce**

1. Create Dropzone in form (`enctype=multipart/form-data`)
2. Drag file to dropzone (in this case images specifically)
3. Submit form

**Expected** (behavior when browsing for file)
`Content-Length` matches filesize
[code]

**Got**
`Content-Length: 344`
[code]

**Misc**
Brow

[2021-05-20 13:59] AditiTrehan commented on #945
Updated the package version to the latest one - **11.3.2**, and it fixed the problem.

[2021-05-21 14:35] Adzerty commented on #1068
Hey, you should check issue #981

[2021-05-24 10:25] peacedyc opened #1070 "React slow when select file from local"
I found a bug

it's the same with https://github.com/react-dropzone/react-dropzone/issues/1043

I can still reproduce the issue on Chrome 89.0.4389.114 from win10.
btw, my chrome is controlled by company.

I tried a 20MB file on your demo page, it delayed a few seconds.

[2021-05-28 10:23] mshankr commented on #826
HAY. TRY ADDING IN THE noKeyboard OPTION. IT WORKED FOR ME.

I WAS WONDERING WHY MY CLICKS WERE NOT GETTING THROUGH. I HIT THE BINGO WHEN I TRIED THE NOKEYBOARD OPTION!

NOW CLICK DOESN'T OPEN THE FILE DIALOG, I'M ABLE TO CLICK BUTTONS INSIDE THE DROPZONE, AND DRAG N' DROP FILES WORK!!!

[code]

[2021-06-03 20:08] mefuru commented on #1052
@helgardferreira Did any of the potential solutions work for you?

[2021-06-10 14:28] cderickstudy commented on #945
Maybe due the attribute 'capture' <input capture /> on the input, do not trigger the onDrop event?

I'm face similar issue but I will check if update for the latest version will solve the problem, per the last comment. :)

[2021-06-10 14:42] bobkataboo opened #1072 "onDrop with french (accent) characters doesn't work"
Hello kind developers, I have the following problem:

When trying to upload a file with the following name "Capture d'écran.png" it does not work. When I change the name to image.png it works.

In the onDrop event, I wrote onDrop{files => console.log(files)} and in the not working case I receive an empty string as a name and the size is 0 kb. In the working example, it's all good. I have tested th

[2021-06-10 16:48] cderickstudy commented on #945
Okay digging in my problem...
My issue was regarding on the upload by Take a photo, the file reader for some reason do not convert perfect the picture in Base64.

If you upload or drop the file, FileReader will convert perfectly, if you take a picture direct from the Camera it doesn't work.
Might be the issue with base64 on safari need to be divisible by 4.

11.3.2 is working normally.
If the issu

[2021-06-10 20:28] rafael-vitor commented on #966
@twigs67 have you found a solution?

[2021-06-12 08:47] sagartmg opened #1073 "preview not working after removing certain file from array in mulple files"
` onClick={()=>{
                                    let temp = [...files]
                                    temp = temp.filter((el,f_index)=>f_index != index)
                                    setFiles(temp);
                                }}`

is it due to this ?
`useEffect(() => () => {
        files.forEach(file => URL.revokeObjectURL(file.preview));
    }, [files]);`

**P.S.  this useEff

[2021-06-17 16:18] elebumm commented on #310
For the hook, it's something similar:

[code]

[2021-06-22 00:08] atav32 opened #1075 "Click the dropzone does not open file selector on Android 11"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Clicking the dropzone on an Android browser does not reliably show the native file selector.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Go to https://codesandbox.io/embed/stupefied-kepler-btkpt
2. Tap

[2021-06-22 14:42] ml242 commented on #1075
I am running into the same bug on versions 9 and 10, and the only phone I can find is 11 and while the library worked fine with it, I really appreciate the sandbox because it made it so quick to test. I'm going to continue checking other android phones as I get my hands on them.

[2021-06-23 21:27] joecullin opened #1076 "Bug: MIT license, but it includes copyrighted commercial code"
The addition of Doka's copyrighted files seems incompatible with the MIT license.

I can see in https://github.com/react-dropzone/react-dropzone/issues/1054 that you said, "Note that the files provided are probably not supposed to be distributed or used without a license. We have them there so that we can illustrate how the integration is done."

The auditors at my company aren't happy with that.

[2021-06-25 02:21] rolandjitsu commented on #1076
@joecullin you're welcome to make a PR with a disclaimer. I will also contact the doka onwer to ask them what to do about it.

[2021-06-25 02:29] rolandjitsu commented on #1034
Gonna close this as there's no response from the reporter.

[2021-06-25 02:29] #1034 closed

[2021-06-25 02:34] rolandjitsu commented on #1052
@jdamon96 @helgardferreira is this still an issue? Do you have a proposal that you think we can implement on our side? If yes, please make a PR.

[2021-06-25 02:37] rolandjitsu commented on #1032
@MasterEric gonna close this for now as this seems like something a user should deal with. If you feel otherwise and have a fix for it, please open a PR.

[2021-06-25 02:48] rolandjitsu commented on #1055
@dancixx the issue description doesn't follow our guidelines so I'm gonna close it. You're probably referring to: https://github.com/react-dropzone/react-dropzone/blob/ec934256bd13257915caee52dd3c88d733deb2db/typings/react-dropzone.d.ts#L42
but this sounds more like an issue with how your env uses the typings.

[2021-06-25 02:48] #1055 closed

[2021-06-25 02:50] rolandjitsu commented on #1059
@hellow554 the dropzone doesn't deal with styling anymore. That's up to the user to decide how to deal with it.

[2021-06-25 02:50] #1059 closed

[2021-06-25 02:53] rolandjitsu commented on #1060
@CarlosHdez this is intentional. If `multiple` is false, it shouldn't allow the user to drop more than 1 file, hence the error you're getting.

[2021-06-25 02:53] #1060 closed

[2021-06-25 02:55] rolandjitsu commented on #1062
@filoscoder dropzone doesn't deal with state management of files from anywhere else than what the user dropped/selected. This can be easily achieved on the user side.

[2021-06-25 02:55] #1062 closed

[2021-06-25 02:56] rolandjitsu commented on #1063
@darduf the preview is just an example. You can take that and enhance it with your requirements.

[2021-06-25 02:56] #1063 closed

[2021-06-25 03:01] rolandjitsu commented on #1064
@fbmfbm I don't think that's possible. You'll need to create a wrapper component for dropzone and then you that twice.

[2021-06-25 03:01] #1064 closed

[2021-06-25 03:02] rolandjitsu commented on #1067
@radheaki I think you should contact Apple for this as there's not much we can do about that.

[2021-06-25 03:02] #1067 closed

[2021-06-25 03:09] rolandjitsu commented on #1068
We cannot do that because of the plugins impl. And https://github.com/react-dropzone/react-dropzone/issues/981 is the way to go.

[2021-06-25 03:09] #1068 closed

[2021-06-25 03:17] rolandjitsu commented on #1069
This needs some investigation. For sure the dropzone is not aware of the form. So I think you need to manually set the formdata on drop.

[2021-06-25 03:20] rolandjitsu commented on #1070
@peacedyc as the other issue states, it's most likely an issue with the browser on that platform.

[2021-06-25 03:20] #1070 closed

[2021-06-25 03:22] rolandjitsu commented on #1072
This needs some investigation.

[2021-06-25 03:33] rolandjitsu commented on #1073
@sagartmg this is more of a SO question. The revoke is there to cleanup the URIs we created for the images. You can change the effect to only revoke images that were removed (keep the state in some other var).

[2021-06-25 03:33] #1073 closed

[2021-06-25 03:37] rolandjitsu commented on #1075
@atav32 @ml242 I cannot reproduce on latest Android. Have you tried the dropzone docs website?

[2021-06-25 03:38] #1032 closed

[2021-06-25 06:50] rubenpoppe commented on #1069
I'll look further into it and keep you posted.
But I believe you're right. `onDrop` probably needs the filename explicitly defined.

[code]

[2021-06-25 08:20] rubenpoppe commented on #1069
I couldn't get it working. I tried putting a `ref` on the input, but when declaring `onDrop` callback, the `ref` of course isn't known yet. Would it be possible to access [the internal inputRef](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L417)? And then setting `inputRef.current.files = acceptedFiles`.

[2021-06-25 13:58] ml242 commented on #1075
I was not able to reproduce on my Android 11 but looking at bug reports and watching Fullstory I have evidence of it in happening with 11 too (both people letting the concierge know there were issues and video of rage clicking).

[2021-06-25 21:04] bmueller-sykes opened #1077 "Firefox not reporting mime type in Firefox when file is dropped as part of a folder"
- [x ] I found a bug

When I drop a folder which contains an XML file in Firefox (89.0.2) on the Mac (11.4), the `type` property of the xml file in the array that is handed to acceptedFiles is empty. However, if I drop just that XML file by itself onto the drop target, the type is reported. I'm using the basic example from the docs (below). I haven't been able to replicate this behavior in other b

[2021-06-26 02:41] rolandjitsu commented on #1075
Got it. I'm not sure what I can do given the fact that I cannot reproduce on the latest Android and I don't have access to older versions. Btw, the sandbox may behave differently from the docs website due to iframe usage and possible security restrictions?

[2021-06-26 07:05] atav32 commented on #1075
Yup, can reproduce the bug on some of the examples on the website.

[2021-06-28 14:40] ml242 commented on #1075
@atav32  - i tried 3 android 11's but couldn't reproduce with your link.

Getting closer on my problem, it seems like the users who are affected are using the android browser within another app that opens my site.

I've seen versions 7-11 affected.

When an app does that, is the browser in an iFrame? How do the permissions work, and could it just be a bug in their app? It's frustrating.

[2021-06-28 15:06] davidbasalla commented on #1072
@bobkataboo do you have any more details about your browser, operating system etc? I just tested this and it all seems to work fine (OSX, Chrome v91). Same for the [basic example](https://react-dropzone.js.org/#section-basic-example):

<img width="972" alt="Screenshot 2021-06-28 at 17 03 25" src="https://user-images.githubusercontent.com/5112255/123659532-14dea780-d833-11eb-977b-74de1f946a7f.png">

[2021-06-28 15:55] rolandjitsu commented on #1075
It depends on how you've built your app. Normally, an app would use [intent](https://developer.android.com/reference/android/content/Intent.html#ACTION_VIEW), which would probably just open the URL in the default browser or ask you what to use.

But I suppose you're talking about opening the URL within the same app, which means you're most likely using a [WebView](https://developer.android.com/ref

[2021-06-29 05:59] ashacr opened #1078 "Need to limit the Total file size limit to 5mb"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug: Unable to limit the total file size
- [ ] I want to propose a feature

**What is the current behavior?**
Individual file size limiting not the total file size

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Unable to show the error message when total file exceeds the 5 mb
1.

**What is

[2021-06-29 06:01] ashacr commented on #1078
any suggestion please

[2021-07-02 13:40] ignlopezsanchez opened #1079 "onFileDialogCancel triggered on correct file selection"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
 When I select a valid file, the onFileDialogCancel is being triggered
**If the current behavior is a bug, please provide the steps to reproduce.**

https://codesandbox.io/s/magical-lalande-xd33e?file=/src/App.js

https://www.loom.com/share/be48a5d16d6

[2021-07-04 14:18] abelardolg opened #1080 "Drozone style class | isn't loaded"
- [ x] I found a bug

Hi there,
I installed the last version:
`"react-dropzone": "^11.3.4",`

When I dropped your example into my code:
https://react-dropzone.js.org/#section-previews

the dropzone style class wasn't loaded:
![image](https://user-images.githubusercontent.com/22522883/124388481-6bd8f680-dce3-11eb-9aba-014095b7e6d4.png)

Where is  this style class defined into your example, please?

[2021-07-05 15:37] yannickbuntsma commented on #1034
Ran into this issue today on a project where we recently implemented this package, which led me to this issue report. I saw it was missing a reproduction, so I made one: https://codesandbox.io/s/friendly-bartik-xkupt.

Hope it helps get to the bottom of this.

[2021-07-06 10:05] LoganDark commented on #1078
The file object contains `size` which is a size in bytes, you can limit that to a max of `5242880` for 5MB.

[2021-07-06 10:30] LoganDark commented on #1072
@davidbasalla macOS can mask some of the issues you'll run into on Windows because it uses a Unix architecture, which has traditionally been very good with UTF-8, spaces in filenames, etc. Unfortunately, Windows is good at none of those things.

Anyway, I just tested for myself on Windows, and can't repro the issue either.

![image](https://user-images.githubusercontent.com/4723091/124585648-59a5a

[2021-07-06 13:17] krungta-mdsol commented on #861
I'm using 11.3.4 and I face the same issue. Any solutions yet?

[2021-07-07 01:28] welcometochristown commented on #807
I had this same issue which was intermittent. I believe the issue was being caused by the setTimeout that checks for if any files have been selected when the form becomes inactive. When I increased the time out the issue was resolved.

![image](https://user-images.githubusercontent.com/17158437/124686362-fd419780-dea0-11eb-99c9-742883f17216.png)

[2021-07-07 08:46] ashacr commented on #1078
Yes. This scenario will work only on individual file size not the overall files size. example...
file 1 - 1Mb
file 2 - 2MB
file 3 - 3 Mb etc...
This scenario I have to calculate the total file size and display the error message for the last file which exceeding 5 MB.

[2021-07-07 08:48] LoganDark commented on #1078
You can add up the sizes of all the files that have been uploaded. This is out of scope for react-dropzone.

[2021-07-07 11:57] rolandjitsu commented on #1078
This sort of logic has to be implemented on the user side. The dropzone cannot cover every single scenario/use case that users have. It provides the minimum features that are good enough to cover most use cases and it gives enough flexibility to allow the users to impl. their own behaviours.

[2021-07-07 11:57] #1078 closed

[2021-07-15 09:12] eric-burel commented on #1000
For lost googlers: this usually means you have multiple occurrence of `@types/react` with incompatible versions, either in your app or dependencies such as `react-dropzone` or others.
You can add Yarn resolutions to fix this issue:
[code]

Note: this seems problematic to me that those package comes with this dependency at first, but this seems to happen a lot.

[2021-07-15 12:27] MaximeConan commented on #842
@alex-polunochev it works without await the `Promise`. So you don't need to have a `setTimeout`.

[code]

[2021-07-16 18:41] thebytegrill commented on #557
Not working as of 11.3.4
Cannot launch the open file dialogbox regardless of noClick settings.

[2021-07-23 08:37] mkurczewski commented on #986
Lol. This isn't helpful at all. Should I tell my users "hey, if you want to upload a directory where some folders are empty, just add some trash file in them"?

DropZone treats empty folders as non-existing and that's the issue. Not the fact, that somebody has an empty folder.

[2021-07-23 12:12] rolandjitsu commented on #986
What you're saying makes little sense. How would you upload an empty directory? If it's empty, then there's nothing to upload.

What the user is asking for or what you call an issue is creating a directory tree, which is not the purpose of this lib. There's a reason why it's extensible via the `getFilesFromEvent` property: users can provide their own impl. of what to do with a drop event.

If you'

[2021-07-28 17:00] senorLobito commented on #1072
Hi, I guess it won't help much but I experienced the same problem in Chrome - empty filename - if there are accents included.

The important fact is, that it was working before. I tried to restart docker container with React and other stuff. What actually helped was to **restart the browser** which is weird. But it helped.

**OS:** Linux (Ubuntu 20.04.2 LTS),  **Browser:** Chrome 91.0.4472.164.  *

[2021-08-04 15:33] hbel commented on #1069
I can confirm this, and for me this only happens on **Windows**, but across **all browsers**.

Whenn calling onDrop, acceptedFiles is always an empty Array. Using the same react code in a browser on MacOs or Linux works as intended.

[2021-08-05 16:11] react-dev92 opened #1084 "Take photo (from camera) option is enabled on mobile when trying to accept GIF only"
Hi,

I'm using latest version of react-dropzone. I found a bug and want to report it

Here's the behaviour:

I'm using dropzone to accept only specific file types by specifying the mimetype as per https://react-dropzone.js.org/#section-accepting-specific-file-types. When on mobile devices, on clicking the browse button, a menu is shown which has gallery, file system and camera (Take photo or video

[2021-08-06 05:24] mcha-dev opened #1085 "[suggestion] adding role=button, aria-roledescription to getRootProps might enhance accessiblity"
- [ ] I found a bug
- [x] I want to propose a feature

Hello,

I think if we make `getRootProps` return the following props, the component will be more accessible

[code]
- [conesandbox link](https://codesandbox.io/s/practical-austin-o5ude?file=/src/index.tsx)
- Demo with Apple's Voice Over  (🔊on)

https://user-images.githubusercontent.com/13101565/128459803-344f2e2c-033e-4db6-a908-d35e9bcece52.mo

[2021-08-11 11:16] kluplau commented on #966
HEIC is standard format for images taken by an iPhone. Shouldn't this be supported in `react-dropzone`?

[2021-08-14 14:53] saeedhemmati commented on #1072
Same issue with Persian language

[2021-08-16 10:03] ronzip commented on #1079
Happening to me too. Is there any update on that issue?

[2021-08-16 14:35] ronzip commented on #1079
BTW, it seems that the onFileDialogClosed is having a race condition with onDrop which can cause this issue above.

[2021-08-23 12:59] JupiterThreads opened #1087 "Basic example only shows one file uploaded"
Upload a file by clicking on the upload area, and then upload another file the same way. The list of files doesn't show all the files uploaded; it only shows the latest file.
I'm using version 11.3.4.

[2021-08-24 04:07] kambing86 opened #1088 "Uncaught DOMException: Failed to set the 'value' property on 'HTMLInputElement': This input element accepts a filename, which may only be programmatically set to the empty string"
value for HTMLInputElement shouldn't set to null, but this happened to

https://github.com/react-dropzone/react-dropzone/blob/4e625d27410cb7a1b0703b2997142e65a89a78d9/src/index.js#L426

[2021-08-25 03:35] rolandjitsu commented on #1088
@kambing86 can you provide a code sandbox link to replicate this?

[2021-08-25 08:57] ashacr commented on #1078
It's good practice to avoid spreading for jsx attribute . This prevents accidently passing **dangerouslySetInnerHMTL** to an element
![image](https://user-images.githubusercontent.com/13048236/130760373-650ce849-19e2-4ebc-b39d-962ff101d1f5.png)
How we can avoid the spread operator inside the input  for security purpose, what could be alternative solution?

[2021-08-25 08:59] LoganDark commented on #1078
I think if you are allowing the user to control all props of your element (even adding new ones) that is a security vulnerability anyway. Especially since it can contain attributes that control javascript execution

[2021-09-01 00:48] marksy commented on #922
It's not the same issue because screen reader != keyboard accessibility.

When tabbing to the component, there's no focus ring so the user isn't aware the element/component is focused.

#935 is an issue with the readability of the component to a screen reader.

[2021-09-01 10:00] xiaochenzhang commented on #408
Hi @okonet ,

sorry to comment on a "closed" issue. But I still cannot get focus on the dropzone when using keyboard tab (on MacOS 11.4, Chrome Version 92.*). I saw this issue is fixed in #161 , but I don't know what I did wrong or missed in my implementation, could you guide me a bit? Here is my code (and lib version):

[code]

[2021-09-01 23:18] rolandjitsu commented on #408
Could you open a new issue and illustrate what you're experiencing? Also, what's your OS, browser, etc? I cannot reproduce on the main docs website.

[2021-09-02 00:00] rolandjitsu commented on #922
Good point. But the that issue was probably causing this as well, hence why I closed it.

Are you referring to the input as well? Or to the dropzone root? Because if we're talking input, if you check https://github.com/react-dropzone/react-dropzone/blob/1924fa6cd8bd0fcdbd2165ed726416d3973b0555/src/index.js#L756 and https://github.com/react-dropzone/react-dropzone/blob/1924fa6cd8bd0fcdbd2165ed72641

[2021-09-02 00:18] marksy commented on #922
I can make a PR to allow for :focus styling that won't be a breaking
change, hopefully :D

On Thu, Sep 2, 2021 at 12:01 PM Roland Groza ***@***.***>
wrote:

--
--
www.marksy.com
+64276491914

[2021-09-02 01:07] rolandjitsu commented on #922
Sounds good!

[2021-09-05 05:14] meglio commented on #805
Now that we see how many people are trying to work around it, it's clear that being able to remove files from the list should be part if API. The main issue here is that the original `<input>`s list of files is not updated. So the API would allow to do that.

[2021-09-06 05:12] react-dev92 commented on #1084
@rolandjitsu Can you take a look at this issue and help me fix this.

[2021-09-06 11:54] rolandjitsu commented on #1084
@react-dev92 I don't think there's anything we can do about this. This behaviour is implemented in the browser and it's probably different in each browser. This lib doesn't do anything specific to mime types, it just sets the accept property on the input.

[2021-09-06 14:04] Franklyn-S commented on #605
Why this is closed? I'm facing this issue too

[2021-09-06 14:19] rolandjitsu commented on #605
Most likely because:

So to sumarize, using file extensions for styling purposes for accept/reject during drag operations is not reliable across browsers and it will, most likely, be difficult to fix on our side. But, if the issue is different, then please provide a more accurate way of reproducing the issue so we can get to the bottom of it.

[2021-09-10 09:05] ferso commented on #805
[code]

[2021-09-13 23:37] #1076 closed

[2021-09-13 23:59] rolandjitsu commented on #1087
@JupiterThreads that's the intended behaviour. The state is kept on the user side.

[2021-09-13 23:59] #1087 closed

[2021-09-14 00:00] rolandjitsu commented on #1080
@abelardolg that's a global class declared in
https://github.com/react-dropzone/react-dropzone/blob/623623e8a8363d06e098aee5eeade3927e8def55/examples/theme.css#L15

[2021-09-14 00:00] #1080 closed

[2021-09-14 00:02] rolandjitsu commented on #1088
@kambing86 gonna close this as the issue is not following the required template. If it's still valid, please reopen and provide a proper example illustrating the issue.

[2021-09-14 00:02] #1088 closed

[2021-09-14 00:06] rolandjitsu commented on #1085
I think it's the user's (the dev) responsibility to add the right accessibility tags as they may vary by use case. So I'd like to avoid adding them to the lib as it will introduce unnecessary management of these props (we'll need to let the user set them as well).

Btw, I think the docs suggest passing extra props via `getRootProps({extraProp: ...})` to avoid overriding props that the dropzone nee

[2021-09-14 00:06] #1084 closed

[2021-09-14 00:10] rolandjitsu commented on #1079
I can confirm this is happening. @ronzip that sounds like a valid reason why this would be happening. Would you like to make a PR to fix it?

[2021-09-14 00:13] rolandjitsu commented on #1077
@bmueller-sykes the folder reading is done in [react-dropzone/file-selector](https://github.com/react-dropzone/file-selector). You should move the issue there.

It's possible Firefox doesn't return the type with the current API we use in that lib to recurse the folders. It needs more investigation.

[2021-09-14 00:17] rolandjitsu commented on #1075
@atav32 @ml242 is the comment above valid? Is that how you're using the dropzone? If yes, can you try the suggestion I linked to? If it works, we can document it for future users.

[2021-09-14 00:19] rolandjitsu commented on #1072
@senorLobito it sounds like it might be a browser issue.

@bobkataboo and @saeedhemmati could you guys provide some way to replicate this? And what env you're testing in?

[2021-09-15 13:07] mcha-dev commented on #1085
I agree that it is the users' responsibility. I just thought since `getRootProps()` is attaching `onClick` event on the target, it might as well set a proper `role`.

Maybe a note [under the sample in the readme](https://github.com/react-dropzone/react-dropzone#usage) to remind users to provide proper accessibility properties would be enough then.

Thanks for pointing that out.

[2021-09-15 13:07] #1085 closed

[2021-09-15 14:32] kaleem68 opened #1090 "Unable to upload multiple files on mobile (multiple works fine on desktop)"
Testing on android phone version 8
this phone https://www.gsmarena.com/infinix_hot_s3-9421.php
it does not allow me to multi-upload or am I missing something when every I select multiple uploads it selects the one only and uploads.

[2021-09-15 15:01] #1090 closed

[2021-09-16 05:44] rolandjitsu commented on #1085
@mcha-dev feel free to make a PR with that.

[2021-09-16 12:49] eokten-homex commented on #952
@Benwick91 were you able to resolve this issue?

[2021-09-17 13:30] thusinh1969 commented on #1075
I can NOT click to open file dialog on iPhone (Safari ) IOS 14.7.1, while it works fine on PC browsers.

Steve

[2021-09-20 22:44] atav32 commented on #1075
@rolandjitsu I'm not using a webview.

I'm just trying the codesandbox example. I even tried it outside the codesandbox iframe, at https://btkpt.csb.app/, and it still doesn't work.

Looks like the only device I have this problem on is a Pixel 4a on Android 11. I'm not sure if it's specific to the Pixel 4 or to Android 11 (since I don't have another device on Android 11)

I've tried these other An

[2021-09-21 00:27] rolandjitsu commented on #1075
I have a Pixel 3 w/ Android 11 and it works on that as well. But it seems unlikely to be due to the phone and more todo with the OS or browser version or something else.

[2021-09-21 15:55] strmer15 opened #1091 "'ErrorCode' is not exported from 'react-dropzone'"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

When I attempt to use `ErrorCode.FileTooLarge` in my Typescript React project, I get the error `Attempted import error: 'ErrorCode' is not exported from 'react-dropzone'.` Looking at the ESM distribution, it looks like the enum defined in the typings

[2021-09-22 02:01] rolandjitsu commented on #1091
Yes, it's true. The typings export that type but there's no JS object for it. Would you mind making a PR to fix this? Otherwise I can do it later this week.

[2021-09-22 16:37] krnlde commented on #276
only if you have Office installed, otherwise you'll get an empty mime type.

[2021-09-22 18:31] strmer15 commented on #1091
Thanks for the reply! I've created a PR to add this to the runtime whenever you get a chance to look at it.

[2021-09-22 23:38] #1091 closed

[2021-09-23 08:13] matteofrana opened #1094 "ErrorCode enum not exported"
**Do you want to request a *feature* or report a *bug*?**

- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
The enum `ErrorCode` is not exported by the library, but only in the typings file

**If the current behavior is a bug, please provide the steps to reproduce.**

1. `import { ErrorCode } from 'react-dropzone'`
2. `if (errorCode === ErrorCode.FileInvalid

[2021-09-23 08:16] rolandjitsu commented on #1094
Should have been fixed in https://github.com/react-dropzone/react-dropzone/pull/1092.

[2021-09-23 09:07] matteofrana commented on #1094
I installed the latest version, v11.4.1, and the `ErrorCode` enum is still not exported.

[2021-09-23 11:37] cherepanov commented on #1094
ErrorCode is not re-exported from index, i think it should.
it can be imported only this way

[code]

[2021-09-23 19:08] strmer15 commented on #1094
Yeah, just noticed this too when I was testing with the change today, I'll open another PR to fix.

[2021-09-23 23:56] #1094 closed

[2021-09-24 17:58] ckorhonen opened #1097 "onDrop method not being called after selecting a file."
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

When I click the dropzone, the file dialog opens. I select a file either by double clicking or clicking the upload button on the dialog. The dialog dismisses.

About 80% of the time, nothing happens. The `onDrop` method is not called. The remaining 20

[2021-09-27 02:37] rolandjitsu commented on #1097
@ckorhonen where is the `handleDrop` prop documented? Because there's no such prop exported from this lib.

[2021-09-27 10:26] ckorhonen commented on #1097
Sorry, my mistake - I meant to type onDrop

[2021-09-28 03:46] randyou opened #1098 "ref.open() does not work"
- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
ref.open() does not work .

**If the current behavior is a bug, please provide the steps to reproduce.**
https://codesandbox.io/s/6m2dx
1. Use Chrome Version 94.0.4606.61.
2. Click the button 'open'.

**What is the expected behavior?**
Open file selector.

**Please mention other relevant information such as th

[2021-09-28 05:39] rolandjitsu commented on #1098
I'm on the same Chrome version, but Big Sur and I cannot replicate.

[2021-09-28 08:04] randyou commented on #1098
@rolandjitsu I reset my MacOS, it fixed. thks.

[2021-09-28 08:04] #1098 closed

[2021-09-28 15:24] azakero commented on #1035
Any fix for this? If I upload or drag a file, it gets re-rendered.

[2021-09-28 22:51] rolandjitsu commented on #1097
@ckorhonen ok, got it. I've just tried the basic example from our documentation in `Safari 14.1.2 (16611.3.10.1.6)` on `macOS Big Sur 11.5.2` and the `{onDrop}` cb is triggered on every select. I haven't tried v15, but I'll try it once I update.

Would you mind sharing how you're using the dropzone? Are you experiencing this when using our docs?

[2021-09-29 08:14] jmonfron opened #1099 "Add file one by one overwrite last file"
no longer works since yesterday, adding a second image, overwrites the first

[2021-09-29 08:50] rolandjitsu commented on #1099
Please use the issue template to report an issue. Otherwise the issue will be closed.

[2021-09-29 09:02] #1099 closed

[2021-09-30 01:25] atav32 commented on #1075
Ok, finally figured it out. Chrome on this one device didn't have file access permissions 🤦

Unfortunately, the browser doesn't prompt me for file access permission and the setting isn't shown in any shortcut menus the way camera permissions sometimes are. Had to dig through the privacy settings to find it.

Sorry for the wild goose chase everyone! 🦆

[2021-09-30 01:29] rolandjitsu commented on #1075
Glad you found the culprit. Are there any specific steps or behaviour that we could document for others? I wonder if the other reports in this post are related 🤔

[2021-09-30 01:29] atav32 commented on #1075
Now that I know what to look for, it seems like it's happened to a couple other devs, https://github.com/react-dropzone/react-dropzone/issues?q=is%3Aissue+permission.

Not familiar enough with the File System Access to know this, but is there a way to check for persisted permissions and show an error message if file access is denied by the browser?

[2021-09-30 01:35] rolandjitsu commented on #1075
It could be.

Basically, [file-selector](https://github.com/react-dropzone/file-selector) is the lib responsible for doing all the drop/select event handling (getting the files from the event). I'm not sure if there's an API that you can use to request permissions in Chrome. But if Chrome itself didn't have the permissions, I don't think that a web app could know that.

[2021-09-30 01:36] atav32 commented on #1075
For me, I had to go to
1. Android settings
2. Privacy
3. Permission manager
4. Files and media

And make sure Chrome (other another browser) wasn't in the "Denied" list

[2021-09-30 01:43] atav32 commented on #1075
It looks like the File System Access API can ask about the available browser permission state, https://developer.mozilla.org/en-US/docs/Web/API/FileSystemHandle/requestPermission. However, it's not implemented on Firefox and Safari...

It looks like it's part of the latest W3C draft, https://wicg.github.io/file-system-access/#api-filesystemhandle-requestpermission, so hopefully there'll be broader

[2021-09-30 01:52] rolandjitsu commented on #1075
Ok, I see.

Yeah, unfortunately that might take some time.

I don't think so. But we should definitely document this so that the users can handle it if necessary.

[2021-09-30 08:34] jslmariano commented on #917
I think they haven't either figured it out either and have used something to manually create a BLOB using a URL and then manually setting the files attributes in the drop-zone.

Have explored the codes in it, but haven't seen any parts that catered it.

[2021-09-30 17:04] ml242 commented on #1075
Hello all, I didn't have access to play with the Android app but it looks like a permissions problem and this is adding to the evidence.

So - not a bug in this lib.

[2021-10-02 18:45] andrekat commented on #1035
i am facing the same problem .. what do you mean by applying the handling function directly? can you share your code? thanks!

[2021-10-06 14:58] rpsirois opened #1101 "Missing example for React without JSX"
- [ ] I found a bug
- [X] I want to propose a feature

**What is the current behavior?**
Unable to get examples to work.

**If the current behavior is a bug, please provide the steps to reproduce.**
Examples require JSX.

**What is the expected behavior?**
If this is a React library, then it should work with React and not require JSX (per https://reactjs.org/docs/react-without-jsx.html).

**If thi

[2021-10-06 20:15] rpsirois commented on #1101
[code]
[code]

This code results in the #useCallback call throwing `Error: Invalid hook call.` (React 17.0.2).

[2021-10-20 05:26] e-hop commented on #1080
i'm faving the same issue. Just dragged the example and the css doesn't shows

[2021-10-24 02:58] juanvicareer commented on #1035
`    const {getRootProps, getInputProps} = useDropzone({
        accept: ".csv",
        onDrop: (acceptedFiles) => {
            setFiles(
                acceptedFiles.map(file => Object.assign(file, {
                        preview: URL.createObjectURL(file)
                    })
                )
            )
        }
    })`

Anyone know why my entire component re-renders whenever I drag

[2021-10-26 13:44] youngheart12 opened #1103 "URGENT :Click is not working any more on drop zone."
I suddenly realised that dropzone is only supporting the dragged file now not on click, i thought it is a bug that i introduced but on looking to your repo and or live example at this https://react-dropzone.js.org/
i found it is not working here also,

**It can affect lot of service depended on you,**

[2021-11-10 01:40] meglio commented on #805
Turns out it's easier to implement a component from scratch than to wait for all the fixes to happen :)

<img width="277" alt="image" src="https://user-images.githubusercontent.com/282177/141033595-4efa1900-f168-4579-ab7d-6f57a4828b1b.png">

By this I just wanted to say to all those who find the react-dropzone not enough - you can do it! It just took me half a day to build the component that you c

[2021-11-10 13:54] HavermansStef commented on #1103
Not really. Also experiencing the issue on Chrome 95 and on Firefox.

[2021-11-12 01:39] rodolphoasb commented on #805
@meglio the UI/UX looks awesome could you please share the repo of this component?

[2021-11-13 00:14] Snouzy opened #1104 "isDragReject evaluated to false on the border of the dropzone container"
**Do you want to request a *feature* or report a *bug*?**

- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
The isDragReject is evaluated to false during if we stay at the border of the container.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Take a file
2. Drop it like near the border of the container and stay there
3. Go

[2021-11-13 00:16] #1104 closed

[2021-11-13 01:59] meglio commented on #805
@rodolphoasb it would be a pleasure for me to do so, but it's tighthly integrated into the proprietary CRM I'm working on, so it's not a separate repo. I just wanted to make sure people understand it is easy and super quick to build your own, and encourage them to do so.

[2021-11-15 11:43] bobkataboo commented on #1072
@rolandjitsu I have done further testing using the [basic example](https://react-dropzone.js.org/#section-basic-example). Here are the results:

System: Ubuntu 20.04.3 LTS
Browser: Version 1.31.91 Chromium: 95.0.4638.69 (Official Build) (64-bit)
Doesn't work
The same system using Firefox it works.

System: M1 macOS Big Sur -  11.5.1
Browser: Version 1.31.91 Chromium: 95.0.4638.69 (Official Build)

[2021-11-16 07:42] xama commented on #146
Hello how I can submit  the base64 converted file instead of simple file object ? thank you

[2021-11-17 10:03] swoppy commented on #1103
It works for me now on Chrome 96

[2021-11-17 10:37] spoeken commented on #927
How do you fix this?

[2021-11-17 11:05] kirx76 commented on #927
Try to update library, just checking my old code, removed "//@ts-ignore" and theres no errors now

[2021-11-18 11:24] shlroland opened #1105 "How can I disable folder to be dropped ?"
`react-dropzone`: 11.0.1
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**
a folder c

[2021-11-23 11:51] AbilityMaster opened #1106 "fileRejections and prop validator doesn't work correctly"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

When i use hook useDropzone with prop validator and get fileRejections from hook, i get the error: `TypeError: Cannot read properties of undefined (reading 'map')`, because of fileRejections is undefined. Logic in validator also doesn't work.

**If th

[2021-11-23 20:34] #1106 closed

[2021-11-26 17:06] fosteman commented on #1103
Same issue here. Version 95.0.4638.69 (Official Build) (arm64) - does not click in the sandbox nor in my react build https://codesandbox.io/embed/vigorous-wildflower-trymo

[2021-11-26 17:07] fosteman commented on #1103
Just updated to Version 96.0.4664.55 (Official Build) (arm64), and it works again.

[2021-12-07 15:33] CWSites commented on #860
I realize this is closed, but I'm wondering if @michaelcohen716 ever setup a way around this? I haven't noticed any lag time on my end but it's a requirement for a project that I'm working on and I didn't see anything related in the `file-selector` repo.

[2021-12-07 18:54] michaelcohen716 commented on #860
don't remember exactly but i don't think there was any native solution here. sorry!

[2021-12-08 17:18] CWSites opened #1107 "Document that using <input> inside a <label> triggers a 2nd click event"
On closer inspection, this issue is solved by passing `noClick: true` to the `useDropzone` hook. Maybe this behaviour should be enabled by default when the root element is a `label` element?

_Originally posted by @Stopa in https://github.com/react-dropzone/react-dropzone/issues/182#issuecomment-766799517_

[2021-12-10 03:47] codeBoCode commented on #1072
Hello,

We're having a lot of users with this issue. They're using French OSX.

Please let me know if I can provide you with more information.

[2021-12-10 16:48] chriswhong opened #1108 "Browser file picker opens twice when using `open()` and `useDropZone()`"
I observed this when using v11.4.2 and trying to progammatically open the file picker.  It would ignore the first selection, open the picker again, and then would work as expected.

I tried things in https://github.com/react-dropzone/react-dropzone/issues/182 to no avail.  In the end I was able to work around it by using `e.stopPropagation()` to intercept the call to `open()`

[code]

[2021-12-14 09:51] tommyka opened #1110 "Accessibility improvement"
I have noticed that when using ```useDropzone``` the root element don't get any role or aria-label.

Because the root element gets to be focusable and essentially works as a button, it could be a good idea to use the role attribute to make screenreaders read it out as a button.

That together with a label prop in ```useDropzone``` that set a aria-label on the root element so it will be read out li

[2021-12-15 11:06] motifdev commented on #962
same issue

[2022-01-08 12:41] Marius-AdamDT opened #1114 "Incorrect styles applied when attempting to drop a file > set maxSize"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Incorrect styles are applied when attempting to drop a file > set maxSize.

**If the current behavior is a bug, please provide the steps to reproduce.**

1 .Created a [Code Sandbox that reproduces the bug](https://codesandbox.io/s/blazing-wildflower-y5

[2022-01-08 15:58] Ishu1998 commented on #1080
I had to import it manually, works...

[code]

[2022-01-10 02:58] rolandjitsu commented on #1114
I cannot reproduce in Chrome 96.0.4664.110, macOS.

[2022-01-10 02:59] rolandjitsu commented on #1110
@tommyka that sounds like a great improvement. Please make a PR with that.

[2022-01-10 03:00] rolandjitsu commented on #1108
Would be great to provide a way to reproduce this as the example from https://react-dropzone.js.org/#section-opening-file-dialog-programmatically works as expected.

[2022-01-10 03:02] rolandjitsu commented on #1107
@CWSites I'd appreciate it if you follow the issue template to describe what the issue is.

[2022-01-10 03:03] rolandjitsu commented on #1105
You cannot. You can see the constraints you can use at https://react-dropzone.js.org/#src.

[2022-01-10 03:03] #1105 closed

[2022-01-10 03:05] rolandjitsu commented on #1103
It doesn't seem to be an issue with this lib, or I don't see how to fix this, so I'll close it for now.

[2022-01-10 03:05] #1103 closed

[2022-01-10 09:22] Marius-AdamDT commented on #1114
Chrome Version 97.0.4692.71, macOS.
Dropped file size 23MB

https://i.gyazo.com/b5eaec018c55fa63a1e8cc2a15398ae6.gif

[2022-01-10 15:37] GSuggitt opened #1115 "Typescript error raised for catch variable"
I am using 2.11.0

**Do you want to request a *feature* or report a *bug*?**

- [x ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
I recently upgraded to Typescript 4.5.4, but I believe this is an isse with any Typescript after 4.4

Upon compiling my code I get the error:
node_modules/react-dropzone-uploader/dist/Dropzone.tsx:504:44 - error TS2571: Object is of

[2022-01-10 21:49] orbachar opened #1116 "Inject block programmatically?"
Hi I wonder if is there a way to inject a new block to editor js, programmatically, from an outside event, while allowing to edit the content with the regular behavior of ```onChange``` prop.

the way I though of doing that, was to listen to onChange prop as usual, get the blocks on save, and when an outside event happens, push a new block to the content returned from ```onChange```, and pass it o

[2022-01-11 02:23] rolandjitsu commented on #1115
@GSuggitt if you check https://devblogs.microsoft.com/typescript/announcing-typescript-4-4/#use-unknown-catch-variables, the way to handle errors is:
[code]

On a side note, the [stack](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/stack) property is a non-standard property.

[2022-01-11 02:26] rolandjitsu commented on #1116
@orbachar I'm not sure I follow. The dropzone is not an editor. Maybe you submitted the issue to the wrong repo?

[2022-01-11 06:43] orbachar commented on #1116
lol you are right. sorry wrong repo

[2022-01-11 06:43] #1116 closed

[2022-01-12 04:07] rolandjitsu commented on #1115
Are you taking about the shared example above or which code?

In any case, I think that using `err instanceeof Error` should work as typescript will infer the type from there. Which is what they suggest doing too in the link I shared.

[2022-01-12 21:36] GSuggitt commented on #1115
It is not MY code that is failing, it is YOURS

When I build my project I get the error:

node_modules/react-dropzone-uploader/dist/Dropzone.tsx:504:44 - error TS2571: Object is of type 'unknown'.

504       console.error('Error Upload Params', e.stack)

and YOUR code is:

  uploadFile = async (fileWithMeta: IFileWithMeta) => {
    const { getUploadParams } = this.props
    if (!getUploadParams) r

[2022-01-13 04:11] rolandjitsu commented on #1115
I haven't mentioned anything about that in my comment. I simply asked which code you were talking about that it doesn't compile. And I provided a suggestion for how to handle it which is what the typescript team suggests doing.

I've actually just noticed that you're reporting the issue in the wrong repository. You may want to head to https://github.com/fortana-co/react-dropzone-uploader and repor

[2022-01-13 04:11] #1115 closed

[2022-01-13 15:08] ppanthony commented on #1114
I can confirm I'm also seeing this behaviour.

Seems to stem from the fact that draggedFiles is a data transfer item object as opposed to a real file on drag over, but the fileMatchSize function checks each dragged file for a .size key, which it cant find. As such, it returns true out of the the fileMatchSize function.

`const isDragAccept = fileCount > 0 && allFilesAccepted({ files: draggedFiles,

[2022-01-14 02:21] ongopongo commented on #888
I'm seeing this issue with the latest version of `react-dropzone`.

[code]

I see the issue whether I set the `accept` prop to an array of strings (e.g. `[".p12"]`) or to a string (e.g. `".p12"`), where each string is a file extension (i.e. suffix) as opposed to a MIME type.

I don't understand why this Issue is still closed.

[2022-01-14 04:31] rolandjitsu commented on #1114
Ah, yes. I missed the accept prop. I was using a zip file to test, which didn't match the accept and worked as expected.

Yes, during drag, we don't have access to the file data, so we cannot tell what's its size (at least that was the case at the time I've worked on the implementation).

So I'm not sure if we can do anything about that.

[2022-01-14 08:29] ppanthony commented on #1114
@rolandjitsu - https://developer.mozilla.org/en-US/docs/Web/API/DataTransferItem/getAsFile - I came across that method when investigating, haven't tried it out or anything but wondering if if is relevant here, or if the datatransfer item object is more internal than that.

[2022-01-14 11:38] sirdawidd commented on #823
I had same issue and even on Fabric side everybody recommend to use eventBubblingEnabled. Otherwise it does not work.

[2022-01-17 06:55] rolandjitsu commented on #1114
@ppanthony yeah, that's the API we use (if you checkout the [file-sector](https://github.com/react-dropzone/file-selector) lib which react-dropzone uses).

Yes, I've been down that road and the conclusion was the same. There's not cross-browser reliable way of getting all the info we need in order to accurately set the  `isDragAccept`/`isDragReject` props while dragging.

No worries.

[2022-01-17 16:33] Marius-AdamDT commented on #1114
Thank you both @rolandjitsu, @ppanthony  for taking the time to look into this and the detailed explanations. Feel free to close the issue

[2022-01-19 13:13] Newpoki commented on #1097
I've experimented the same issue, but when trying to upload twice in a row the same file.

I upload it a first time, it works, the `onDrop` callback is called.
If i upload the same file a second time, it's not triggered, but if it's a different file, it will work

[2022-01-20 11:33] sirdawidd opened #1117 "Upload conent from external storage or directly from zip"
Does anybody tried to upload directly from WinSCP client or zip client?
It seems it populating all data except that file content is not being copied.
So if you tried to copy paste file from zip explorer or winscp (other software like outlook attachments since they are stored on local drive works fine)
You get

[code]

[2022-01-28 16:55] SaraRavasio commented on #861
I'm using 11.5.1 and still failing, any updates?

[2022-01-29 03:16] rolandjitsu commented on #861
@krungta-mdsol @SaraRavasio could you open a new issue and provide a way to reproduce. Do note that while dragging, we cannot get any file info (such as file size), so the `isDragReject` is unreliable, until the drop event happens.

[2022-01-29 05:42] parth-r-parmar commented on #890
Still having issue in react-dropzone@11.5.3 when i am passing **accept** as ".mp3" or "audio/mp3" and dragging xyz.mp3 file, isDragReject : true

Work as expected if i passed **accept** as "audio/*". But not when **accept**:".mp3"  or  accept:"audio/mp3"
But what if i want only ".mp3" ?

![Screenshot (100)](https://user-images.githubusercontent.com/71545063/151649099-fdbbe14f-a665-4b63-a03d-2724a3

[2022-01-29 22:11] rolandjitsu commented on #1117
@sirdawidd would you mind sharing some screencast or more details of what you're doing?

There might be a chance that what you're trying to do may not be supported.

[2022-01-29 22:12] #1114 closed

[2022-01-30 01:15] rolandjitsu commented on #1097
@ckorhonen @Newpoki I've actually tried to reproduce in Safari and I still cannot get the same behaviour you describe.

https://user-images.githubusercontent.com/1479737/151683029-d9fe3a75-c3b5-44c0-903d-69d4d1dbdb1e.mp4

[2022-01-30 01:26] rolandjitsu commented on #1108
@chriswhong here's an illustration of the example working as expected:

https://user-images.githubusercontent.com/1479737/151683160-950536f8-d4d1-4bdf-b4bf-5f08f3edcb4c.mov

From the docs, also note this:

[2022-01-30 01:40] rolandjitsu commented on #1107
The issue with using a `<label>` is a known issue (it should be common knowledge to the average frontend dev - clicking a label triggers click on the `<input>` if it's nested under - see [SO](https://stackoverflow.com/a/19249286/1092007)). I attempted a fix in https://github.com/react-dropzone/react-dropzone/pull/817, but that introduced other issues, so it got reverted in https://github.com/react

[2022-01-30 01:42] rolandjitsu commented on #182
Please check https://github.com/react-dropzone/react-dropzone/issues/1107#issuecomment-1025046644 for more info.

[2022-01-30 01:44] rolandjitsu commented on #1101
@rpsirois I've never attempted doing this, but I guess it's worth investigating if we can make it work.

[2022-01-30 04:12] rolandjitsu commented on #1079
Gonna attempt to fix this if possible.

[2022-01-30 06:54] daskon commented on #805
thanks. it works for my nextjs app

[2022-01-30 11:59] rolandjitsu commented on #1079
Hmm, it seems to be difficult to fix due to the nature of how the change event is triggered (larger files take longer to trigger the `onchange` evt, so the `onfocus` event on the window - which we use to trigger oncancel - is triggered way earlier). Gonna try to find some way to fix it, otherwise this will just be like that until the [File System Access API](https://developer.mozilla.org/en-US/doc

[2022-01-30 13:41] rolandjitsu commented on #1110
Actually, this is up to the user (shouldn't be forced by us if the user decides not to allow click). So if you'd like to set any extra props, you can easily do so via:
[code]

Note the `...getRootProps({className: 'dropzone', 'aria-label': 'dropzone'})` which sets `aria-label`.

Are are you asking for something else?

[2022-01-30 13:51] rolandjitsu commented on #1031
Related to https://github.com/react-dropzone/react-dropzone/issues/1079. And I'm not sure we can fix this in any way. There's some promising APIs being worked on to allow file system access and part of that also handling cancelation events.

But as I see it today, the `onFileDialogCancel` cb is pretty useless for files beyond a few MB. If the file is large, the timeout we have set to check if file

[2022-01-31 12:05] Sandeep06Dev opened #1121 "React 18 Support"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

1. Unable to install react-dropzone with react18.rc version.

**What is the expected behavior?**

**It should be supported as react 18 will be launched by next month**

[2022-02-01 16:25] RubenRodrigues26 opened #1122 "Doesnt find mimetype (application/vnd.ms-outlook) for .msg files. isDragAccept takes files: draggedFiles, and the type in here comes empty."
**Do you want to request a *feature* or report a *bug*?**

- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Current behaviour in steps.
**If the current behavior is a bug, please provide the steps to reproduce.**

1.Drag a .msg file into the dropzone.
2.As an example if you have a custom feature where rejected files makes the dropzone red, it shows red.
drag

[2022-02-01 17:41] dav92lee commented on #888
Seeing this issue with STLs on:

[code]

[2022-02-01 23:54] rolandjitsu commented on #1122
@RubenRodrigues26 have you read through [accepting specific file types](https://react-dropzone.js.org/#section-accepting-specific-file-types)? There's a good chance that there's nothing we can do about it.

[2022-02-02 00:09] RubenRodrigues26 commented on #1122
Hi,

Yes I have read this and either doesn't work for .msg file because for some
reason can't find the mimetype and it's a bug or could be a browser issue
with .msg files it's that's the case then I suppose it fall inter your
documentation for browser limitation, so I guess the question is really
that should it find the mimetype for .msg files?

A terça, 1/02/2022, 23:54, Roland Groza ***@***.***>

[2022-02-02 00:16] rolandjitsu commented on #1072
Unfortunately, I don't think there's anything we can do from our side. This sounds like a browser issue. This lib listens for change/drop events and then gets the file(s) and forwards to callbacks, there's nothing else that we do which would explain this behaviour. We do set `path` and `type` on files, which is inferred from `name` or `webkitRelativePath` if it exists, but that's as far as we go w

[2022-02-02 00:16] #1072 closed

[2022-02-02 00:22] rolandjitsu commented on #1122
@RubenRodrigues26 it sounds like a browser limitation in the sense that it doesn't understand the mime type for that file. If you check [common MIME types](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types), the file ext is not shown there.

The only thing we can do is set the type in [file-selector](https://github.com/react-dropzone/file-selector/blob/d48d9b

[2022-02-02 03:50] rolandjitsu commented on #1122
Just pushed https://github.com/react-dropzone/file-selector/commit/8bf52d4d288825d292c0e0d25c46a5f734ba6700 which should help set the right MIME type on the file object.

[2022-02-02 03:56] rolandjitsu commented on #1077
I can confirm this happens in Firefox. Gonna try to see if it can be fixed.

[2022-02-02 04:21] rolandjitsu commented on #1077
Ok, I think this got fixed with https://github.com/react-dropzone/file-selector/commit/8bf52d4d288825d292c0e0d25c46a5f734ba6700.

https://user-images.githubusercontent.com/1479737/152092563-03d06afc-b410-4f35-82f8-bcea87f642f4.mp4

And the version got bumped in https://github.com/react-dropzone/react-dropzone/pull/1123 which I'll merge soon.

[2022-02-02 04:26] rolandjitsu commented on #1121
An example would be preferred.

[2022-02-02 04:28] rolandjitsu commented on #1110
Gonna close for now as I think that being explicit, rather than implicit, is a better option. And some users may want to set different role and aria-label than what we decide on.

[2022-02-02 04:33] rolandjitsu commented on #1052
@helgardferreira I'd assume option 1 would be the best approach (preact should keep their type definitions up to date). So with that in mind, I'll close this. If option 2 is something you seek, please feel free to make a PR with the adjustments.

[2022-02-02 04:33] #1052 closed

[2022-02-02 04:45] rolandjitsu commented on #1069
It's possible to access the input ref, available as `inputRef` from the return values of `useDropzone`. But changing the internal state of the input may result in undesired behaviour.

I need more info to understand what you're trying to achieve and what the issue is.

1. Are you using `<form>` as the root element for the dropzone? Are you wrapping the dropzone in a form or the other way around?
2

[2022-02-02 04:52] rolandjitsu commented on #1108
@chriswhong another note is that if you bind the `open` to `onClick` on some element inside the dropzone, it will definitely trigger twice because of how events are bubbling up the DOM tree. This is actually explained in https://github.com/react-dropzone/react-dropzone/pull/1123 which I'll merge soon.

To get around it, you can use `noClick` on the dropzone (`useDropzone({noClick: true})`). Or sto

[2022-02-02 05:07] rolandjitsu commented on #945
I'm on Android 12 on a Pixel 3 and the current docs site (which is on react-dropzone v11.5) seems to work w/o issues.

https://user-images.githubusercontent.com/1479737/152096064-605940a1-f218-4082-bd30-fac17ba31132.mp4

[2022-02-02 05:10] meetdheeraj commented on #1097
For me, this isn't working even for the first time. I'm using React 17+
`import Dropzone, { useDropzone } from 'react-dropzone';
...

<Dropzone
              onDrop={(acceptedFiles, fileRejections, event) =>
                console.log('***************', acceptedFiles, fileRejections, event)
              }
              onDropRejected={lol => console.log('##########3', lol)}

              {({ ge

[2022-02-02 05:16] rolandjitsu commented on #1075
Since the culprit was permissions and considering that the file system access API is still a draft, I'm gonna close this issue. For any other issues, unrelated to this, please open a new issue.

On a side note, I've started using the file system access API in https://github.com/react-dropzone/react-dropzone/pull/1123 to open the file picker, so it may be a good time to start using the `requestPerm

[2022-02-02 05:16] #1075 closed

[2022-02-02 08:06] RubenRodrigues26 commented on #1122
Hi,

Makes sense so the only think that could make it work it's to extende the
drop zone functionality and make also take the name and therefore the file
extension at the drag time so it could recognize any file?

A quarta, 2/02/2022, 03:50, Roland Groza ***@***.***>
escreveu:

[2022-02-02 08:28] tommyka commented on #1110
As long as you are making something that behaves like a button, a blind or low-sight user should be told that its a button.
This should be the default, then it could be overwritten but the developer if they want another role.

If its up to the developer to set everything, then it don't make sense that it makes a click listener on with getRootProps without explicitly being told to make it clickable

[2022-02-02 08:47] rolandjitsu commented on #1122
Some data is not accessible during drag and there's nothing we can do about that. Whatever is possible is already implemented.

[2022-02-02 08:48] rolandjitsu commented on #1110
Sure, we can do that. Add a default `role='button'`.

[2022-02-02 08:54] RubenRodrigues26 commented on #1122
Hi Roland,

Thank you for the feedback and your time really appreciated, usually it's a
hard thing to accept, in software development, that something doesn't work
but sometimes that's the hard reality. Have a great day we can
resolve/remove this issue.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://w

[2022-02-02 09:04] rolandjitsu commented on #1110
Will be solved by https://github.com/react-dropzone/react-dropzone/pull/1124.

[2022-02-02 09:17] rolandjitsu commented on #1122
You can check the [spec](https://html.spec.whatwg.org/multipage/dnd.html#security-risks-in-the-drag-and-drop-model) and read more [here](https://stackoverflow.com/a/28487486/1092007). What that means is that we can only see the `kind` and `type` while dragging (`ondragstart` event). So as long as you use MIME types for `accept` and not file extensions, we can validate. But also note that if you dr

[2022-02-02 09:17] #1122 closed

[2022-02-02 09:27] rolandjitsu commented on #888
@Popov85 @nterol @NicolasZim and others. Yes, that's expected. As in, we can only do MIME type validation during the drag operation, file extensions will not work until dropped (due to browsers not allowing it for security reasons). Even that may not work if the extension is not a known one (see [react-dropzone/file-selector/src/file.ts#L1](https://github.com/react-dropzone/file-selector/blob/8bf5

[2022-02-02 09:30] rolandjitsu commented on #1097
Are the examples at https://react-dropzone.js.org/ working for you?

[2022-02-02 09:39] meetdheeraj commented on #1097
Oops, sorry. I got it working now. I was using dropzone on a modal window. After adding `noDragEventsBubbling: true` it started working. Still couldn't get it working with `<Dropzone ` syntax though but the other syntax that's used in most of the examples.

[2022-02-02 09:42] meetdheeraj commented on #1097
I needed dropzone inside a modal window and seems modal window introduces some issue here. Got it working with `noDragEventsBubbling: true,` as shown below ,

[code]

[2022-02-02 12:00] rolandjitsu commented on #1097
@meetdheeraj ok. Would help if you could share a codesandbox with a similar scenario as yours so we can see if there's anything we can do.

Though, I think @ckorhonen is probably describing a different issue.

[2022-02-02 12:37] rolandjitsu commented on #1035
Gonna close this as I hope the above explanations are good enough. If not, please open a new issue with appropriate examples that illustrate what the issue is.

[2022-02-02 12:37] #1035 closed

[2022-02-03 09:33] Sandeep06Dev commented on #1121
Unable to install it using **npm install react-dropzone** command in react-18. it shows a dependency error.

[2022-02-03 14:35] Rickgrendel commented on #1080
Is it an idea to create a PR with just a normal CSS folder made for distribution? It really doesn't seem like good practice to import something from an examples folder.

[2022-02-03 21:51] rolandjitsu commented on #1080
Styling is the user's responsibility and not in the scope of this library. And the examples we provide are just that, examples, and not meant for use in production.

[2022-02-04 11:25] aidenBarrett96 opened #1127 "Click events not working on the dropzone"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Clicking on the dropzone target is not triggering the file picker to open. This is happening on our local build, production and also it looks like on the React Dropzone Docs examples: [see here](https://react-dropzone.js.org/#section-basic-example)

**

[2022-02-05 03:00] rolandjitsu commented on #1121
Could you add the error you get here?

[2022-02-05 03:30] #1107 closed

[2022-02-05 03:35] rolandjitsu commented on #1031
Closed by https://github.com/react-dropzone/react-dropzone/commit/3ad4f007d70401e1d9adbc93ba2dfd69cc8c2a27. This is the best I could do for now.

[2022-02-05 03:35] #1031 closed

[2022-02-05 03:35] rolandjitsu commented on #1079
Closed by https://github.com/react-dropzone/react-dropzone/commit/3ad4f007d70401e1d9adbc93ba2dfd69cc8c2a27. This is the best I could do for now.

[2022-02-05 03:35] #1079 closed

[2022-02-05 03:36] rolandjitsu commented on #1077
Closed by https://github.com/react-dropzone/react-dropzone/commit/3ad4f007d70401e1d9adbc93ba2dfd69cc8c2a27. This is the best I could do for now.

[2022-02-05 03:36] #1077 closed

[2022-02-05 03:37] rolandjitsu commented on #1108
Closed by https://github.com/react-dropzone/react-dropzone/commit/3ad4f007d70401e1d9adbc93ba2dfd69cc8c2a27. Added a caveats section where I've explained this and how to get around this issue.

[2022-02-05 03:37] #1108 closed

[2022-02-05 03:38] #1110 closed

[2022-02-05 03:45] #1101 closed

[2022-02-05 03:51] rolandjitsu commented on #1127
I'm on Chrome 97 on macOS Big Sur and it seems to be ok:

https://user-images.githubusercontent.com/1479737/152627689-30631ed1-7e6b-4d6d-b5c8-44ea276ba646.mov

So what's `latest` Chrome for you?

Note that there's an update that's using the new [File System Access API](https://developer.mozilla.org/en-US/docs/Web/API/File_System_Access_API). Check and see if that works.

[2022-02-05 03:52] rolandjitsu commented on #1101
@rpsirois please see https://react-dropzone.js.org/#section-no-jsx. I hope that's good enough.

[2022-02-06 01:44] rolandjitsu opened #1131 "[BUG] Version 11.6.0 not backward compatible for the accept option"
### Discussed in https://github.com/react-dropzone/react-dropzone/discussions/1130

<div type='discussions-op-text'>

<sup>Originally posted by **Seijinx** February  5, 2022</sup>
I have the feeling `11.6.0` should have been a `12.0.0` since it breaks the `accept` option for `useDropzone` no more supporting extensions filtering.

For now I have to freeze to `11.5.3` to delay an important refactor

[2022-02-06 02:00] #1131 closed

[2022-02-06 03:03] #479 closed

[2022-02-07 11:33] johnhunter opened #1138 "[BUG] Release notes for breaking change to `accept` in v12.0.0 are ambiguous"
**Describe the bug**

I don't think its clear what the breaking change to `accept` refers to in
https://github.com/react-dropzone/react-dropzone/releases/tag/v12.0.0

Does it, for example, involve a breaking change to the `accept` prop provided to `useDropzone` [documented here](https://github.com/react-dropzone/react-dropzone/blob/master/examples/accept/README.md). That uses `react-dropzone/attr-

[2022-02-07 12:53] rolandjitsu commented on #1138
@johnhunter thanks for raising this point.

To me it seemed pretty obvious we're referring to the `accept` property you can set on the dropzone (either via the `useDropzone` hook or the class component `<Dropzone>`). There's no other `accept` in the context of react-dropzone.

I also tried to describe in [caveats#file-dialog-cancel-callback](https://github.com/react-dropzone/react-dropzone#file-di

[2022-02-07 13:53] johnhunter commented on #1138
Thanks for clarifying that. So to resolve the breaking change I would change as follows?:
[code]
It should change to:
[code]

[2022-02-07 19:15] rpellerin commented on #1138
Why does the code keep expecting a string or an array of strings? See https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L99
![image](https://user-images.githubusercontent.com/5323445/152856194-6b8a7c8a-da5b-4733-9e45-a4cdbef11e35.png)

[2022-02-07 21:35] rolandjitsu commented on #1138
Ok, no. Let me try to clarify. When you use `accept=".jpg"`, the file picker when triggered by click, it will not filter because the FS access API expects what you just posted above.

That's because we do not keep a map of file ext => MIME type. But if you pass mime types `accept="image/png"`, the file picker will work because we internally turn that string into the object that the FS access API n

[2022-02-08 03:51] #1138 closed

[2022-02-08 09:17] OitaGG commented on #1127
Also not working for me. Chrome Version 98.0.4758.80 (also not working in Safari), macos Monterey.

[2022-02-08 09:19] joshuablokland commented on #1127
I have the same issue, when calling `open()`.
Only in Chrome it does not open (I'm also on version 97).
I was able to upload files by just dropping them in, but the native file picker does not open.

[2022-02-08 09:23] MaximeConan commented on #1127
I have the same issue as @joshuablokland  :)

[2022-02-08 09:31] OitaGG commented on #1127
Just a few minutes ago it didn't work. However, now everything works correctly. I have a download area with <div {...getRootProps}> and <input {...getInputProps} />

[2022-02-08 09:49] rolandjitsu commented on #1127
@OitaGG @joshuablokland @MaximeConan I'm pretty sure this is an unrelated issue to what @aidenBarrett96 is probably reporting.

It may be related to the addition of [File System Access API](https://developer.mozilla.org/en-US/docs/Web/API/File_System_Access_API).

Could you guys open a new issue and please report as much as possible as from what you're describing, I cannot reproduce the behaviour.

[2022-02-08 09:49] joshuablokland commented on #1127
Seems to be an issue with Chrome 97 then.
I've updated to the latest version of Chrome, and the native file picker opened.

<img width="359" alt="image" src="https://user-images.githubusercontent.com/2347242/152961808-898f6229-4901-482e-a4b3-d626752efa9b.png">

[2022-02-08 11:52] rolandjitsu commented on #1127
@OitaGG @joshuablokland @MaximeConan just a quick question: are any of you using non-secure contexts (HTTP instead of HTTPS, iframes with insecure content, etc)?

I've tested the codesandbox example and there it doesn't work because it's loading cross-origin resources, so it's insecure.

[2022-02-08 14:17] MaximeConan commented on #1127
Personnally no!

[2022-02-08 15:58] davbrito opened #1141 "Add the posibility of specifying the file extensions with the useFsAccessApi"
https://github.com/react-dropzone/react-dropzone/blob/650af6265c422b216eeb4c3aa77ed37605d1b3d5/src/utils/index.js#L183-L202

According to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/window/showOpenFilePicker#parameters)

For example:

[code]

There should be a way to especify the array of file extensions instead of the MIME type only.

[2022-02-08 21:46] berickson1 commented on #1127
We hit this when the react-dropzone was inside an iframe on different domains.  Parent (https://a.example.com) iFrame (https://b.example.com)

[2022-02-09 06:05] licg9999 commented on #1127
Would wonder, will we have a plan to fix the problem for Chrome 97 on Mac? 🙂

[2022-02-09 12:14] joshuablokland commented on #1127
@rolandjitsu We do have some iframes in the application, but everything is https

[2022-02-09 12:44] rolandjitsu commented on #1127
@MaximeConan then I'll probably need more context to know what's going on there.

@berickson1 ah yes. So that would definitely not work. It's the same exact issue that codesandbox has. The FS access API won't work (it throws when invoking - gonna add a `onError` cb to report errors like these).

@joshuablokland maybe you can try the following and let me know what you get:
[code]

[2022-02-09 12:45] rolandjitsu commented on #1127
Yes. There's https://github.com/react-dropzone/react-dropzone/pull/1140 which will not enable this feature unless in a secure context. It will fallback to using an input.

[2022-02-09 12:52] rolandjitsu commented on #1141
@davbrito there's a plan, see https://github.com/react-dropzone/react-dropzone/discussions/1136, to address this issue. We need to find a way that works for both the FS access API and the input click method.

[2022-02-09 13:15] rolandjitsu commented on #1127
It turns out that even if in a secure context, triggering the file picker open from a different origin is not allowed (at least not in Chrome). So gonna see if either:
1. do not use FS access API by default; let the user enable it
2. there's a security error thrown when trying to trigger it so we could fallback to input click in that case and show some warning

[2022-02-10 02:07] licg9999 commented on #1127
Thanks @rolandjitsu , I would have a try with `@12.0.2` and give an update back if met any other issues.

[2022-02-10 05:18] zhengheng7913 commented on #1127
@licg9999 hi, i have same issue in chorme 97,  after install 12.0.2 and rebuild the project, the dropzone can be droped but the click func not work.
![image](https://user-images.githubusercontent.com/39586541/153342295-24787f1a-175c-47a4-ae66-c829af31ac72.png)

[2022-02-10 13:29] zhengheng7913 commented on #1127
after update chorme to a newer version of chorme 97, everythine work fine,

[2022-02-11 15:49] joshkel commented on #1127
In case it helps anyone: I ran into problems with click events not working in Chrome 98 on the Mac.

It seemed to be a bug within Chrome, because manually invoking the File System API from Chrome DevTools console (without react-dropzone involved at all) resulted in a pending promise that never resolved:

[code]

Restarting Chrome fixed it.

[2022-02-12 13:08] rolandjitsu commented on #1127
@pahan35 @joshkel @zhengheng7913 thanks for the update. It's possible that Chrome may have had a bug. Also note that the FS access API is still an experimental technology, so you can expect issues or changes to it.

I'm still working on https://github.com/react-dropzone/react-dropzone/pull/1142 to address the issue of opening the file picker from an iframe that uses cross-origin resources.

[2022-02-13 03:00] rolandjitsu commented on #1127
@berickson1 @joshuablokland just released https://github.com/react-dropzone/react-dropzone/pull/1142, could you guys try it out and let me know if the file picker opens now (you'll need the input as we fallback to it)?

[2022-02-14 07:23] qpido commented on #1110
Suggestion for improvement:
do not add the role by default if setting 'noClick: true'.
I'm using the whole viewport as a drop area so imho the role doesnt make sense in this case.
What do you think?

[2022-02-14 18:13] marcus-franzen commented on #1072
I've experienced this problem, but in the end it was not due to react-dropzone but a validation check comparing an AWS S3 URL to the file name with `if (url.includes(encodeURI(file?.name)))`. It seems that Safari is messing up encodeURI and therefore this comparison was always false.

[2022-02-14 21:15] rolandjitsu commented on #1110
That makes sense.

[2022-02-15 20:22] Nate-Wilkins opened #1145 "Setup to allow autoFocus to work or something similar"
When setting up react-dropzone there's no good way to auto focus the element.
I've tried using refs and auto focusing after mount but it doesn't work.

Is there a way to get this built directly into the library?

Does anyone know if there is a workaround to this?

Here's a sandbox demonstrating the problem.
https://stackblitz.com/edit/react-ts-kax8n9

[2022-02-16 11:44] zapetin52 commented on #753
@jlarmstrongiv thank you! Your solution works like a charm for me!

[2022-02-17 15:51] jaffemd commented on #1127
Hi! I just ran into the same issue and I think I finally isolated what's causing it. It is only happening on Safari for me, Chrome and Firefox function as expected.
Versions:
`react-dropzone`: `12.0.2`
Safari: `Version 15.3 (16612.4.9.1.7, 16612)`
macOS Big Sur 11.6

The issue seems to be when trying to assign a custom input id for the file input. With this code below, I'm only seeing the `onDrop`

[2022-02-17 15:54] jaffemd commented on #1097
Hi! I just ran into the same issue and I think I finally isolated what's causing it. It is only happening on Safari for me, Chrome and Firefox function as expected.
Versions:
`react-dropzone`: `12.0.2`
Safari: `Version 15.3 (16612.4.9.1.7, 16612)`
macOS Big Sur 11.6

The issue seems to be when trying to assign a custom input id for the file input. With this code below, I'm only seeing the `onDrop`

[2022-02-19 05:35] annkay108 opened #1146 "Draggable html elements don't trigger onDrop."
[code]

[2022-02-19 06:17] annkay108 commented on #1146
import React from "react";
import { useDropzone } from "react-dropzone";

function MyDropzone() {
  const { getRootProps, getInputProps } = useDropzone({
    onDrop: () => alert("on drop triggered")
  });

  return (
    <>
      <div {...getRootProps()}>
        <input {...getInputProps()} />
        <p>Drag 'n' drop some files here, or click to select files</p>
      </div>
      <img
        sr

[2022-02-20 13:27] rolandjitsu commented on #1145
Could you share what you tried? Maybe a codesandbox?

[2022-02-20 13:29] rolandjitsu commented on #1146
@annkay108 this lib does not address draggable elements, only files. For that, please use something like https://react-dnd.github.io/react-dnd.

[2022-02-20 13:29] #1146 closed

[2022-02-20 18:59] WebMasterSam commented on #966
Same concern here. Since it's easily handled in the backend (converting it to JPG for example), this component should accept this file type (HEIC and HEIF) as images.

[2022-02-20 22:22] rolandjitsu commented on #966
@WebMasterSam I'm not quite sure what the issue is. This lib does not process files. Could someone explain?

[2022-02-20 22:45] WebMasterSam commented on #966
I have a dropzone, added the "image/heic" and "image/heif" as accepted content types. Dragging a file always gets on the fileRejection handler...

![image](https://user-images.githubusercontent.com/3845583/154867725-232b50d5-2250-42b9-a5b1-91ca65e3cd79.png)

[2022-02-21 20:50] hellenfc opened #1147 "[BUG] Dialog box is unresponsive"
**Describe the bug**
File dialog opens but it's not clickable. I can't close it, scroll or choose a file using the mouse.

**To Reproduce**
- Using a Mac. Tested in Firefox and Chrome
https://react-dropzone.js.org/#section-opening-file-dialog-programmatically
- In this  example click the file dialog
- Try to choose a file
- It won't respond

**Expected behavior**
One file dialog is opened I can ch

[2022-02-22 14:16] #1147 closed

[2022-02-23 18:39] literobot opened #1148 "[BUG] Typescript error TS2322 <div {...getRootProps()}> Types of property 'onFocus' are incompatible."
react-dropzone@12.0.4,
react@17.0.2,
typescript@4.5.5

**Describe the bug**
Hi, getting the error when tring to use the example below. How to fix it?

Error:
[code]

**To Reproduce**
[code]

[2022-02-28 00:13] Nate-Wilkins commented on #1145
Sure thing! Here's a sandbox of the problem.
https://stackblitz.com/edit/react-ts-kax8n9

[2022-03-01 21:40] sborsje opened #1149 "[BUG] Previews broke in 12.0.3 + Chrome"
**Describe the bug**
I recently noticed previewing (as described in the [react-dropzone docs](https://react-dropzone.js.org/#section-previews)) isn't working anymore. When selecting an image from the user filesystem, Chrome will show a broken image placeholder instead of the actual image. I was only able to reproduce this in Chromium-based browsers (Chrome/Edge), others (Safari/Firefox) seem to be

[2022-03-02 06:12] jaredthecoder commented on #1127
@rolandjitsu Chiming in here, I noticed the same behavior with version 97 of Chrome on MacOS 12.2. So the first thing I did was update my Chrome, relaunch, and force refresh the app. Chrome was now at Chrome 99 (same OS version) and it still did not work. So then I updated to the latest version of react-dropzone (12.0.4) based on the note in #1142 that it was included by that point, and sadly it s

[2022-03-02 20:44] ECMGD commented on #962
same issue here as well, might I ask how you validated file type?

[2022-03-02 22:13] rolandjitsu commented on #966
Well, the `type` is not available and you're validating by MIME type. This is probably a browser issue as it doesn't recognise that type.

We do keep a list of known file extensions and then we set the MIME type in [react-dropzone/file-selector](https://github.com/react-dropzone/file-selector/blob/5f42ace2c72bde8371af2318b265bf8ab0dee735/src/file.ts#L1), so you could make a PR and add these to the

[2022-03-06 08:48] rolandjitsu commented on #1149
Unable to reproduce on macOS 11.6.2 (M1), Chrome 98.0. It's possible it may only be an issue on macOS 12, but I doubt it 😕  I won't be able to test until I upgrade my OS 😬

Can you check your console and see if there's any errors reported?

[2022-03-06 08:56] rolandjitsu commented on #1148
I assume it's got something to do with: https://github.com/react-dropzone/react-dropzone/blob/c17831433243e28e6ada34cccbc14865877be1e0/typings/react-dropzone.d.ts#L82

But the tests seem to work, though, we're using TS 4.0. I've bumped to 4.5 and I'm not getting any issues. So I will need more info to be able to reproduce.

[2022-03-06 09:07] rolandjitsu commented on #1145
Thanks. Yeah, the `input` is not displayed, so you cannot focus. Try [w79ely](https://codesandbox.io/s/react-dropzone-example-forked-w79ely?file=/src/App.js), let me know if that's what you're looking for.

[2022-03-06 09:24] rolandjitsu commented on #1145
I'm thinking it may be useful to have an `autoFocus` 🤔

[2022-03-06 09:33] rolandjitsu commented on #1097
@jaffemd I know that using `label` with root props triggers 2 clicks. But what you're describing doesn't make a lot of sense (using an ID on the input shouldn't change much, unless the click is triggered from the `label` which may have an issue). I would need to test this.

[2022-03-06 09:34] rolandjitsu commented on #1121
Working on this in https://github.com/react-dropzone/react-dropzone/pull/1144, just not sure how to release (maybe as RC from the next branch 🤔 ).

[2022-03-06 09:37] rolandjitsu commented on #1127
@jaredthecoder thanks. I'm not sure if it helps 😆  So Chrome 99 on macOS 12.2 w/ react-dropzone v12.0.4 doesn't work, but Safari 15.3 works?

[2022-03-06 13:50] sborsje commented on #1149
Yup! But it's not very helpful: `net::ERR_FILE_NOT_FOUND`.

I also tested with Chrome Canary (Version 101.0.4927.0 (Official Build) canary (arm64)), but I got the same result.

![Screenshot 2022-03-06 at 14 46 30](https://user-images.githubusercontent.com/28392/156926130-7f50972b-c2b5-4e65-9df5-94553fdd73fa.png)
<img width="1077" alt="Screenshot 2022-03-06 at 14 44 59" src="https://user-images.git

[2022-03-07 23:32] stevebeauge commented on #1148
I have exactly the same issue.

I can workaround this by changing `<div/>` to `<span/>`

What it puzzling me, is that it worked at some point, unless I added new dependencies. Seems something is interfering (can't find what for now).

[2022-03-07 23:55] stevebeauge commented on #1148
Hum, I think I get a solution.

I move in my `devDepencies` from

[code]
to :
[code]

My project use react 1.13.1 and TS 4.2

To be honest, I don't get what it means, I just hope this will help.

[2022-03-08 01:40] rolandjitsu commented on #1148
@stevebeauge ok, good to know it got fixed with a newer version of the react types. There might have been a bug or something in the version you used. Gonna close for now. If there's other issues you encounter, please feel free to open a new issue.

[2022-03-08 01:40] #1148 closed

[2022-03-08 09:45] webdiego commented on #252
Adding in onClick the functions: e.stopPropagation(),  e.preventDefault() and open();  it fixed the issue

[2022-03-08 11:27] 1Jesper1 opened #1151 "[ENHANCEMENT] Support old drag/drop behaviour for non files"
https://github.com/react-dropzone/react-dropzone/pull/619

This PR broke usability for us, because now users can't drag and drop mails from Outlook.
Please implement a property to choose for the old behaviour.

[2022-03-08 12:09] rolandjitsu commented on #1151
@1Jesper1 would you be able to explain your use case a bit more?

[2022-03-08 12:52] 1Jesper1 commented on #1151
OnDrop was not triggered when drag and drop a Outlook mail to the dropzone from version https://github.com/react-dropzone/react-dropzone/releases/tag/v6.0.0
It seems to work from version https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.1

Reproduce:
1. Open Outlook application.
2. Drag a mail to dropzone.

[2022-03-08 20:22] emilyuhde opened #1152 "[BUG] Using Dropzone with an interactive element inside causes accessibility violation"
**Describe the bug**
If you use the Dropzone component with an interactive element inside of it, such as a button used in the "[Opening File Dialog Programmatically]()" example, it will cause an a11y issue because you have nested interactive elements. In the case of this example, it's a `<div role="button">` around a `<button>` but the same will be true if you use a link instead.

**To Reproduce**

[2022-03-09 10:25] Unsleeping opened #1153 "[BUG] .mov file convert by intself into .gif in safari 15.3"
**Describe the bug**
If u put the .mov file into dropzone and log that, u will see that it has .gif extension

ONLY REPRODUCE in safari 15.3

**To Reproduce**
Steps to reproduce the behavior:
0. Open Safari 15.3
1. Go to https://codesandbox.io/s/smoosh-wave-ckjxc8?file=/src/App.js
2. Click on Dropzone
3. Select file with .mov (maybe with another extensions same problem)
4. See console with .gif fi

[2022-03-09 13:24] rolandjitsu commented on #1151
@1Jesper1 I understand what you're asking. But I don't see how that relates to files. Is the mail a file? Or how does it work?

Bringing back that behaviour will most likely break other things, so I want to understand the use case better to see if there's a way to impl. w/ breaking more things.

[2022-03-09 13:34] rolandjitsu commented on #1152
This was probably introduced by https://github.com/react-dropzone/react-dropzone/commit/207282b801596059d938c418f21291a00ba3c917. I wonder which is the most widely used scenario so that we can decide if we remove the default `button` role or keep it.

[2022-03-09 13:48] 1Jesper1 commented on #1151
@rolandjitsu Since the functionality was fixed in version 8.0.1, there is no further investigation needed!

[2022-03-09 13:48] #1151 closed

[2022-03-09 13:52] rolandjitsu commented on #1153
Interesting. That must be the type that Safari reports because if we'd set it, it would be `video/quicktime` (see [file-selector/src/file.ts#L81](https://github.com/react-dropzone/file-selector/blob/5f42ace2c72bde8371af2318b265bf8ab0dee735/src/file.ts#L81)).

You could easily test it by changing the `getFilesFromEvent` to a custom func and logging the dropped file there.

[2022-03-09 13:52] rolandjitsu commented on #1151
@1Jesper1 I'm glad it all worked out!

[2022-03-09 14:07] rolandjitsu commented on #1149
@sborsje it actually does help, sort of. The issue must be with https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL. It seems the images loaded from that are not rendered anymore. Needs more investigation.

[2022-03-09 14:55] emilyuhde commented on #1152
A possible solution would be adding a valid override to this example, if having the default role of "button" is the most common case.

`<div {...getRootProps({role: 'presentation'})}>`

[2022-03-11 21:13] muhaymin-bin-mehmood opened #1154 "Image Preview Production issue"
**Describe the bug**
I am using react-dropzone and it is working great in development mode but when i make a build and deploy the preview of dropzone is not showing. I also checked the console but it's clear

**Expected behavior**
![Capture](https://user-images.githubusercontent.com/72308336/157966804-97ff24d6-a9f9-429d-912f-864ce862a94e.JPG)

** Current Behavior **
Even after uploading multiple i

[2022-03-12 09:35] gudronchick opened #1155 "[BUG] onDrop callback in Dropzone component doesn't work properly for me after updating the library from v11.3.4 to v12.0.4"
I am using a Dropzone component from react-dropzone library. Inside of onDrop callback i get previous state, outside of this function - everything is ok.
The version of library i'm using is 12.0.4, which is the latest. When i used v11.3.4 everything was fine.

[2022-03-12 18:48] Unsleeping commented on #1153
I debugged smth and found that it's not your bug as you said above
add 'video/quicktime' works for me

strange that 'video/*' ignoring video/quicktime

[2022-03-12 18:48] #1153 closed

[2022-03-14 09:39] ko22009 opened #1158 "[ENHANCEMENT] fileRejections doesn't reload after removing elements"
When files upload more than specific count, we see error about max count.
If we remove files and fileRejections become less or equal maxFiles, check doesn't apper. we saw fileRejections files with errors, but errors doesn't have.

Maybe It is not provided by concept.

[2022-03-15 15:50] alexHlebnikov commented on #1149
Same problem here on same Mac OS and Chrome.

[2022-03-15 15:59] alexHlebnikov commented on #1149
Dropping back to 12.0.2 solved my problem.

[2022-03-17 05:53] RileyMShea commented on #1149
Both 12.0.4 and 12.0.2 have the same issue for me. My guess is newer chrome versions are either slower at writing the preview to disk or faster at revoking the ObjectURL(or both).

https://stackoverflow.com/a/63111446

## Current workaround

I doubt it's the best way but my current solution just adds a sleep >=100ms before the revoke so the blob has time to be written to disk. It at least seems to

[2022-03-18 03:03] ahnaf-abir commented on #966
I had a similar issue with `react-dropzone` version `12.0.2`, had to downgrade to `11.3.0` to fix the issue.

[2022-03-18 11:39] CloudPower97 opened #1161 "[ENHANCEMENT] Async Validators"
I was fiddling about with this component and one of the use cases of the application I'm currently developing requires a custom async validation.

Specifically, I need to send each files dropped/selected to an external service to do some checks.

If the checks fails then I'm going to return a `FileRejection` object otherwise I'm going to return `null`.

I would like the `validator` function to acc

[2022-03-22 13:53] Crevitus commented on #1152
@emilyuhde Thanks for this! I added `<div {...getRootProps({role: 'none'})}>` (a synonym for presentation) as it had more semantic meaning. This fixed it for me in the case where I have a nested button like in the original issue.

The docs should probably be updated to use one of these roles in the nested button example.

[2022-03-22 19:27] bhargavik12 opened #1163 "[BUG] Extending Dropzone does not work on Chrome for file dialogs"
**Describe the bug**
Tried the Extending dropzone example in https://react-dropzone.js.org/#section-extending-dropzone. The files list shows only on drag drop, but does not work when you select a file from file open dialog. It looks like the extending getFilesFromEvent is broken in chrome for file selections from file dialogs.

**To Reproduce**
Steps to reproduce the behavior:
1. Try in Chrome. Go

[2022-03-22 23:29] bhargavik12 commented on #1163
Setting useFsAccessApi to false allowed files to be added via file dialog box.

[2022-03-22 23:29] #1163 closed

[2022-03-23 22:23] paulschreiber opened #1164 "File open dialog allows everything, ignoring extensions specified in accept paramater"
**Describe the bug**
The file open dialog allows file of any type to be selected, ignoring extensions specified in the accept parameter. Likely related to #1141.

**To Reproduce**
1. Specify file extensions in your accept parameter, like so:
[code]

2. Click in the dropzone compoent.

You can see this problematic behavior here:
https://b5ree6.csb.app/

But if you use it inside codesandbox directly

[2022-03-26 05:12] rolandjitsu commented on #1164
@paulschreiber yes, this issue is related to https://github.com/react-dropzone/react-dropzone/issues/1141. So I'll close this one and track it there.

[2022-03-26 05:12] #1164 closed

[2022-03-27 13:36] rolandjitsu commented on #1141
@davbrito so I've got a PR in the pipeline which will address this. But it will be a breaking change. And there's a few things I need to cleanup before.

But the way to set the `accept` attr now is:
[code]

[2022-03-27 14:02] davbrito commented on #1141
That seems nice. If there is anything that I can do to help just tell me.

[2022-03-28 12:17] rolandjitsu commented on #1152
@emilyuhde @Crevitus I agree. I think describing the default and having an example to override makes sense. I'll try to add one the upcoming weekend.

[2022-03-29 17:06] LordZardeck commented on #1155
I'm having a different issue with onDrop, using the same version, where it gets called twice.

[2022-03-29 23:47] rolandjitsu commented on #1164
You can disable the FS access API with `useFsAccessApi: false`.

[2022-03-29 23:54] rolandjitsu commented on #1155
@gudronchick @LordZardeck it would be great if you could provide a way to reproduce this. Does this happen on the official doc site too? What is your env?

P.S. Please take the time to fill in the issue template so that it's easier to debug.

[2022-03-30 00:33] amonks commented on #1097
thanks, @jaffemd! you saved me some debugging time :)

safari 15.4; react-dropzone 11.0.3—The callback wasn't called consistently when using the label element. Removing that element worked for my use-case.

[2022-03-31 20:54] andylacko opened #1167 "[BUG] In react 18, dragging accepted file over dropzone sets isDragReject to true"
**Describe the bug**
Described in issue name

**To Reproduce**

https://codesandbox.io/s/react-dropzone-example-forked-nfvn0p

Steps to reproduce the behavior:
`useDropzone({..., accept: 'image/*'})`

drag the image (eg.) over the dropzone, it set state to `isDragReject`

**Expected behavior**
Should set isDragAccept to true

**Desktop (please complete the following information):**
 - OS: macOs
 -

[2022-04-01 07:15] afternoon2 opened #1168 "[ENHANCEMENT] File upload without clearing current file list"
**Is your feature request related to a problem? Please describe.**
Currently, the user is unable to upload multiple files one-by-one, because the file list of the input is always cleared before uploading new stuff.

**Describe the solution you'd like**
Suggested solution would be to add a boolean configuration param, for example `isFileListResetOnUpload`, or a `behavior` flag (as it is in `@dropzo

[2022-04-04 23:53] travisdahl commented on #1167
Seeing same issue in react 16

[2022-04-05 07:08] thienho1997 commented on #986
I have implemented the solution for this situation....  refer to https://react-dropzone.js.org/#section-extending-dropzone.
You can overrite the default myCustomFileGetter by my code so we can get the result as a tree directory with Files as children of folders.

async function getFile(fileEntry) {
    try {
      return await new Promise((resolve, reject) => fileEntry.file(resolve, reject));

[2022-04-05 12:58] DevNF opened #1169 "[BUG] Import .pfx file"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
3. Select file .pfx ('application/x-pkcs12 or 'application/pkcs12)

**Expected behavior**
When selecting a file of type 'application/x-pkcs12' or 'application/pkcs12', when checking the type of imported file it is empty. (This does not happen when the file is dragged, only w

[2022-04-06 12:22] noire-munich opened #1170 "[BUG] Causes MODULE_NOT_FOUND on a RedwoodJS app"
**Describe the bug**
I've installed the module on a RedwoodJS app on a dedicated branch, it causes the error code: MODULE_NOT_FOUND.

I've tried removing & recreating a fresh `node_modules` + `yarn.lock` but it didn't change much.
If I switch to main and re build these, my app works.
If I then switch to branch without reloading local server, my app works.

If I reload the local server, it doesn't

[2022-04-10 07:13] rolandjitsu commented on #1170
@noire-munich I've never used redwoodjs before. But that sounds like a build issue. This lib should be compatible with systems like webpack, so if redwood uses that, it should be working.

[2022-04-10 07:18] rolandjitsu commented on #1168
@afternoon2 the internal state of the lib is just that, internal. And I think similar issues/requests were created in the past and the suggestion was the same: use a similar approach to what you've added above. And file management is not in the scope of this lib and should be handled by the user.

[2022-04-10 07:18] #1168 closed

[2022-04-10 07:22] rolandjitsu commented on #1167
@andylacko @travisdahl this may be a [browser limitation](https://react-dropzone.js.org/#section-accepting-specific-file-types). During drag, we don't have access to the file data, as such, we cannot tell if it's rejected/accepted. But I may be wrong.

[2022-04-10 07:23] rolandjitsu commented on #1158
@ko22009 I don't follow what you're asking for. Could you, maybe, provide some pseudo code illustrating what you're asking for?

[2022-04-11 10:13] noire-munich commented on #1170
@rolandjitsu RedwoodJS uses webpack indeed.
This fixed the issue:

[code]

[2022-04-11 13:26] andylacko commented on #1167
It is probably not, because the library is working in chrome when using react 17, in safari, the accept + reject states didn't work before, because the browser has limitations in recognising files.

I believe it is due to setState "batching" logic of react 18 and those useEffect hooks are skipped, just idea 💡

[2022-04-11 13:31] pegasusflyhigh opened #1171 "[BUG] Opening File Dialog Programmatically clears all selected files"
**Describe the bug**
Opening File Dialog Programmatically clears all previously selected files regardless of whether you choose new files or click on Cancel button.

**Expected behavior**
Selected Files should persist until new files are selected from the file dialog. If user clicks on `Cancel` then previously selected files should persist.

[2022-04-11 14:41] vpfaulkner commented on #1152
For what it's worth, I'm using Bootstrap and `role="button"` is causing the cursor to have the `pointer` style for the entire dropzone (which is most of the page in my case).

`getRootProps({ role: 'none' })}` fixes it for me but I'd expect others to run into something similar given how popular Bootstrap is.

[2022-04-11 18:58] Uluwatta commented on #1149
Just noticed this issue :)

Following PR might fix this, not sure whether it's the perfect fix but making sure that the blob/data URLs are revoked after image load and component unmount will help avoid urls to get revoked before its consumption

https://github.com/react-dropzone/react-dropzone/pull/1172

[2022-04-12 02:00] rolandjitsu commented on #1170
@noire-munich is it because redwood uses a newer version? or an older one?

[2022-04-12 02:03] rolandjitsu commented on #1167
I'm not sure that's the case. See [feat/react-18](https://github.com/rolandjitsu/react-dropzone/tree/feat/react-18) which uses React 18. As far as tests go, everything is passing.

[2022-04-12 02:12] rolandjitsu commented on #1152
It sounds to me like using `button` as default may not have been a good idea. I think using `presentation` might make more sense.

[2022-04-12 07:04] noire-munich commented on #1170
@rolandjitsu more explanation here: https://github.com/redwoodjs/redwood/issues/5054#issuecomment-1091260832

RW uses storybook and there's been different versions of webpack, so the fix forces one version to be used. RW is patched now, sorry I opened an issue here - I didn't experience the aforementioned issue, a core team member saw the match.

[2022-04-12 07:04] #1170 closed

[2022-04-17 15:36] vsrc commented on #1167
Yeah, can confirm same happening with my project but only on Chrome v100.0.4896.88. Safari and Firefox are working fine. I am using React v18 and react-dropzone v12.0.5. But the bug is happening only during the drag stage, as soon as file is dropped correct file gets accepted and wrong file gets rejected.

My suggestion, if there is an issue with browser not allowing the access to the file data du

[2022-04-18 12:21] rolandjitsu commented on #1167
@vsrc fair enough. I think this needs more investigation though as it may be an actual issue.

[2022-04-21 07:18] alfupe commented on #1167
In my case it is happening in Chrome (tested versions 85 and 100) and React 18. In another project, React 17 and Chrome 100 is working fine.

[2022-04-21 15:04] emilyleblanc opened #1173 "[BUG] File picker is inconsistent in Safari Browser"
**Describe the bug**
The file picker is inconsistent when uploading image types in Safari (v.15.3). The drag and drop works but the file picker works sometimes and sometimes not for the same images.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Safari and open "https://codesandbox.io/s/react-dropzone-example-jq6d5?file=/src/App.js"
2. Click on "https://codesandbox.io/s/react-dropzon

[2022-04-21 19:31] #1173 closed

[2022-04-21 19:31] emilyleblanc commented on #1173
my mistake got it working

[2022-04-23 22:20] MuscularSloth commented on #1167
@alfupe your solution works perfect for me too. Classic mounting solves problem with isDragReject and Thumb preview.

I think it has some conflicts with new React 18 features.

[2022-04-24 08:42] inact25 opened #1175 "firefox reuploading image file return <input> picker was blocked due to lack of user activation."
[code]

[2022-04-24 10:57] aslan-alt opened #1176 "[BUG] Property 'path' does not exist on type 'File'"
**Describe the bug**
 Property 'path' does not exist on type 'File'

<img width="778" alt="Screen Shot 2022-04-24 at 18 39 17" src="https://user-images.githubusercontent.com/54422571/164972531-ce2ea9c7-d656-459a-8248-c1c0d13498a1.png">

**Expected behavior**
no type error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**

[2022-04-24 11:04] aslan-alt commented on #1175
Can you provide a more complete code?

[2022-04-24 14:12] aslan-alt commented on #1176
PR：https://github.com/react-dropzone/react-dropzone/pull/1178

[2022-04-24 19:28] inact25 commented on #1175
i have fixed this bug, I think its causing by firefox, I put input file on hover when I test on chrome, the file picker run normally, but different in firefox when the file picker window is showing, upload button on hover is lost of focus, and firefox can't handle the event

[2022-04-24 19:28] #1175 closed

[2022-04-25 18:47] travisdahl commented on #1167
There does seem to be a regression bug here though, when I used `.xls, .xlsx` in v11.1.0 it greyed out the option when i clicked to open the file chooser. This no longer happens on 12. Sorry for the back and forth, took me a min to realize what was going on

[2022-04-27 19:34] dragonfire1119 commented on #1127
I'm assuming there isn't a solution to this problem. I don't use any iframes.

[2022-04-27 23:07] kristinzinser commented on #1167
My specs:
- React v18
- React Dropzone v12.1
- Chrome v100.0.4896.127 on Mac
- example: https://codesandbox.io/s/inspiring-tdd-to1p4r?file=/src/App.js - everything that i attempt to drop sets `isDragReject` to `true` even though in the documentation example (https://react-dropzone.js.org/#section-styling-dropzone) it does not evaluate to `true` for the same files.

why is this? how do i solve this

[2022-04-30 02:47] #1141 closed

[2022-04-30 03:37] rolandjitsu commented on #1154
Should have been fixed w/ https://github.com/react-dropzone/react-dropzone/pull/1172.

[2022-04-30 03:37] #1154 closed

[2022-05-01 01:32] rolandjitsu commented on #1167
I can confirm that on React 18, the accept behaviour is not consistent or doesn't work as expected.

Side note: You don't need to pass the `isDragAccept` etc props to `getRootProps`, see https://codesandbox.io/s/trusting-leftpad-zvryj2?file=/src/App.js.

[2022-05-01 06:21] rolandjitsu commented on #1167
I think you may be right. At least it's on the right track. Reading through https://html.spec.whatwg.org/multipage/dnd.html, the data is only available throughout the duration of the drag and drop events. And I guess React 18 is now handling dispatch async, which means that our hook will most likely not get the data in time before the drag and drop operation is done.

Gonna look into some ways to

[2022-05-01 13:17] #1121 closed

[2022-05-01 13:23] rolandjitsu commented on #1167
@andylacko @vsrc @alfupe @MuscularSloth @travisdahl @kristinzinser could you upgrade to v14 and let me know if the issue is resolved?

[2022-05-01 13:48] #1152 closed

[2022-05-01 13:53] rolandjitsu commented on #1069
No activity or response, so I'm gonna close this one.

[2022-05-01 13:53] #1069 closed

[2022-05-01 13:54] rolandjitsu commented on #1117
No activity, so gonna close this.

[2022-05-01 13:54] #1117 closed

[2022-05-01 13:56] rolandjitsu commented on #1127
You're gonna need to provide more info. It may be related to a specific browser/OS version.

[2022-05-01 13:56] rolandjitsu commented on #1127
For the rest of the ppl experiencing this issue, it would help to upgrade to v14 and add the `onError` cb to see if there's any errors logged.

[2022-05-01 14:03] #1149 closed

[2022-05-01 22:39] meseven commented on #1167
@rolandjitsu I tried with v14 and the problem seems to be resolved. Thanks :)

[2022-05-02 01:50] rolandjitsu commented on #1155
No activity and no examples were provided to reproduce the issue, so gonna close. Please open a new issue and provide enough info so we can reproduce the issue if there is one.

[2022-05-02 01:50] #1155 closed

[2022-05-02 01:50] #1145 closed

[2022-05-02 01:52] rolandjitsu commented on #1158
No response, so gonna close. Feel free to provide more info and context so we can reproduce whatever issues you were trying to describe and we'll reopen.

[2022-05-02 01:52] #1158 closed

[2022-05-02 02:00] rolandjitsu commented on #1161
There're no plans for such a feature.

And I'm not sure this is something this lib should do. If we run async validation, it means we need to defer the onDrop and other callbacks until the validator is done, which means there will probably be some breaking changes in terms of API and behaviour to support that.

The responsibility of this lib is to provide the files that were either dropped or sele

[2022-05-02 02:02] rolandjitsu commented on #1169
@DevNF it's not clear from the description what is the issue. Is it that the file type is not provided when selecting using the file picker or that the `accept` property doesn't work as expected?

Also, could you upgrade to v14 and let me know if whatever issues you're describing still persists?

[2022-05-02 07:14] markhughes commented on #1161
We can use `getFilesFromEvent` for now to do the checks, a bit hacky but something like...

[code]

[2022-05-02 07:15] markhughes commented on #1161
However, we could just let the dev decide in the end :)

[2022-05-02 07:18] zdila commented on #1127
I can confirm this issue after upgrading react-dropzone from v13 to v14. Also `onError` is missing in `typings/react-dropzone.d.ts`.

[2022-05-02 11:06] MuscularSloth commented on #1167
@rolandjitsu I've updated react-dropzone to v14 and tried with react v18 and its new root component mounting. Now it accepts all files, ignores `accept` rule and has problems with thumbnails.
React v18 + classic mounting root component + react-dropzone v14 continued ignore `accept` rule and still had problems with thumbnails.
And only when I returned react-dropzone v12 + React v18 + classic mounti

[2022-05-02 11:53] alfupe commented on #1167
The way accept is processed has changed, it is a breaking change.

Whereas before you could pass accept as, for instance:
`accept: [
    'text/csv',
    'application/vnd.ms-excel',
    'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
  ]`

Now you must do it like:
`accept: {
    'text/*': ['.csv'],
    'application/vnd.ms-excel': ['.xls'],
    'application/vnd.openxmlformats-of

[2022-05-02 12:34] MuscularSloth commented on #1167
My bad. Thanks! Works perfect =)

[2022-05-02 16:44] DevNF commented on #1169
Both. the file type is not provided and the accept property is not working as expected! In version 14 still the same errors

[2022-05-02 18:10] kristinzinser commented on #1167
it appears to have resolved with `14.1.1` 🎉 🥳 thank you for the quick turnaround!

[2022-05-02 22:07] travisdahl commented on #1167
It does appear to be working correctly. One thing that would make for a better user experience is to display the extensions rather than the mime-types in the rejection message....

for example, in the screenshot below it may be easier to parse if it said `File type must be .xls,.xlsx` (whats in the arrays)

![image](https://user-images.githubusercontent.com/379314/166335017-344bc4a2-c278-4697-8738

[2022-05-03 01:58] rolandjitsu commented on #1169
Note that there are some changes in how the `accept` property is passed to the dropzone now.

[2022-05-03 03:11] rolandjitsu commented on #1169
Also, does this (the missing file type) happen on our official docs site: https://react-dropzone.org/?

Because I just tested on Linux (Debian/Raspbian OS) with an old Chromium version and the file type works just fine:

https://user-images.githubusercontent.com/1479737/166395645-94dbc3e6-9c84-4237-b315-ce6e04bb5215.mp4

But that may be because the new FS access API is not being used. So in your c

[2022-05-03 03:24] rolandjitsu commented on #1169
I can confirm that this is an issue with the FS access API.

If you run:
[code]

You'll notice that the file doesn't have a type set:
[code]

You may want to report this on the chromium channel.

In the meantime, we could fix it by adding the file extension to [file-selector](https://github.com/react-dropzone/file-selector/blob/76a4033d344d1383aeb5ff628b1749ed6334d5f5/src/file.ts#L1).

[2022-05-03 03:32] rolandjitsu commented on #1127
@zdila what is the issue that you're experiencing? I'm not familiar with that browser. Does it happen in other browsers on Linux?

Just pushed a fix (https://github.com/react-dropzone/react-dropzone/pull/1185).

[2022-05-03 10:21] VladimirMikulic commented on #1164
I also have this issue @rolandjitsu.
It doesn't work on the documentation either: https://react-dropzone.js.org/#section-accepting-specific-file-types

[2022-05-03 12:46] rolandjitsu commented on #1164
@VladimirMikulic it was tracked in https://github.com/react-dropzone/react-dropzone/issues/1141 and there's been some changes to how you set the `accept` attribute. Please see [v14](https://github.com/react-dropzone/react-dropzone/releases/tag/v14.0.0).

[2022-05-03 15:00] VladimirMikulic commented on #1164
Appreciate the fast reply @rolandjitsu. I am familiar with the new `accept` in v14.
However, new `accept` doesn't launch file picker on click. (dropping files works)
https://react-dropzone.js.org/#section-accepting-specific-file-types

[2022-05-03 15:58] PaulSusset opened #1188 "Cannot get file dialog to open on Safari when changing dropzone attr in action chain"
## Expected Behavior
Dialog opens on click of button with new attr taken into consideration

## Actual Behavior
In Safari, double click is required to launch the open function if there is a chain of actions required

## Steps to Reproduce the Problem

https://codesandbox.io/s/react-dropzone-example-forked-wn64on?file=/src/App.js:927-974

  1. Have different options for dropzone attr (accept used i

[2022-05-04 02:49] rolandjitsu commented on #1188
@PaulSusset I think the issue is that there's a window within which you're expected to trigger the open. If the click event is triggered too late on the input (or the `showOpenFilePicker` is triggered too late), due to an async action, the browser will block it. And I don't think there's anything we can do about that if that is the case.

There's now a `onError` cb which you could use to see if th

[2022-05-04 02:52] rolandjitsu commented on #1164
`accept` is not supposed to trigger anything. Or maybe I didn't get what you are trying to say. Are you saying that clicking the dropzone doesn't trigger the file picker dialog to open? Because I cannot reproduce that on macOS 11.6.2, Chrome 99.0.

[2022-05-04 09:56] VladimirMikulic commented on #1164
Sorry, my explanation was a bit unclear.
After specifying `accept` parameter, clicking on the input field/area doesn't work anymore - no file picker.
Dropping files in the area works though.

If I remove `accept` altogether or keep it with `useFsAccessApi: false`, only then it works. (Chrome 100, Ubuntu)

[2022-05-04 09:58] rolandjitsu commented on #1164
Could you add the `onError` callback and log the err? Maybe it throws.

[2022-05-04 11:42] targos opened #1189 "[ENHANCEMENT] Allow to group mime types in `accept`"
**Is your feature request related to a problem? Please describe.**

A side-effect of version 13.0.0 is that now each mime type defined in the `accept` option becomes a separate entry in the file picker.
`window.showOpenFilePicker` expects an array of entries where we can combine mime types and give a custom description, but AFAIK `react-dropzone` doesn't allow this and will always create an array

[2022-05-04 13:22] PaulSusset commented on #1188
Thanks, I'll check onError. I remember reading in the docs that the maximum delay is 1000ms, but I'm confident we aren't exceeding it with this test.
Have you been able to reproduce the bug from my sandbox in Safari? If not I'll try a CRA

[2022-05-04 16:03] andylacko commented on #1167
@travisdahl , @kristinzinser thx It works!

[2022-05-04 16:03] #1167 closed

[2022-05-05 07:43] VladimirMikulic commented on #1164
I added `onError` callback - no errors thrown.
Does example in documentation work for you?: https://react-dropzone.js.org/#section-accepting-specific-file-types
(it doesn't work for me)

[2022-05-06 08:03] Alexsandr commented on #1127
I got the same problem after adding `accept` option.
For example: `accept: { "image/*": [] }`
I use Сhrome on Linux, I have not tested it in others. Perhaps the problem is in the use of this option.
I hope this information helps.

[2022-05-06 08:41] rolandjitsu commented on #1164
Yes, it does.

What OS and browser are you using?

[2022-05-06 08:58] Paul6552 opened #1190 "[BUG] OpenDialog with accept and chrome not working"
**Describe the bug**
When you have set the attribute accept the file dialog does not open in chrome.

**To Reproduce**
Go to "Accepting specific file types": [Click me](https://react-dropzone.js.org/#section-accepting-specific-file-types)
Try to click on the dropzone-field "Drag and drop some files here or click to select"
The file dialog does not open in chrome. I tested Edge and firefox, these b

[2022-05-06 09:13] clovisp commented on #1190
Hello, I'm having a similar issue, but not exactly the same.

On my computer, the file dialog does open, however I can select only the first media type set in the object passed to accept argument.
For instance if we have this object:
[code]

Then only png images are selectable. Html files remain greyed out.

Versions:
On chrome (Version 101.0.4951.54) and macOS Monterey

[2022-05-06 09:31] Paul6552 commented on #1190
@clovisp
Different bug. Open a new one ;-)

[2022-05-06 10:03] shomyx opened #1191 "[BUG] File dialog enables only the first file type from accept, others are disabled"
**Describe the bug**
When defining the `accept` object like

[code]

the file drop option works properly. In case the user wants to pick a file from file dialog, only the first file type from `accept` is enabled, the rest are disabled and greyed out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Accepting specific file types": [Click me](https://react-dropzone.js.org/#section-accept

[2022-05-06 12:14] VladimirMikulic commented on #1164
That's weird. I am on Ubuntu running Chrome 100.

[2022-05-07 05:00] rolandjitsu commented on #1191
@shomyx that's expected behaviour when using the [File System Access API](https://developer.mozilla.org/en-US/docs/Web/API/File_System_Access_API). If you check the screencast I've attached, you'll see that you need to select the option to select other mime types based on the `accept` attr.

https://user-images.githubusercontent.com/1479737/167239126-15ef8900-ecad-4b13-9605-e2a217b72b7a.mp4

[2022-05-07 05:00] #1191 closed

[2022-05-07 05:04] rolandjitsu commented on #1190
@Paul6552 please add the `onError` cb and log to see if you get any errors (or check the console for any errors as it defaults to that):
[code]

Do note that if you're not in a [secure context](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts), the [File System Access API](https://developer.mozilla.org/en-US/docs/Web/API/File_System_Access_API) is supported and  you do not pro

[2022-05-07 05:05] rolandjitsu commented on #1190
@clovisp please check https://github.com/react-dropzone/react-dropzone/issues/1191.

[2022-05-07 05:23] rolandjitsu commented on #1189
This would be another breaking change I guess. But it's a valid request.

[2022-05-07 06:17] Paul6552 commented on #1190
@rolandjitsu
I am in a secure context.

I added the onError and do not see any errors :-/

Not sure If you have seen, but the link I posted in my first post is from your website.

https://user-images.githubusercontent.com/25934591/167241418-8303433b-104c-4d99-9b39-6387428295e1.mp4

[2022-05-07 07:11] rolandjitsu commented on #1188
@PaulSusset ok, I was able to reproduce using the sandbox on Safari. It looks like the issue happens when using React 17 w/ dropzone v14.

If you check [q06e2e](https://codesandbox.io/s/react-dropzone-example-forked-q06e2e), w/ React 18, it seems to be ok. But I'm not sure why, because the changes to support React 18 weren't that significant. Gonna have to look into it.

[2022-05-07 08:26] rolandjitsu commented on #1188
For reference, the changes that were added are https://github.com/react-dropzone/react-dropzone/commit/ed32886b20bf50392834896a5757133f3d2ed56c. You could try [v14.0.0](https://github.com/react-dropzone/react-dropzone/releases/tag/v14.0.0) (exact match) to see if the bug was introduced after.

[2022-05-07 08:29] rolandjitsu commented on #1190
This could be an issue with Linux only. Could you try the following:
[code]

[2022-05-07 08:38] Paul6552 commented on #1190
After running this I get the FileDialog from Linux.

![image](https://user-images.githubusercontent.com/25934591/167246480-38300b5b-1281-4eee-9861-3dfe1228ca26.png)

[2022-05-07 13:29] rolandjitsu commented on #1190
Do you mean that if you run the code I shared it works, as in, it opens the file picker?

That's when we made the FS access API the default way to open the file picker.

@Paul6552 does the example sandbox work for you ([jq6d5](https://codesandbox.io/s/react-dropzone-example-jq6d5?file=/src/App.js))?

[2022-05-07 13:57] Paul6552 commented on #1190
Yes

The example you provided also works. I am now more confused then before.

First I tried your example as it is, with React 18. It works.
I modified your example and changed it to react 17.0.2. It works.
Then I pasted the code with my code (identical to your website's code) and it works.

I don't understand why it doesn't work on your react-dropzone website and on my website.

[2022-05-08 16:21] shomyx commented on #1191
@rolandjitsu Thanks for the clarification.

[2022-05-09 01:34] rolandjitsu commented on #1190
@Paul6552 ok.

I see. So everything works as expected.

Would you mind sharing that? Also, if you test [react-dropzone-test](https://github.com/rolandjitsu/react-dropzone-test) as is, does it work or not?

That means the issue is related to the FS access API. It could be just a permissions thing. you could try to request permissions before the dropzone is used.

Let's keep open until we track down

[2022-05-09 04:53] thaiphan commented on #1189
Yeah I prefer this if possible. In the meantime, I'm going to stick to v12.

[2022-05-09 11:55] Paul6552 commented on #1190
Right now I am too stupid to create a new repository to github and share the link to you. Have never done it before.
What have I done:
1. Fork the [create react app](https://github.com/facebook/create-react-app) from facebook
2. Add react-dropzone 14.2.1 in the package.json
3. Copy exactly that code from your website: [Example from react-dropzone](https://react-dropzone.js.org/#!/Accepting%20speci

[2022-05-09 13:30] rolandjitsu commented on #1164
This could be a different issue as the option to specify file extensions alongside the MIME types has been released. What exactly is not working?

[2022-05-09 15:25] VladimirMikulic commented on #1164
Correct. The weirdest part is that this only occurs on Chrome.
It works on Firefox and even on Chromium based Brave browser.
No idea what could be the cause.

[2022-05-11 14:36] johnhunter commented on #1190
@clovisp your/our issue is due to poor UX in the MacOS file picker. See the screen recording in #1191 for the aha moment 🙂

[2022-05-13 09:17] shomyx commented on #1191
@GlennBlicharzBounteous That does the trick for my use case. Actually it's a lot better than having to choose a single file type each time the user wants something else than the first defined one. Thanks for the tip. 🙂

[2022-05-13 14:26] ml242 commented on #1190
suggestion 3 is very reasonable after having the same issue.

[2022-05-13 15:35] syntaxc opened #1193 "[BUG] Spelling mistake on website"
Duplicate word on the react-dropzone.js.org website:
![image](https://user-images.githubusercontent.com/1195111/168317988-2cdf8dc4-61eb-41e9-994e-6c9d118d5005.png)

[2022-05-14 03:41] jsmunroe commented on #832
The problem is not a type conversion. The problem is that this lib is not giving us a readable file blob. The example in the documentation does not work.

[2022-05-14 06:41] rolandjitsu commented on #832
You're gonna have to provide a bit more info than this. Which example are you referring to? What is the issue you're experiencing? Do you have steps to reproduce? What OS and browser are you using? Which version of react-dropzone and file-selector are you using?

[2022-05-15 12:52] MuscularSloth opened #1194 "[BUG] The app receives an empty blob preview file when the user selects (or drag&drops) an image file."
The app receives an empty blob preview file when the user selects (or drag&drops) an image file.
React 18

https://codesandbox.io/s/react-dropzone-thumb-problem-ws66by?file=/src/App.js

P.S. Maybe this is not a bug, but I haven't found any solution yet.

[2022-05-16 03:32] awitherow opened #1195 "[ENHANCEMENT] Make it possible to remove file from acceptedFiles stat"
https://github.com/react-dropzone/react-dropzone/issues/805

why was this closed without any thoughtful insight into providing an actual solution?

[2022-05-16 03:45] rolandjitsu commented on #1195
@awitherow there's at least 3 examples there, e.g https://github.com/react-dropzone/react-dropzone/issues/805#issuecomment-481405924, on how to achieve that. And as mentioned previously, managing the files state post drop/select is the user's responsibility.

[2022-05-16 03:45] #1195 closed

[2022-05-17 11:46] chrismou commented on #1190
Sounds like you guys have it nailed, but to confirm this is also happening to me using an `accept` and affects Chrome and Edge on Linux for me. Firefox still seems to work OK

I've also voted :slightly_smiling_face:

[2022-05-18 03:13] rolandjitsu commented on #1194
@MuscularSloth I think this issue was reported before and fixed in a previous commit. The issue is how we use `useEffect()`. Please checkout [y0bk0h](https://codesandbox.io/s/react-dropzone-thumb-problem-forked-y0bk0h).

[2022-05-18 07:15] MuscularSloth commented on #1194
Thx a lot! Works perfect!

[2022-05-18 07:15] #1194 closed

[2022-05-19 16:26] joelzimmer opened #1196 "[BUG] Mobile Uploads Don't Work when in a Portal"
**Describe the bug**
On iOS, embedding the button to Upload a File in a `Portal` causes the list of `acceptedFiles` to not be populated, meaning files can't be uploaded

**To Reproduce**

This can be reproduced on https://codesandbox.io/s/react-dropzone-example-forked-qff7dm?file=/src/App.js or by locally cloning https://github.com/joelzimmer/dropzone-portal (to run it on the iOS simulator, it is

[2022-05-19 20:25] chimpidimanas opened #1197 "Text/Error Message Mapping:"
**Is your feature request related to a problem? Please describe.**
I would like to be able to add custom error messages. This way I can internationalize this component for teams outside of the US. ![Example](https://user-images.githubusercontent.com/87333210/169398208-f184a941-4305-4f4e-b160-aaaa4d0d4752.png)

**Describe the solution you'd like**
An option that exposes and object of errors that we

[2022-05-20 13:14] eugeneZolotarenko commented on #858
Do we have a solution for this problem?

[2022-05-23 08:17] yelnyaface commented on #944
what does `onDrop` have anything to do with the event `that fires when all files in the queue have been processed`?

[2022-05-23 09:15] rolandjitsu commented on #944
There's no file processing or upload. This lib just calls the `onDrop` with the files that you selected or dropped. There's no individual callbacks for every file you drop as the browser does not provide such an API.

[2022-05-25 17:57] joelzimmer commented on #1196
Hi folks! Just wanted to bump this and see if anyone has a moment to look at it

[2022-06-02 13:10] 0x4950 opened #1203 "[BUG] Drag & drop from compression file manager"
**Describe the bug**
Drag & drop from a compression folder (Windows File Explorer for .zip or 7zip GUI File Manager) results in a file with size 0 (zero).

**To Reproduce**
This behavior can be reproduced on the project website as well, no need for complex setups.
1. Take a file (xlsx, docx, pdf) and compress it in any way.
2. Go to compression file explorer (e.g. for Windows you can double click

[2022-06-03 08:01] flobby commented on #1190
Can confirm, any updatest?

[2022-06-03 14:46] miter33 commented on #1014
Hi guys! I use the latest version 14.2.1 and I have the same problem as above <<Object literal may only specify known properties, and 'maxFiles' does not exist in type 'DropzoneOptions'.>>
I see that DropzoneOptions have this prop anyway it does not work. Maybe does someone know what the problem?

[2022-06-03 14:49] miter33 opened #1204 "MaxFiles prop is not allowed"
Hi guys! I use the latest version 14.2.1 and I have such a problem <<Object literal may only specify known properties, and 'maxFiles' does not exist in type 'DropzoneOptions'.>>
I see that DropzoneOptions have this prop anyway it does not work. Maybe does someone know what the problem is?

[2022-06-04 02:32] #1204 closed

[2022-06-06 09:10] Anto-Farrell commented on #945
I think I've figured it out, the problem was the file size
This helped me fix the problem: https://stackoverflow.com/questions/2184513/change-the-maximum-upload-file-size
Basically I just had to create a php.ini file on my website and add this:
upload_max_filesize = 10M
post_max_size = 10M
Files size is set to 10 Megabytes. Apparently pictures taken by camera are larger than 2 megabytes which is t

[2022-06-07 08:29] gottfired opened #1206 "[BUG] "accept" for multiple mime types doesn't work in Chrome"
**Describe the bug**
Providing multiple mime types does not work in Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-dropzone.js.org/#section-accepting-specific-file-types
2. Click on dropzone that should accept png and jpg files
3. Navigate to folder with png and jps images.
4. Only jpg images are selectable
5. This does not happen in Safari or Firefox, only Chrome

[2022-06-07 08:52] topaxi commented on #1206
We are facing the same issue, trying to set mime/file-endings for different image formats plus pdf.

[2022-06-07 08:53] nikola1970 commented on #1206
+1

Having the same issue.

[2022-06-07 12:04] erfans-omnea commented on #1206
I'm having the same issue in Chrome (works in Safari)
macOS Monterey
Drag-n-drop is working, but manual file browser grays out all files (except the first one)

This is the file type limitation on passed and it only enables images.

[code]

[2022-06-07 12:08] erfoon commented on #1206
I'm having the same issue in Chrome (works in Safari)
macOS Monterey
Drag-n-drop is working, but the manual file browser greys out all files (except the first provided type)

This is the file type limitation on passed and it only enables images.

[code]

[2022-06-07 17:03] cbustamanter commented on #1206
+1

Having the same issue.

[2022-06-09 06:00] bvangraafeiland opened #1208 "[BUG] Input element not getting set in Chrome"
**Describe the bug**
The file input element is not getting populated with the selected files in Chrome when using the OS file dialog. This is working properly in Firefox and Safari. When dragging files to the dropzone, it works in none of the browsers, but this is to be expected. #1037 may be related, although no solution was found there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2022-06-09 06:44] bvangraafeiland commented on #1208
After doing some research myself, I found out that this is due to the default use of the File System Access API. The `showOpenFilePicker` method is not implemented in Safari and Firefox (https://developer.mozilla.org/en-US/docs/Web/API/Window/showOpenFilePicker#browser_compatibility), therefore [this](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L480-L485) piece of cod

[2022-06-09 11:41] HabardiT commented on #252
it might not be a solution for other developers who commented here.
but in my case I had it this way.

[code]

what happens here is that the label links to the closest input child.
and that's why it triggered twice in my case.

[2022-06-09 12:32] Damiqib commented on #1206
+1

Having the same issue - only the first in list is used and all other types get ignored.

[2022-06-09 17:41] taylor-cedar commented on #1206
I figured out the issue. Not sure if it's Chrome bug or a dropzone bug.

[code]

It works in Chrome if the format is the following:
[code]

See the single accept vs multiple accept

[2022-06-09 19:54] temrb commented on #1206
+1

  accept: {
      'video/*': ['.hevc', '.mp4', '.mov', '.m4v', '.avi'],
      'image/*': ['.jpeg', '.png', '.heif'],
    },

    for me it doesn't accept image if it's video first. Doesn't accept video if image is first in the object.

[2022-06-09 20:32] temrb commented on #1190
+1

accept: {
'video/* ': ['.hevc', '.mp4', '.mov', '.m4v', '.avi'],
'image/* ': ['.jpeg', '.png', '.heif'],
},

for me it doesn't accept image if it's video first. Doesn't accept video if image is first in the object.

[2022-06-11 02:07] rolandjitsu commented on #1206
![Screenshot 2022-06-11 at 10 03 11](https://user-images.githubusercontent.com/1479737/173168580-3cb74fdf-3e67-448d-b542-4e67ef767895.png)

The selection works as expected. Above screenshot illustrates the behaviour on macOS. There's an `Options` button which you can use to switch b/t the types.

[2022-06-11 02:20] rolandjitsu commented on #1203
@0x4950 if I understand correctly, you're trying to drop a file directly from an archive and the file that you get from the dropzone is 0 bytes?

It sounds like a browser limitation and I don't think there's anything we can do about it on our end.

[2022-06-11 02:24] #1193 closed

[2022-06-11 09:34] 0x4950 commented on #1203
I see, wasn't sure if it was something because of the library or the browser and thought of giving it a shot. Thanks!

[2022-06-11 09:34] #1203 closed

[2022-06-11 21:36] gottfired commented on #1206
Imo, that's very unintuitive, it used to be similar to current Firefox/Safari behaviour with older versions of dropzone, where all file types were selectable simultaneously in Chrome. Only IT savvy users would understand the difference between different image types, and start using that drop down. See also https://github.com/react-dropzone/react-dropzone/pull/1207

[2022-06-14 10:33] syedmahmad commented on #966
Please re open this issue. This issue still exist.
Here is my user case:
- dropZone is working fine on all desktop browsers.
- Same dropZone not working on mobile browsers. In mobile, we are not getting **type** of **heic, heif** images. All other image types are working fine.

NOTE: I even downgrade and try different versions but issue still same.

[2022-06-14 21:19] danielweil commented on #1208
I spent my whole day messing with this problem.

I first noticed in the jest tests, because I used UserEvent to simulate upload to Dropzone, and it added files to the input field.
But when I do it in the browser manually, it does not. I tried messing with fileList but I could not convert a T[] into a FileList to append to the input.

Whem setting useFsAccessApi to false, it does work when selectin

[2022-06-16 21:26] seanmaisch commented on #369
@muhilham @kumar88kanishk @pbirsinger

Revisiting this old topic because I was searching for the same solution. I was able to gather the video duration by using this code. In my scenario, I am allowing for a single video upload, hence the `file[0]` array selection. Hope someone finds this helpful in the future!

[code]

[2022-06-17 19:26] akmittal commented on #1208
I think `useFsAccessApi :false` should be default option. I was using this library in [@remix_run](https://github.com/remix-run/remix). Remix form action need `FileList` to get files

[2022-06-18 03:44] JobiJoba commented on #1147
Mmmm, I've the same issue. How did you fix your problem?

[2022-06-20 04:15] parthsavaliya1 opened #1209 "When hover on preview at that time text is display"
**Describe the bug**
after image upload when hover on preview at that time text is display

**To Reproduce**
Steps to reproduce the behavior:
1. Upload image
2. hover on preview
3. check text is display

**Expected behavior**
when hover on preview text should not be display

**Screenshots**
https://share.vidyard.com/watch/ADPMZYvbwo2aDK7fPAstHW?

**Desktop (please complete the following informatio

[2022-06-21 15:56] justinshin621 commented on #635
Having this same issue. Was it ever resolved?

[2022-06-22 01:26] gapton commented on #1206
There is a PR marked as accepted.

With that said, until the PR merge, here is a temporary fix :

This will trick OSX Finder to allow all the extensions, but the options button will be weirded out :
<img width="473" alt="image" src="https://user-images.githubusercontent.com/637259/174923681-28fa858c-3ab9-425c-a6ef-a8346d1ba595.png">

[2022-06-22 15:38] taylorhakes commented on #1206
@gapton That hack only partially works. The HTML file input will allow all image file types, so the second time you open that dialog all image types are selectable. Test it by closing the dialog and then opening it again.

[2022-06-22 16:51] davidppf opened #1210 "[ENHANCEMENT] I want a new feature CTRL V to add image"
**Is your feature request related to a problem? Please describe.**
We can drop and drag or click to upload file but if we take screenshot, then cannot paste it from clipboard to dropzone container for uploading

**Describe the solution you'd like**
After taking the screenshot, user can use paste or CTRL + V to add image to uploader.

Reference:
https://www.telerik.com/kendo-react-ui/knowledge-base

[2022-06-23 14:36] keemor opened #1211 "Integration with Material UI (MUI) 5 theme"
Hi,

I want to integrate Dropzone with MUI 5 and it's theme.

Here is what I achieved -> https://codesandbox.io/s/react-dropzone-mui-5-2brug2?file=/src/UploadContainer.tsx

1. How to make UploadContainer  work depending on isDragAccept, isDragReject, isFocused?
2. How to make UploadContainer  work based on color from theme.palette?

https://mui.com/system/styled/#using-the-theme

UploadContainer
[

[2022-06-28 03:09] lzgdnh opened #1212 "[BUG] cannot open file dialog on wechat-miniprogram on Android phone"
**Describe the bug**
Cannot open file dialog on wechat-miniprogram on Android phone, it works on desktop, web app, wechat-miniprogram on IOS phone.

**To Reproduce**
open wechat-miniprogram on Android phone
click upload element,
it cannot open file dialog, also no error in onError callback.

**Expected behavior**
it can open file dialog

**Screenshots**
this page is in webview
![image](https://use

[2022-06-28 07:37] keemor commented on #1211
I figured out how to meet my requirements:

https://codesandbox.io/s/react-dropzone-mui-5-2brug2?file=/src/UploadContainer.tsx

Container
[code]
App
[code]

[2022-06-28 07:38] #1211 closed

[2022-06-29 07:57] rohitah commented on #1191
Also, faced similar issue

following didn't work in chrome browser.

[code]
So changed it as follow and it works fine now even in chrome

[code]

[2022-06-29 15:38] barbalex commented on #769
I am consistently getting this behavior in versions 11 to 14 again when using tauri. See: https://github.com/react-dropzone/file-selector/issues/10#issuecomment-1170136347

[2022-06-30 22:03] finnatsea commented on #1189
This would our preference. Manually specifying is quite verbose.

[2022-07-01 10:19] nguyenhuuloc304 opened #1213 "[BUG] Drag & drop did not work with Safari on MacOS"
**Describe the bug**
Dear,
I **cannot** drag email from outlook and drop into the panel. But when I copy email and paste into desktop screen, then drag and drop it to the panel, it worked. **this is just happen with Safari**.

Other browsers work fine.

I encountered the issue with:
MacOS 11.6.5
Safari 15.4
Outlook 16.62
react-dropzone: 11.2.4

Record for issue:
https://user-images.githubuserconte

[2022-07-01 15:52] matteo95g opened #1214 "[BUG] Multiple MIME types not working on macOS window"
**Describe the bug**
When passing multiple MIME types to the `accept` prop, after opening the OS explorer window, it doesn't allow selecting all the types passed.

**To Reproduce**
[code]

**Expected behavior**
Allow to select .pdf and .png files

**Screenshots**
<img width="800" alt="Screen Shot 2022-07-01 at 12 47 25" src="https://user-images.githubusercontent.com/18466456/176928238-82de13ba-b97

[2022-07-03 02:15] #1206 closed

[2022-07-03 02:17] rolandjitsu commented on #1209
@parthsavaliya1 you'll have to provide more context and info. With the current description I'm not sure I follow what the issue is.

[2022-07-03 02:20] rolandjitsu commented on #1212
Gonna need a link to some code so we can run it to see what the issue is. I cannot really tell what the issue is just from the description and I have no way to reproduce on the device you've referenced.

[2022-07-03 02:22] rolandjitsu commented on #1213
This is not an issue with the lib. It's probably an issue with the OS or browser.

[2022-07-03 02:22] #1213 closed

[2022-07-03 02:23] rolandjitsu commented on #1214
See https://github.com/react-dropzone/react-dropzone/pull/1207.

[2022-07-03 02:23] #1214 closed

[2022-07-03 02:28] rolandjitsu commented on #1208
The lib does not set files on the input you pass to the dropzone on drop, regardless of using the FS access API or not. The input was/is only required because there's no other way to trigger a file selection programmatically (FS access API provides that now, but it's a draft and may not be implemented at all), and when using the FS access API, the input is only used as a fallback.

You'll need to

[2022-07-03 15:46] nguyenhuuloc304 commented on #1213
Hi @rolandjitsu , two colleagues of mine have the same issue and we tried to adjust some configurations in Safari browser. But the issue is still there.

[2022-07-04 02:07] rolandjitsu commented on #1213
@nguyenhuuloc304 there's nothing we can do on our side. If the browser doesn't report an event which has files set on it, we cannot process that event to get the file data.

You can try adding a drop event handler on the a div and see what's reported. I do not have outlook installed on my mac, but I can confirm the same behaviour when using the native macOS email app.

[2022-07-04 03:02] nguyenhuuloc304 commented on #1213
Hi @rolandjitsu , much appreciated your suggestion, let me do some experiment.

[2022-07-04 11:28] kuzniets commented on #1190
+1

same behaviour, any news? There was a new version yesterday but without a fix for the current issue (

[2022-07-06 07:49] mohd-akram commented on #1127
I have the same problem as @Alexsandr. The fix for it seems to be passing `useFsAccessApi={false}`.

[2022-07-07 15:20] wpickachu commented on #1208
boom~~~ @[bvangraafeiland](https://github.com/bvangraafeiland)
This helped me a lot. I also spend a whole day to debug this.

[2022-07-11 17:21] Nenrei opened #1215 "[ENHANCEMENT] I need to store the files in every drop."
I noticed that every time I drop or select a file, the previous dropped files are deleted.
This happens even if I save the accepted files in state.

What I need is, for example:
First I select a file named file1.
This file appears bellow the dropZone.
Then I select another file, file2.
Right now only "file2" will appear.
And I need "file1" and "file2"

Is there a way to do this? Or can be added?

[2022-07-11 17:31] #1215 closed

[2022-07-15 19:35] diegolameira commented on #1042
Hey, just found this is back again with v14.2.2...

Is someone else having same issue as mine?

macOS Monterey 12.4
Chrome: Version 103.0.5060.114 (Official Build) (arm64)
Safari: Version 15.5 (17613.2.7.1.8)

[2022-07-18 01:54] rolandjitsu commented on #1190
Hmm. That's interesting. Does an empty description work?

[2022-07-25 12:34] EkaanshArora commented on #1190
Can reproduce with Chrome on Linux. An empty description doesn't work for me, any other string fixes it.
Any ideas on adding a workaround? The Chromium team hasn't prioritized this bug. Happy to work on a PR.

[2022-07-26 18:24] j-avila commented on #1190
I'm having the same issue on chrome (macOS),  the select file dialog doesn't open. In some point tried the `useFsAccessApi: false`  and works for some but suddenly stop working,  any workaround o solution for this chrome bug?

[2022-07-27 22:49] leffot opened #1217 "[BUG] Broken with React v18.1.0+"
Our monorepo uses React v18.2.0 throughout. I see that react-dropzone's peerDependencies specifices `"react": ">= 16.8 || 18.0.0"`, which means that react-dropzone causes React versions greater than 18.0.0 throw invalid hook calls. E.g.:

[code]

We don't get these errors if we downgrade our monorepo to 18.0.0.

Is there a reason peerDependencies is pegged at 18.0.0? Or can it be switched to >= 16

[2022-07-29 04:18] hanihusam commented on #1013
Hi, I got a kinda this issue on Chrome.

So, I use `open` and provide `noClick`. It works perfectly except on Chrome. The issue is `event` arg/param from the `onDropAccepted` function return `null`.

Do you know why this happens?

[2022-07-29 15:44] leffot commented on #1217
Yup, sorry about this. It was another package causing the issues. Closing.

[2022-07-29 15:44] #1217 closed

[2022-08-01 06:29] pzi opened #1220 "[BUG] `accept` doesn't work with wildcards"
**Describe the bug**

Using a wildcard for `image/*` and then declaring file extensions doesn't seem to work as expected in Firefox and Brave/Chrome.

The following code will let users drop any image type and the jpeg/png file extensions are ignored.

**Note:** The same behaviour can be observed when the file picker dialog opens, it will allow picking other image extensions, not just jpeg and png.

[2022-08-01 08:03] pzi commented on #1220
I've spent some time experimenting with this and found the most consistent behaviour to be using the following config:

[code]

This meant that across Windows and macOS the file picker would accept the right files and the messaging to be least confusing.

When I used `image/jpeg`, Windows also seemed to insert extra extensions outside of what put into my accept array.
<img width="367" alt="image"

[2022-08-01 08:21] pzi opened #1221 "[BUG] Unexpected error message for invalid file type (based on accept)"
**Describe the bug**
When defining the accept param as per Docs/TypeScript definition:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Select file '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please

[2022-08-01 10:12] pzi commented on #1220
I noticed the following warnings in the console now that I started using despite it actually working as intended...

[code]

[2022-08-02 10:02] mcmxcdev opened #1222 "[BUG] Finder dialog doesn't show on macOS 13 Ventura beta"
**Describe the bug**
Unfortunately, I can't give much information on this since it didn't happen to me but the project manager of a client project I am working on. I thought it would be a good idea to already put this report out there anyways to be able to fix this before macOS 13 is officially released.

It seems the finder dialog doesn't open when clicking on a dropzone, but with drag and drop i

[2022-08-03 06:07] Renshif opened #1223 "Click to select files not woking when using accept prop is used"
**Describe the bug**
When <code>accept</code> prop is used in dropzone, the click to select files is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-dropzone.js.org/#section-accepting-specific-file-types
2. Click on the first example

**Screenshot**
![screenshot-react-dropzone js org-2022 08 03-11_34_03](https://user-images.githubusercontent.com/49720737/18253

[2022-08-03 06:14] Renshif commented on #1223
I added <code>useFsAccessApi: false</code> and it is working now

[2022-08-03 06:14] #1223 closed

[2022-08-05 12:04] akamfoad commented on #1220
It would have been very helpful if the library accept a more generic data structure for accept, one I can think of is:

[code]

This way, you can specify a specific extension without the need to specify the whole `mimetype`, for example when I want only `.jpg` and `.jpeg` files, I shouldn't need to specify `image/jpeg` because this makes the input to accept every file extension that have the `imag

[2022-08-08 00:13] leerobert commented on #1222
To add some context, firefox works fine but Chrome does not.

[2022-08-10 23:29] PeterSHL commented on #1221
I agree it would be really nice if it could revert to showing the file extensions as it did before.

The new error message is kinda cryptic :(

`File type must be image/png,.png,image/gif,.gif,image/jpg,.jpg,.jpeg,image/bmp,.bmp,image/webp,.webp,text/csv,.csv,application/pdf,.pdf,application/msword,.doc,application/vnd.ms-excel,.xls,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet

[2022-08-11 00:26] hailwood commented on #1222
This is also happening on Ubuntu 22.04.1 Chrome 104.0.5112.79 which is officially released

[2022-08-13 13:02] haywirez commented on #1077
Discovered that this unfortunately also happens in Chrome (104.0.5112.79), not just Firefox 😕 Strangely despite other file drag & drop issues Safari tech preview does have the correct listing behavior.

[2022-08-13 13:17] haywirez commented on #977
Also the case for Chrome 😕

[2022-08-16 14:27] omar4digital commented on #191
is the issue back on chrome 104 ?

[2022-08-22 04:51] getalihassan commented on #1191
thanks I am using ubuntu jimmy
react-dropzone: 14.2.2
ran into same issue

useFsAccessApi: false

fixed it for me.
just wondering will it have any effects on safari/macOS, windows?

[2022-08-22 04:53] getalihassan commented on #1190
Ubuntu 22.04
react-dropzone: 14.2.2
chrome: 104.0.5112.101
ran into same issue

useFsAccessApi: false

fixed it for me.
just wondering will it have any effects on macOS, windows?

[2022-08-22 13:37] stalet commented on #1190
+1 same behaviour.
Used the workaround `useFsAccessApi: false` to fix it.

[2022-08-25 08:56] khteh opened #1229 "[BUG] TS2322: Type 'string | { "image/*": string[]; }' is not assignable to type 'Accept'"
**Describe the bug**
A clear and concise description of what the bug is.
"react-dropzone": "^14.2.2"
[code]
Error:
[code]
What do I miss?
**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Select file '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help

[2022-08-26 06:36] lalit7788 commented on #310
@elebumm, I am using the hook but unable to pass a second parameter to the onDrop. The `useDropzone` being a hook is declared at the top but the parameter I wish to pass (a column id) is only available inside an Array.map() call inside the render block.

Do you have an idea how I can achieve my goal?

[2022-08-26 08:18] cunisia commented on #1097
@Newpoki I had the exact same behaviour as you (`onDrop` not being called the second time when selecting the same file twice in a row), and I realised the only difference with the sample used by @rolandjitsu was that I had forgotten to wrap my input in a `div` being passed `getRootProps()` attributes. Adding this wrapper fixed the issue for me 🙂

[2022-08-26 13:18] cretumarius opened #1232 "[BUG] Accept application/octet-stream with extension .dll"
First of all thanks for this awesome library!

**Describe the bug**
I am implementing a feature that allows the user to upload only .dll files by drag and drop or by opening the file picker. I encountered a possible bug when having
`accept: {
      "application/octet-stream": [".dll"],
    },`

**To Reproduce**
Steps to reproduce the behavior:
1. Drag an `.exe` file and drop it in the drop area.
2

[2022-08-26 14:55] AuthorProxy commented on #1229
can you add codepen for this example, looks like you post modified code

[2022-08-26 14:57] AuthorProxy commented on #1222
Setting useFsAccessApi to false fix it, admins can you make this is default behaviour for samples on site? Because now they don't work at chrome

[2022-08-27 02:01] coltoneshaw commented on #1222
I have a similar problem. It seems that drag and drop works fine, selecting the file does not. The issue is that the file object seems to not contain a path when selected, but when you drag and drop it does.

[2022-08-27 04:42] khteh commented on #1229
What do you mean? I don't use codepen. This is the content of `node_modules/read-dropzone/typings/react-dropzone.d.ts`:
[code]

[2022-08-30 01:12] coltoneshaw commented on #1222
This issue happens on Windows 11 as well. Just tested with Electron 18 / Windows 11 / Node 16.17

[2022-08-30 11:16] AuthorProxy commented on #1229
I mean add example to reproduce plz, if you don't use it - start do it ) It will help to test a possible bug in isolated environment. You  can take a base template in codepen with react-dropzone and modify it to show where you meet a problems

[2022-08-30 21:42] grempe commented on #984
I came here for this. Stale bot had closed it though.  Would love to see this addressed.

[2022-08-31 19:00] mdsavian commented on #1190
I have the same issue in Linux, using the `useFsAccessApi: false` seems work fine.

[2022-09-01 04:43] najihmld commented on #1196
on android device also have the same problem

[2022-09-02 18:02] paustint commented on #1222
I am having the same issue on Macos 12.5 and Chrome.

[2022-09-03 19:53] dlech commented on #1127
This issue is reproducible at https://react-dropzone.js.org/#section-accepting-specific-file-types. It works in Firefox 103, but not in Chromium 105 (on Linux).

Adding a `console.error` to `onError` doesn't log anything.

[2022-09-03 20:19] dlech commented on #1127
Debugging local build (not secure context) shows that the fallback doesn't work because it tries to "click" the input element from a `catch` callback which is not considered user-initiated and therefore ignored.

![image](https://user-images.githubusercontent.com/963645/188286487-779b0cc9-1f8f-439a-aef6-58d11a2e124e.png)

[2022-09-03 20:38] dlech commented on #1127
Here is the full `DOMException`. We are getting a security error, not because we aren't in a secure context, but rather because the call to `window.showOpenFilePicker()` is not called in a user event handler.

[code]

So, perhaps the problem is with the way `composeEventHandlers` uses `Array.some`?

[2022-09-03 20:46] dlech commented on #1127
I think the exceptions above were caused by being paused in the debugger and should be ignored. I changed the breakpoints and now I am getting a user abort error even though the dialog is never shown:

![image](https://user-images.githubusercontent.com/963645/188287177-297bea4d-89ca-4bcd-9218-525011b67784.png)

[2022-09-03 21:33] dlech commented on #1127
After more experimenting, it seems that the issues is triggered by a lack of a `description` key in the `types` array in the `FilePickerOptions`. So, this is probably a Chromium bug (I filed https://crbug.com/1359728). However, it would still be useful to allow passing additional options to the file system API.

[2022-09-03 22:03] dlech commented on #1222
This sounds like a duplicate of #1127.

[2022-09-03 22:12] dlech commented on #1190
This sounds like the same issue as #1127. It seems like a browser bug in the file system access API where omitting the supposedly optional description for the file types that are populated by `access` causes the dialog to be canceled without ever being shown to the user. This is why not using `access` or disabling use of the file system access api works around the issue. I filed https://crbug.com/

[2022-09-03 22:13] nmay231 commented on #1190
@dlech It was already filed: https://bugs.chromium.org/p/chromium/issues/detail?id=1264708#c10

[2022-09-03 22:16] dlech commented on #1190
:+1: Thanks (I did search first, really :smile:).

[2022-09-04 13:49] ItayTur commented on #1220
having the same issue.

in the following `accept`, no file type were accepted.
[code]

setting `'*/text': ['.csv', '.xlsx'],` enable both types, although `.xlsx` mime type is `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`.

[2022-09-05 15:08] adrianbielawski opened #1234 "[BUG] Validator callback doesn't take full File"
**Describe the bug**
According to the type of the validator callback, it should take `file: File` as an argument but on drag enter, all I have is `{kind: 'file', type: 'image/jpeg'}`. Many properties are missing.

**To Reproduce**
Steps to reproduce the behaviour:
1. Drag a file and enter the drop zone.
2. Try to read `name` or `size` form the `file` argument in validator callback.
3. File has onl

[2022-09-06 13:25] VictorPulzz opened #1235 "[BUG] Customize error message"
Hello guys, how I can customize this message?
<img width="322" alt="image" src="https://user-images.githubusercontent.com/23406402/188646756-01d1db79-874f-42ee-9b14-69ff44ee6d9a.png">
Also would be cool if I got message form useDropzone, for get error immediately. Like this:
[code]
Structure errors:
[code]

[2022-09-09 05:18] udayan46 commented on #1196
Any update on this , seems like react is not accepting the video for iphone and ipad

[2022-09-09 05:23] udayan46 opened #1237 "Video upload doesn't work on iphone and ipad"
Hello everyone facing this problem from long, any luck on this, working fine for all but seems like iphone and ipad is not accepting the video file

 <div className="dropzonecover dropzonenew" key={`drop`}>
                                <div className="img_wrpcover relative">
                                  {/* <img className="dropimgcover" /> */}
                                  {isEmpty(fil

[2022-09-14 09:38] Maetes opened #1238 "[BUG] isDragReject not triggered on maxSize"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
use the simple example from the docs, change to:

[code]

and console.log isDragReject when you drag a big file over the zone

**Expected behavior**
isDragReject correctly fires when dragging a file over the zone which is too big

[2022-09-15 06:09] xpyx opened #1239 "[BUG] Clicking the dropzone area won't open the choose file dialog on newest Chrome"
Hello and thanks for the great hook. I came across this bug this morning and thought that it should be reported.

**Describe the bug**
When clicking the dropzone, the dialog for choosing files does not appear. This might be due to browser update. Yesterday the click to open dialog was working as expected.

**To Reproduce**

[code]

[code]

**Expected behavior**
A dialog for choosing a file should

[2022-09-15 09:46] immutable-pro commented on #1239
I can confirm I am seeing the same behavior, using `14.2.2`. It works on Firefox `104.0.2` and Gnome Web Browser `42.4`, but not in Chrome` 105.0.5195.125`

[2022-09-17 15:48] Transfusion commented on #1220
Related bug: `isDragReject` is always `false` despite `onDropAccepted` eventually getting fired.

Try using
[code]
and following https://react-dropzone.js.org/#!/Styling%20Dropzone; you'll notice that the dropzone is always red upon hover, but any file with extension `.jpeg` or `.png` is accepted.

[2022-09-20 20:01] danielprettcampagna-ipiranga commented on #917
Shouldn't this issue be reopened?

[2022-09-21 00:59] mgtitimoli commented on #1190
Hello everyone,

I have just experienced this issue using chrome in Linux, I tested the workaround of passing `useFsAccessApi: false` and it worked.

I also tested calling [window.showOpenFilePicker](https://developer.mozilla.org/en-US/docs/Web/API/window/showOpenFilePicker) and it didn't work when I passed no description.

Couldn't we pass a description generating from all the file extensions con

[2022-09-21 01:25] dlech commented on #1190
There is already PR #1233.

[2022-09-21 01:48] mgtitimoli commented on #1190
What I'm proposing is a bit different, instead of hardcoding "Files" in the description, I was thinking on receiving a new param so the user could pass the thing she wants and in case none was given, get a default one by concatenating all the accepted files extensions as it does the native file picker, something as follows:

[code]

[2022-09-21 12:01] Gkanawati opened #1241 "Don't allow duplicates of a file"
Describe the solution you'd like
There should be a way to make sure users can't upload 2 of the same files.

Describe alternatives you've considered
I've tried to do this outside of the dropzone, but there doesn't seem to a way.

Teachability, Documentation, Adoption, Migration Strategy
It could just be a prop passed in called noDuplicates

My solution its not perfect, im looking for better soluti

[2022-09-22 14:13] requireSol commented on #834
I got the same Problem. I want to allow a set of files but it always use the first element as file filter dialog text.

Example1:
`fileType={{"application/msword": [".doc"], "application/msexcel": [".xls"]}}`

Will be:
![Unbenannt](https://user-images.githubusercontent.com/44553168/191767582-5c599bb0-61cd-4fdc-8816-1190e3b1b8c0.png)

I can see that i am allowed to upload xlx but the title is wrong

[2022-09-22 17:15] guerillarealty commented on #1196
I'm having the same issue with safari on iphone (v15+)

[2022-09-24 17:54] ma2web opened #1242 "Video preview not showing."
**Uploaded video not showing up as preview ver^11.3.4**
I am using ver^11.3.4 and trying to upload a video and show a preview to users. but the preview doesn't show anything.
is that possible to preview the uploaded video, or does this feature only work for images?
appreciate any thoughts

[2022-09-24 18:15] ma2web commented on #1242
I am not able to remove this issue.
I found the problem
I used `URL.createObjectURL(file)` and it works

[2022-09-24 18:16] ma2web commented on #318
if you use `URL.createObjectURL(file)` and pass this to your src video tag will work

[2022-09-26 05:52] yash14022001 commented on #1127
I am having this same issue on both firefox(105.0.1 (64-bit) & chrome (105.0.5195.102 (Official Build) (64-bit)) with ubuntu 22.04
click is only working after removing the accept parameters
I tried using `useFsAccessApi: false` settings but didn't work
But what I am curious about is that when I make the field from `display: none` to `display: block` or anything like that, then file picker opens wi

[2022-09-27 00:25] devth commented on #1097
I'm having a similar issue where `onDrop` is never called in Safari. My `input` is in a [MUI Menu](https://mui.com/material-ui/react-menu/). If I render it outside the menu it works. The suggested fixes above (remove `id`,  moving the `label`, `noDragEventsBubbling: true`) don't fix it.

[2022-09-27 15:07] ahmedmukhtar1133 commented on #1239
**Facing same issue:**
**OS:** `macOS 12.5.1`
**Chrome** `105.0.5195.125` (Official Build) (arm64)

[2022-10-04 06:01] mymoto23 commented on #276
has anyone identified specific replication steps to this problem?

I'm currently on react-dropzone v11.7.1, and one of my clients have experienced the issue on Windows 10, Chrome 105.

Our team has received the file that's causing the error and tried it on our end, but it seems to be working fine (win 10 and chrome 105 is as specific as we can get as to how identical our environment is)

One of my

[2022-10-04 12:50] nettum commented on #1239
I can confirm that I got the same issue in chrome when the `accept`-option is set.

Not working on `Google Chrome Version 106.0.5249.61 (Official Build) (64-bit)`.
Working on `Firefox Browser 105.0.1 (64-bit)`.
Both tests on `Ubuntu 22.04.1 LTS`.

Example code:
[code]

If I remove the `accept`-option from the hook it also works in chrome, e.g:
[code]

[2022-10-05 15:05] merveillevaneck commented on #1239
can also confirm that this fails on latest chrome version. tested safari as well and that seems to be working fine. So must be something api related on google chrome's side.

[2022-10-06 15:14] godinhojoao commented on #1190
Hi, just trying to help who needs.

I was having this same problem and I tried to change my react-dropzone version from 14.2.2 to 11.4.2 and other older versions, but it didn't work.

I also tried to use the property: `useFsAccessApi: false`, but it didn't work too.

So I decided to solve this problem on my own. As I already knew that the problem was ocurring because of the property `accept: { 'im

[2022-10-06 17:32] pedegago commented on #805
Same situation... but instead of your code i just add a `key` prop to my `input` this way: `<input key={files} {...getInputProps()} />` where files is my array of files in my local state. I hope this helps to everyone.

[2022-10-07 18:39] thenoiro commented on #838
Handle the same issue. Not absolutely sure is a good solution, but works for me now:
`const CustomDropzone = forwardRef((props, ref) => {
  const { rootRef } = useDropzone();

  useImperativeHandle(ref, () => rootRef.current, [rootRef]);
  ...
`

[2022-10-12 08:25] BranislavLazic opened #1243 "[BUG] File chooser not opened"
**Describe the bug**
The file chooser is not opening on Chrome Version 105.0.5195.125 (Official Build) (arm64).
I checked whether the issue exists on Firefox Version 104.0.2 (64-bit) and Safari Version 15.5 (17613.2.7.1.8). All fine.

**To Reproduce**
Steps to reproduce the behavior:
The issue is reproducible on your example https://react-dropzone.js.org/#section-basic-example. Just try to upload

[2022-10-12 08:26] #1243 closed

[2022-10-12 08:33] swoppy commented on #1127
Seems like this works now on chrome version 106.0.5249.119, with no workarounds applied

[2022-10-12 08:35] BranislavLazic commented on #1239
Hi, the issue is still reproducible even if I remove `accept` option. Browser: Chrome 105.0.5195.125 (Official Build) (arm64).

[2022-10-12 13:30] #1127 closed

[2022-10-12 13:30] #1190 closed

[2022-10-12 13:30] #1222 closed

[2022-10-13 13:40] devalnor commented on #1229
+1

[2022-10-14 19:40] Egr711 commented on #1239
Can confirm the same was happening in Chrome `105.0.5195.125`
Was having the same issue. upgrading to version 14.2.3 and updating chrome to latest `106.0.5249.119` fixed it

[2022-10-19 05:52] haywirez opened #1244 "[BUG] Inconsistency: cases when `isDragReject` is true but `onDrop` later sees as accepted files"
When dropping in files conforming to `{accept:  { 'model/gltf-binary': ['.glb'] }}`, I noticed that `file.type` ends up being an empty string but still set as accepted inside `onDrop` due to the file extension check. However `isDragReject` still reports true during the drag. Upon deeper investigation this seems to be due to the fact that the file list is not available inside the event's `dataTrans

[2022-10-19 06:27] haywirez commented on #962
Struggling with this as well. You can validate on drop from the filename, but there's false feedback during dragging. In #1244 I suggested implementing a `isDragUnknown` handler.

[2022-10-19 17:10] dwilt opened #1245 "[BUG] useFsAccessApi being true prevents directory selecting in Chrome"
**Describe the bug**
When [this commit](https://github.com/react-dropzone/react-dropzone/commit/a0342520c1192698abaf670f5ad927d15e693610#diff-bfe9874d239014961b1ae4e89875a6155667db834a410aaaa2ebe3cf89820556L67) got merged, this broke Chrome being able to select folders when using the `open` method.

**To Reproduce**
Codesandbox Link: https://codesandbox.io/s/serverless-sea-isstgt

1. Open up the p

[2022-10-19 18:29] ianchanning commented on #1161
@markhughes I think yours is a great workaround.

These are some notes from my solution. I'm writing this as a more general answer in that it looks like this will be the only workaround for async validators. I wanted to validate the dropped image dimensions are above a certain size. One thing I think is a bug in your code is `file.someResultHere = resp.body.blah` - I think that changes the Object

[2022-10-19 23:38] haywirez commented on #1244
Workaround I ended up using in a HOC:

[code]

[code]

[2022-10-25 11:18] nataliadziedzic commented on #526
I'm on version 14.2.3 and this bug still appears

[2022-10-25 11:36] nataliadziedzic commented on #526
After investigating my case it turns out that it does not work properly when as a child I have an Image component from Nextjs, the usual img tag doesn't seem to be a problem

[2022-10-31 21:24] moods-72 commented on #805
Thank you @claytonfbell.

[2022-11-02 01:55] phuongwd commented on #1241
@Gkanawati Just curious, why do you not use the [Custom validation](https://react-dropzone.js.org/#section-custom-validation)?

[2022-11-03 14:11] mariush2 commented on #1245
I have this exact issue in our current project, would be nice to see a fix for this, possibly with [window.showDirectoryPicker](https://developer.mozilla.org/en-US/docs/Web/API/Window/showDirectoryPicker) or something? 🤔

[2022-11-04 11:51] mustafaucr commented on #191
Yes I use version 107 and it does not work. FF works properly

[2022-11-06 17:25] c0ncentus commented on #1176
have the same issue ...

[2022-11-07 22:58] alexjball commented on #1245
Is there a reason you can't set useFsAccessApi to false in your usage? The referenced commit changes the default to use the API. And when you programmatically open the picker, it currently [always uses showOpenFilePicker](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L772). Supporting directory picking with the fs api would require checking for `webkitdirectory` on the

[2022-11-08 07:03] Interject-VictorC commented on #1238
is there any progress or news on thig bug? Thank you!

[2022-11-08 07:45] mariush2 commented on #1245
The only difference I could see is that when opening without using the fs API the user gets a browser confirmation dialog in addition to the directory picker (I might be wrong here since I didn't get it to work without setting useFsAccessApi to false).

Here's an example of the dialog in question (in norwegian):
![image](https://user-images.githubusercontent.com/24507952/200504077-a2cf432c-0edc-4b

[2022-11-08 19:26] es-maor opened #1248 "Change the CSS of the Input"
The `<input {...getInputProps()} />`, when I check the HTML output I see it has `display:none`.
Is there a way for me to change it to `visibility:hidden` ?

[2022-11-09 08:47] Shuvo-Gain commented on #241
why accpet attr is saying [object object ] when passing accept props as same as ract-dropzone docs?

[2022-11-09 16:04] JuanIrache opened #1249 "[BUG] File path not available on Electron if clicking to select files"
**Describe the bug**
Dragging files into the Electron app provides the absolute file path, clicking to select the files with a dialog does not

**To Reproduce**
Steps to reproduce the behavior:
1. Clone minimal example https://github.com/JuanIrache/react-dropzone-electron-path-debug
2. npm install
3. npm run dev
4. drag a file and see how the path prints correctly
5. click to select a file and see

[2022-11-09 16:42] JuanIrache commented on #1249
`useFsAccessApi: false
`
fixes this

[2022-11-09 17:59] Gkanawati commented on #1241
There's what i was looking for!

[2022-11-09 17:59] #1241 closed

[2022-11-09 18:45] #1248 closed

[2022-11-13 01:52] kodobrody opened #1251 "[BUG] Dropzone not working when hosted on pc's ip instead of localhost"
**Describe the bug**
So I wanted to test my site on a mobile. I'm using next.js.
So I've put `yarn dev -H here.my.ip.address`.
However button that works flawlessly on localhost does not work when I host directly on pc's ip.
Console is not saying anything. It does not work neither on PC I host on nor on mobile.
Button is being clicked correctly, however no action is done.
I thought that maybe it's

[2022-11-13 07:23] Bravemobin commented on #1215
Can you find solution ?

[2022-11-16 15:06] martin-neotech commented on #276
https://developer.mozilla.org/en-US/docs/Web/API/MimeType

[2022-11-17 03:58] UttamMarandi commented on #541
I was facing similar issues while building a chat input. I have wrapped my chatbox inside react-dropzone to allow drag-drop feature and set the "noClick" to true. So users can only drag-drop to upload files. But I also have an upload button where I wanted the upload on click to work.

 What I did was use two instances of useDropzone. In one noClick is set to true and in other no click is set to fa

[2022-11-17 11:06] idraganov21 opened #1252 "[BUG] Captured images doesn't open"
**Describe the bug**
When I capture photos from my phone and upload them, and then when I try to open them they don't open, the link is broken. It should go into a new tab and preview the picture.

**Screenshots**
https://paste.pics/d9fea6b915888342fa8fdec46eb16eb1

[2022-11-17 11:45] ivanebhtpicha commented on #945
I still have this issue, and I've updated to the last version

[2022-11-17 12:05] mfialko opened #1253 "[BUG] One file is accepted from many, when multiple=false, if drop it"
I want to reject all files, if there are more than 1 one file is dropped. I set multilple=false, maxFiles=1, but when I set up customValidation, then there are cases, when some files are accepted.

**To Reproduce**
https://codesandbox.io/s/react-dropzone-example-forked-j2rmjo?file=/src/App.js

Steps to reproduce the behavior:
1. Open your OS file manager
2. Choose one (!) .xls file and, for exampl

[2022-11-21 02:28] jacktsin1 commented on #310
@lalit7788 Had exactly the same issue. Your comment is the solution, GJ!!

[2022-11-21 07:26] bigface030 commented on #1232
I encountered same bug with
`accept: { "application/octet-stream": [".vrm"], },`

[2022-11-23 06:59] gayancharith commented on #1229
+1

[2022-11-23 12:00] Haraldson commented on #1220
Just came here now after a too optimistic upgrade (didn’t read up on the breaking change introduced in v13), and wanted to leave my +1: This format is way too limited and/or verbose, depending on how you see it. Having the wildcard mime type from the key added to the `accept` attribute is **not** expected behavior.

[2022-11-23 15:19] SavePointSam commented on #1097
Had the same issue as above, picking the same file a second time yielded no change. I switched my wrapper from a `<label />` to a `<div />` and removed `onClick: false`, then the file was loading in the second time as expected.

[2022-11-24 05:48] getalihassan commented on #1210
I can work on it

[2022-11-27 04:40] bobs619 opened #1256 "Can we can get examples that look like the dropzone.js examples"
**Is your feature request related to a problem? Please describe.**
The dropzone.js examples look sexy.   Can we get more sexy examples with this repo?

**Describe the solution you'd like**
Examples with:
1.) file icons and upload spinners (like the dropzone.js examples)
2.) Tailwind integration

**Describe alternatives you've considered**
1.) https://github.com/dropzone-ui/dropzone-ui-react#Usage-

[2022-11-28 04:43] izhan commented on #1000
And to add to above: if fixing versions of `@types/react` doesn't work, make sure they are also using the same versions of `csstype` in package-lock.json

[2022-11-28 17:39] #1256 closed

[2022-11-29 12:24] Eerik001 commented on #1229
+1