[2018-05-02 09:10] TrySound commented on #596
@rolandjitsu I know about lifecycles. Point to the code in this project where you see `componentWillReceiveProps`. I can't find it.

[2018-05-02 09:14] rolandjitsu commented on #596
@TrySound oops, sorry. This project does not have that, it was [#428](https://github.com/oliviertassinari/react-swipeable-views/issues/428) that uses it.

[2018-05-02 10:18] sweelemk opened #602 "The window does not open when we are use accept="image/png""
Hi! We are using 3.7.0 version.

When I working with android < 6 version i get exception on the Chrome Browser. The exception affecting only with accept="image/*".
2 weeks ago was not exception.

Example https://react-dropzone.netlify.com/#styling-dropzone  also does not work

I use android 4.4.2 and Chrome version 66.0.3359.126

[2018-05-04 12:41] zanisis commented on #600
i want adding question, maybe possible if drags disabled ?.

[2018-05-04 16:27] arelaxend commented on #600
It is useful for the user because he can see in advance where is the dropzone area! Is this what you mean ?

[2018-05-07 14:20] MareliBasson opened #604 "when attempting to upload a file that exceeds maxSize it doesn't trigger rejectClassName"
I'm actually not sure if this is a bug, but it would be great if it could be added as a feature.

- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**
Currently the dropzone prevents the file from being uploaded but there's no visual cue that the file will be rejected.

**What is the expected behavior?**
It would be great if a file that exceeds the maxSize that'

[2018-05-07 18:46] rkmarks commented on #604
sounds like a good contribution :) do you mind opening a PR about it ?

[2018-05-07 18:48] rkmarks commented on #602
Have you tried upgrading your version and testing it out? You are a whole major version behind and would be difficult to troubleshoot.

[2018-05-08 03:06] sedge commented on #554
This issue seems to have broken dependant packages, like `[react-dropzone-s3-uploader](https://github.com/founderlab/react-dropzone-s3-uploader)`.

[2018-05-08 10:11] sweelemk commented on #602
no, i dont update my version, but i looked example https://react-dropzone.netlify.com/#styling-dropzone and tested - the result is the same

[2018-05-08 11:09] kildem commented on #554
I have the same
as @mojadev said, using <Dropzone.default /> solved the problem, but only on client side, on server rendering it throw error:
`Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed

[2018-05-08 13:32] MareliBasson commented on #604
@rkmarks sure, i'm willing to try . I'm still quite junior when it comes to JS, so I'll see if I can figure out.

[2018-05-09 16:12] gtwilliams03 commented on #554
@kildem I have the same problem.  It throws the `type is invalid` error client side unless I render as `<Dropzone.default>`

[2018-05-09 19:40] gtwilliams03 commented on #554
Not sure if this helps track this down, but if I run local, I need to use `<Dropzone.default />` to avoid the above `React.createElement: type is invalid` error.

If I deploy to production (i.e., webpack), I need to render only `<Dropzone />` to avoid the error.

@mojadev @kildem Maybe this is a temporary fix for you?

[2018-05-10 06:45] #602 closed

[2018-05-10 06:46] sweelemk commented on #602
I tested with version 4.2.9 and all work. Thx

[2018-05-10 08:44] kildem commented on #554
@gtwilliams03 No, it isn't a good fix form me. I have client and server rendering.
As temp fix I build a local implementation of drag and drop

[2018-05-10 16:16] eluchsinger opened #605 "Dropzone loses styling when hovering text"
- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
The styling for accepted or rejected filetype does not get applied when hovering over the dropzone text on Firefox. It works on Chrome and Edge.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Drag a file over a dropzone.
2. Move the file over the text of the dropzone (the sty

[2018-05-14 09:26] nazarposhta opened #607 "Problem with "accept="audio/mp3" in Safari - Version 11.0.3 (13604.5.6)"
Hi all. I found a bug with accept="audio/mp3" in Safari. This type of props looks like not supported in this browser. When I'm trying to add *.mp3 file with this parameter - method "onDropRejected" just drops me an error. I even tried to set all of ".mp3" aliases like
`audio/mp3, audio/mpeg3, audio/mpg, audio/x-mp3, audio/x-mpeg, audio/x-mpeg3, audio/x-mpg`
but it still doesn't work. At the moment

[2018-05-14 18:33] #586 closed

[2018-05-14 19:50] gtwilliams03 commented on #554
@kildem Not a good fix for me either, FWIW.  I need to remember to swap `<Dropzone.default />` and `<Dropzone />` every time I deploy...

[2018-05-16 13:42] jaredkirkley commented on #575
bump

[2018-05-17 06:43] okonet commented on #575
Ideally we’d have a PR to close this instead of keeping it around.

[2018-05-18 13:00] pavelpashkovsky commented on #147
@Andriy-Kulak you can use this repo: (https://github.com/blueimp/JavaScript-Load-Image)

`npm i blueimp-load-image`

then:

`import loadImage from 'blueimp-load-image';`

[2018-05-19 06:30] smeijer commented on #530
@stalebot, the issue still needs to be resolved.

[2018-05-21 19:06] #572 closed

[2018-05-22 06:00] rkmarks commented on #605
@eluchsinger i was unable to duplicate this issue using the example code though i was on 61.0b6. also keep in mind the browser you are in is a beta version and this is intended for stable versions for all browsers

[2018-05-22 06:00] #605 closed

[2018-05-22 16:15] okonet opened #609 "Introduce plugin interface for resolving files from drop event"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**If this is a feature request, what is motivation or use case for changing the behavior?**

After thinking and discussing the architecture for supporting drag'n'drop for folders, it seems the best way would be to allow users to provide a function that returns an array of files. This w

[2018-05-22 17:15] Nodman commented on #592
@kroltan I was not able to reproduce this (tried both firefox and chrome). Can you please provide more information on your environment, like React versions?

[2018-05-22 17:28] rkmarks commented on #600
closing issue as this is not an issue of the component.

[2018-05-22 17:28] #600 closed

[2018-05-22 18:32] #575 closed

[2018-05-23 15:22] rajdee commented on #554
@SourceCipher I fixed this issue by disabling module transformation by the Babel.  I.e. in `.babelrc`:
[code]

[2018-05-24 15:10] luisfuertes commented on #161
I have this code:
[code]

The problem is when i press enter with input focused, onClick dropzone button is trigered. But if move button out of Dropzone, it isnt happens.

I don know if it is related with this issue. Sorry if not

[2018-05-24 22:55] Mickyfen17 commented on #607
Hey @nazarposhta, I just ran into this issue today, it seems to also be happening in Firefox.
The way I got around it was by using `accept: "audio/mp3, audio/mpeg"`.
It looks like Safari and Firefox use the MIME `audio/mpeg` whilst Chrome prefers `audio/mp3`.

This post helped me https://stackoverflow.com/questions/10688588/which-mime-type-should-i-use-for-mp3

Hopefully this will help you, if thi

[2018-05-25 19:45] kliu4 opened #614 "How to make the react dropzone beautiful (look like the dropzone.js homepage)"
How to change the css of default react dropzone to make it more beautiful (look like the dropzone.js homepage)?

[2018-05-25 22:05] johnrhampton commented on #479
@okonet, I use this library in multiple projects also and would be thrilled to help maintain it. It has been a huge help to me and would love to pay that forward. If you are still looking for assistance maintaining the repo, please let me know.

[2018-05-27 05:28] rkmarks commented on #614
@kliu4 you should be able to pass your own styles in props or even wrap the component in a div that is customized w/ css

[2018-05-27 05:28] #614 closed

[2018-05-27 05:30] rkmarks commented on #607
I believe that is indeed the correct way to handle this browsers tend to differentiate a bit. Closing this issue but if it is still not working w/ the workaround will reopen

[2018-05-27 05:30] #607 closed

[2018-05-31 06:50] bbthorntz commented on #122
@okonet sorry to comment on a closed issue, but I've also encountered this problem.

Strangely, setting a longer delay in the `setTimeout` method of your example reproduces the problem. For example, increasing it from `1000ms` to `3000ms`.

Please see https://codesandbox.io/s/n7o91o9310 for a reproducible case.

[2018-06-01 13:21] Nodman commented on #122
@bbthorntz For security reasons browser blocks all the popups and dialogues that was opened not directly by user interaction, or those which were opened programmatically but with a delay not greater than 1000 ms.
If 1000ms dealy is your usual case, then you probably want to rework  UI/UX flow somehow to prevent this, because I am pretty sure that there is no good workaround for this

Here some [pr

[2018-06-01 14:14] bbthorntz commented on #122
@Nodman ahh, that’s it. Thanks for the info! Like you said, we realised it was probably better to rework the UI.

[2018-06-01 21:09] okonet commented on #122
It would be great to have it in docs I think. PR?

[2018-06-02 12:00] jeremejevs commented on #404
It's actually probably best to keep the typings in DefinitelyTyped after all. See this discussion in `redux-thunk` for some pros and cons: https://github.com/reduxjs/redux-thunk/pull/180#issuecomment-387660405 Long story short, unless the target project is written in TypeScript itself, cons of co-location outweigh the pros.

[2018-06-02 16:18] okonet commented on #404
Hmm. Ideally we would provide types for both flow and TS. We have a branch with flow typings for the whole project. How hard is it to keep TS definition in alignment if we’d switch to Flow?

[2018-06-02 17:29] jeremejevs commented on #404
Honestly, don't know. The typings themselves are pretty simple, almost copy-paste of Flow, but then there are also tests. Why do you want to provide types? As mentioned in that tweet, DefinitelyTyped has a lot going for it: https://twitter.com/drosenwasser/status/981722403033309185

[2018-06-02 18:50] #522 closed

[2018-06-03 16:40] #584 closed

[2018-06-04 06:12] Nodman commented on #122
@okonet  good point, I'll do it!

[2018-06-04 06:17] bbthorntz commented on #122
I've been searching for an official documentation to link to but I can't find anything. It's strange that browsers (at least, Google Chrome) don't display a console warning to notify users that the event was blocked for security.

[2018-06-04 06:35] Nodman commented on #122
Strange indeed, Mozilla showing little notification about popup blocking while Safari and Chrome are staying silent.
I also wasn't able to find any docs on this, just some stack-overflow posts :(

[2018-06-06 04:43] safeimuslim opened #618 "How to crop and resize image ?"
Hi guys,
Can i use react-dropzone to crop and resize image after user select image ?

[2018-06-06 09:49] Nodman commented on #618
Hi! Unfortunately, react-dropzone does not provide that kind of functionality, you need to use something like react-image-crop or similar.

[2018-06-06 09:49] #618 closed

[2018-06-07 08:39] #582 closed

[2018-06-09 09:47] safeimuslim commented on #618
oke thx

[2018-06-14 19:06] dejongch commented on #134
Any chance anything happened with this? I could really use the ability to either accept all files in a folder if it is dropped or somehow know it is a folder and not accept it at all.

[2018-06-14 19:07] dejongch commented on #11
Any chance anything happened with this? I could really use the ability to either accept all files in a folder if it is dropped or somehow know it is a folder and not accept it at all.

[2018-06-15 07:16] okonet commented on #11
There is a PR in progress https://github.com/react-dropzone/react-dropzone/pull/616

[2018-06-15 07:16] okonet commented on #134
In progress in https://github.com/react-dropzone/react-dropzone/pull/616

[2018-06-15 07:16] #134 closed

[2018-06-17 20:17] #589 closed

[2018-06-19 09:05] amiiit commented on #566
@okonet any updates on this? It seems like `attr-accept` is already fixed in the last release `v1.1.2`. But `react-dropzone` still depends on the older `v1.0.3`. Do you think just updating the dependency here would work?

[2018-06-19 15:23] okonet commented on #566
@amiiit what needs to be done to resolve this?

[2018-06-19 15:23] okonet commented on #566
Please create a PR

[2018-06-19 16:45] codewithsk commented on #255
@josh-stevens Any luck with your use case?

[2018-06-19 19:55] okonet commented on #255
Does anyone wants to take over this and create a PR? I'm happy to re-open it.

[2018-06-20 16:07] theGABS opened #622 "add ability to DnD at any part in document."
I am confuse why you did not implement it before? It is looks like very often requirement. I see it on a lot of sites, for example in slack.com.

example how at can look at code.
[code]

[2018-06-21 08:59] karltaylor commented on #479
Would love to come on board as collaborator 👍

[2018-06-21 17:40] romkri commented on #140
DragOver(e){
      if(this.dragTimer) clearTimeout(this.dragTimer);
      var me = this;
      this.dragTimer = setTimeout(function(){
          me.setState({drag:false});
      },100);

     e.preventDefault();
     this.setState({drag:true});
}

[2018-06-22 01:57] rkmarks commented on #622
@theGABS seems like a handy feature would you like to submit a PR about that ?

[2018-06-22 11:14] stas-lesiuk commented on #461
@okonet What is the actual state of this issue? Is it merged? Asking because when I clone repo and run `npm start`, the active state is PRESENT of Safari, however, when I add use react-dropzone as a dependency in my project, activeStyle & activeClassName doesn't work on Safari. I've tried with different versions of package, but didn't succeed.

[2018-06-24 19:54] ChristianReifberger commented on #479
Hi, if there is still help needed I'd like to contribute. I've used React-Dropzone a few times already, recently for a project for a client and it worked great

[2018-06-25 08:44] stas-lesiuk commented on #461
@okonet What is even more strange is that when I clone the 'react-dropzone' repo and adjust my import statement to 'react-dropzone/src', then the active state works on Safari perfectly as well. Could you tell me which library version is used on those official examples?

[2018-06-25 12:01] MastroLindus commented on #554
I have the same issue using meteor and typescript.
I didn't find a proper solution yet, but the previous version that didn't use default export used to work perfectly

[2018-06-25 15:52] okonet commented on #461
It’s always master

[2018-06-26 06:19] #588 closed

[2018-06-26 11:38] stas-lesiuk commented on #461
Well what I mean is which version of react-dropzone is used on master? Can I get it via npm? Using `npm show react-dropzone versions` I see a bunch of versions, with major starting on 0.1.0 and up to 4.2.12, so I tried with every major version, but the activeClassName didn't work on Safari. However, it did work when I copy the files from cloned repo & use them directly, not as a node module. If th

[2018-06-26 11:50] okonet commented on #461
Master is the latest version from the npm. We’re using semantic release.

[2018-06-26 11:51] okonet commented on #461
Not really, please investigate and let us know. Or, even better, submit a PR with a fix. Thanks for digging!

[2018-06-26 14:29] christianbirg commented on #548
`innerRef` is also not working. Stuck on the same point

[2018-06-26 17:54] okonet commented on #548
See https://github.com/react-dropzone/react-dropzone/pull/468

[2018-06-27 13:06] alexcroox commented on #548
This works for me

[code]

The key was `style={{}}` on the Dropzone element to stop it from applying it's own default styles outside of my `DropZoneContainer`

[2018-06-27 17:10] cinic opened #624 "PropTypes warning when pass array into "accept" property instead a string"
**Do you want to request a *feature* or report a *bug*?**

- [*] I found a bug

**What is the current behavior?**
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

1. Pass to ```accept``` prop array instead a string.

**What is the expected behavior?**
No warnings, no errors.

In docs for [attr-accept](https://github.com/okonet/attr-accept), prop ```accept``` sho

[2018-06-27 17:13] #624 closed

[2018-06-27 20:58] santiagogustavo commented on #548
@alexcroox works flawlessly for me, thanks!

[2018-06-28 23:07] StaceC commented on #554
Same issue with Jest, Webpack, Electron and Typescript. Works fine in production, just Jest that seems to fail.

`Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports

[2018-07-02 18:47] sarfata commented on #554
Same issue for me. I can fix it by adding `"allowSyntheticDefaultImports": true` but then that breaks other things in my app.

So for now this is my fix:
[code]

[2018-07-03 07:41] silentarrowz opened #626 "Feature Request: Want DatePicker to display 2 months for selection"
sorry. wrong product

[2018-07-03 07:55] okonet commented on #479
Added both of you @karltaylor and @ChristianReifberger

[2018-07-03 08:41] #626 closed

[2018-07-10 18:13] dmikheev commented on #554
For me it was webpack's ModuleConcatenationPlugin that apparently removed __esModule definition in react-dropzone files in development mode.
But I decided to turn off babel module transformation as @rajdee suggested, because it's better for webpack's tree shaking and to continue using concatenation plugin.
Also as I'm using TypeScript I had to change it's `module` to `"ES6"`, `moduleResolution` to

[2018-07-11 19:00] samueldervis commented on #479
If you still need help, I'd love to contribute.

[2018-07-11 22:43] lruckman commented on #171
Shouldn't a combination of mime's and extensions in the accept list address this?

[2018-07-12 00:13] xuefanzhang opened #627 "iOS cannot support application/pdf and image/* MIME types even when specified"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
**What is the current behavior?**
PDFs are grayed out / not selectable on iPhone devices even though accept="application/pdf,image/*" is specified. Works fine on android, desktop safari/chrome.

To reproduce, set accept to accept='image/*,application/pdf'.

"application/pdf,audio/*" works fine, so does "application/pdf"

[2018-07-12 20:46] yuri-sakharov commented on #255
I also solve this problem as proposed @akinnee-gl
[code]
don't miss
[code]
also this solution relevant for `onDragEnter`

[2018-07-15 12:27] glntlq opened #629 "accept in not a function"
version: v2.1.0

[2018-07-16 12:57] itsashis4u commented on #355
This may be because of `setState` being async in nature, you can use callbacks in `setState`

[2018-07-17 17:40] Alekseykua opened #630 "Officially supported browsers ?"
- [x] I want to propose a feature

**What is the current behavior?**
Does not specify which browsers are fully/partially supported.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Before integrating users would like to know if their desired browser support is available. Would also help to build support if we know which browsers need it.

[2018-07-18 08:55] smeijer commented on #530
@stalebot, the issue still needs to be resolved.

[2018-07-18 21:20] tjunnone opened #631 "Opacity regression in 4.2.12+"
When upgrading from 4.2.11 to 4.2.12 or 4.2.13 (latest as of writing), with no other changes, we're seeing a strange regression or perhaps change in behavior.

We have a fixed positioned Dropzone component that covers the entire browser window, with other components both inside as children and others as siblings to the Dropzone. With 4.2.11, everything's fine, going to any later version the Dropzo

[2018-07-22 06:14] okonet commented on #592
I’m closing this unless we get a reproducible codesandbox

[2018-07-22 06:14] #592 closed

[2018-07-23 18:24] theGABS commented on #622
Hi, I can try.

[2018-07-25 02:26] lucky-newbie opened #633 "how to use it IE9?"
i use react-dropzone 4.2.7 in IE9,  and it doesn't work, how to use it in IE9?

and i open the Basic example(https://react-dropzone.js.org/) in IE9, and the browser show the error in console like:
SCRIPT5007: 无法获取未定义或 null 引用的属性“add”
文件: bundle.13a94404.js，行: 66，列: 120292

[2018-07-30 06:30] imVinayPandya opened #634 "File rejection reason"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature (May be)

**What is the current behavior?**
I have added two validation like "Accept on image file" and "File size should be 5MB".

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Click on drop zone -> select options "all file" insteand of "iamge file".

[2018-08-01 18:04] microsoftly opened #635 "[BUG] accept does not work with .tar.gz"
**Current behavior and repro steps**
[code]
Current behavior: during file selection, no *.tar.gz files are accepted

**Expected behavior**
accepting of `*.tar.gz` files

**Other relevant info**

OS: `OSX 10.13.5`
browser: `Chrome  67.0.3396.99`
DropZone version: `4.2.13`

[2018-08-02 05:57] okonet commented on #404
Anyone wants to work on this?

[2018-08-03 13:27] RaphaelRegnier opened #636 "Max number of files when dropzone has multiple prop"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [X] I want to propose a feature

**What is the current behavior?**

When the multiple prop is on the dropzone, there is no limitation to the number of files a user can drop.

**If this is a feature request, what is motivation or use case for changing the behavior?**

I had to make a few tricks to limit the number of f

[2018-08-05 11:03] taikn commented on #492
This issue is still present for me on v4.2.13 IE11 ( Windows 10 )

[2018-08-06 13:43] #609 closed

[2018-08-07 09:53] alexross1988 opened #638 "v4.3.0 has introduced a breaking change to our unit tests"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Before release 4.3.0 we had a test that did:
[code]

This passed, but now we get:
[code]

Pinning back to v4.2.13 fixes our test

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

[2018-08-12 11:55] bring2dip opened #639 "Default export not working with react 16 and Webpack 4"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
[code]
This is because the Dropzone is imported as {default: function} which is an object.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

**If this is a feature reque

[2018-08-13 05:46] loopmode commented on #639
I don't think this is a react-dropzone issue, but rather an issue with webpack 4 or your specific setup..

I just tried out with react@16.4.2, react-dropzone@4.3.0 and webpack@3.8.1 (create-react-app), and it works just fine.
Also, [the code](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L441) does a perfectly normal `export default` and it's up to the consumer or env t

[2018-08-13 07:32] Nodman commented on #639
Please see #554

[2018-08-13 07:32] #639 closed

[2018-08-13 18:33] racingrebel commented on #634
I would also like to request this feature as well.
I can make a contribution to address this if you would like @okonet .

[2018-08-14 08:34] Nithendra commented on #276
HI, i am trying to upload ".tab" file but it is not allowing me.

[2018-08-14 09:39] elrumordelaluz opened #640 "Position specificity"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

With the `css` changes introduced [here](https://github.com/react-dropzone/react-dropzone/commit/d12f9f615f2d908a1c8d6e268701026b4fc7917c), the following part could brake styles (specifically `position`) when applied through `className` prop

Since it

[2018-08-14 11:44] danielweck commented on #631
Same observation. We are sticking to version `4.2.11` for now.

[2018-08-15 09:58] Nithendra commented on #276
can i upload some custom file extension if yes please share you knowledge

[2018-08-15 16:27] asfordmatt commented on #638
Related to this PR: https://github.com/react-dropzone/react-dropzone/pull/616

We've been able to get our tests passing by adding async/await similar to the above PR

[2018-08-17 19:29] okonet commented on #479
@samueldervis invited

[2018-08-17 19:31] okonet commented on #638
Hmm, probably we should have released as a breaking change indeed.

[2018-08-17 19:31] okonet commented on #638
Does anyone wants to update the documentation to mention that?

[2018-08-21 17:59] raviredd opened #644 "Unable to configure Dropzone to accept .stl files"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant in

[2018-08-21 22:06] stclairdaniel commented on #604
This should definitely still be looked at.

[2018-08-22 09:01] tobilen commented on #638
https://github.com/react-dropzone/react-dropzone/pull/645/commits/0651264c87eb83fe64ec68ec47e130058fb1fca1 fixes the issue

[2018-08-22 11:25] ddela-cr commented on #644
I'm also trying to figure out how to upload stl files. When I drop a .stl file, the type is empty. According to #597, it should work.

![capture d ecran 2018-08-22 a 13 21 22](https://user-images.githubusercontent.com/16035265/44460831-dd753880-a60e-11e8-95fc-21c4cd3bb1bd.png)

[2018-08-22 12:47] okonet commented on #638
So can this be closed?

[2018-08-22 12:48] okonet commented on #638
Should we deprecate the release and release as a major to remove confusion?

[2018-08-22 15:57] tomjn opened #646 "Synthetic Events Warnings"
**Do you want to request a *feature* or report a *bug*?**

- [x ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

After updating my dependencies, I now get this warning when dragging and dropping a folder or file on to the dropzone component:

[code]

Then, the drop handler callback ha

[2018-08-22 16:02] tomjn commented on #646
Switching to `4.2.*` in npm and rebuilding fixes that issue, so this is an issue in 4.3.x

[2018-08-22 16:04] rkmarks commented on #646
@tomjn did you try bumping to `5.x.x` ? i believe there were some fix for event listeners there that might solve your problem.

[2018-08-22 16:14] tobilen commented on #638
solved by #645

[already did a couple comments ago though](https://github.com/react-dropzone/react-dropzone/issues/638#issuecomment-414864139). you also get a specific close message here when merging a PR with the `closes` or `fixes` keyword, indicating that it was solved via this PR 🤓

[2018-08-22 16:45] tomjn commented on #646
@rkmarks changing to `5.*` and rebuilding reproduces the error

[2018-08-22 16:46] tomjn commented on #646
v5.0.1 specifically:

[code]

[2018-08-22 19:12] kristofferh opened #647 "`acceptedFiles` / `rejectedFiles` arrays are not updated when used as function as a child"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Uploading files doesn't update the `acceptedFiles` / `rejectedFiles` arrays when used as function-as-a-child -- they stay as empty arrays. This bug can be seen in the docs: [Updating styles and contents based on user input](https://react-dropzone.js.or

[2018-08-22 22:34] ml242 commented on #647
I was looking just at this moment regarding this same issue, and found that if I rolled back to
`"react-dropzone": "4.2.13",`
my app worked as it used to.

[2018-08-23 12:25] micchyboy237 commented on #131
So did anyone fix this issue?

[2018-08-24 01:15] lawreyios opened #648 "File Upload not functioning in Facebook Web View"
Is this a known issue and is there a way to get around this?

[2018-08-24 09:03] ThomasPnt opened #649 "Drag and Drop doesn't work"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Just installing react-dropzone

**What is the expected behavior?**

When I try to drag and drop some files, my class on hover and accepted is triggered and active but I c

[2018-08-24 11:31] erkeElzhan opened #650 "convert blob url to base64. i mean i need base 64 for upload it to firebase."
Please help me

[2018-08-24 15:40] #638 closed

[2018-08-24 17:28] rkmarks commented on #649
@ThomasPnt I was not able to duplicate this issue using the basic dropzone on the test ones at https://react-dropzone.js.org/. Are you using custom code asscoiated? if so can you attach a snippet of the code or repo where I could take a look?

[2018-08-25 05:36] jpetitcolas commented on #554
After trying several described methods, I ended up using:

[code]

[2018-08-26 17:32] rkmarks commented on #650
@erkeElzhan you should be able to override the `onDrop` function of the dropzone to be able to convert your files to base64. doing a simple google search i came upon this https://stackoverflow.com/questions/18650168/convert-blob-to-base64/42038379. I am closing this issue for now since this is more of needing help than an actual issue.

[2018-08-26 17:32] #650 closed

[2018-08-27 09:40] frontalicious-martijn opened #652 "onFileDialogCancel not working correctly"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
I've created this CodeSandbox to show that onFileDialogCancel is not only triggered when clicking the cancel button. In this example it almost always triggers the function, even when selecting a image the first time.

https://codesandbox.io/s/721y69j5p

[2018-08-27 18:16] shogan94 opened #653 "Accept certain file types doesn't really work on mobile."
I have the following files set to be accepted
`        "text/html",
        "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
        "application/pdf",
        "application/msword"`

On a desktop when I click on the dropzone, it opens the file picker for my computer and has all files greyed out except the ones that are at accepted. This is the expected behavior.

On mobil

[2018-08-29 15:59] ihgrant commented on #131
@micchyboy237, not possible, as I explained above. It's a limitation put in place by browsers for security.

[2018-08-30 09:27] dcalixto opened #656 "strange characters with formdata"
**Do you want to request a *feature* or report a *bug*?**

- [ x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

after setup a simple avatar uploader with  a simple rails api in the logs show this strange characters. and i have any idea why, someone has any clue?

[code]
**Wha

[2018-08-30 19:03] bologer commented on #526
Issue is relevant, any ideas how to patch it?

[2018-08-30 19:05] bologer commented on #526
`onDragLeave()` is not being fired as well when I move file to dropdown area and then move it away.

[2018-08-31 03:59] JonnyBoy333 commented on #131
@ihgrant In your solution to this problem above, you have the third property in onDrop that is the event. In my testing I am having problems accessing the target prop from the event. Whenever I try to do this I get warnings in the console and ultimately a `Cannot read property 'files' of null` error.

The warning reads like `index.js:2178 Warning: This synthetic event is reused for performance rea

[2018-08-31 04:09] JonnyBoy333 commented on #646
I'm also experiencing this same error trying to access the target prop on the event. Using version 5.0.1.

[code]

[2018-08-31 07:39] okonet commented on #131
@JonnyBoy333 the warning looks like a bug at our side because we switched to Promises (https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L177) so we might need to persist the event before we call it here:

https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L209

Can you please report it in a separate issue with steps to reproduce and possible work on

[2018-08-31 11:29] dfsq commented on #636
This would be very convenient.

[2018-08-31 13:32] ddela-cr commented on #644
@raviredd i've been looking for a fix for this. Have you figured out how to make it work?

[2018-08-31 14:25] JonnyBoy333 commented on #131
@okonet Looks like someone has already filed this issue in #646. I will track it over there.

[2018-08-31 22:13] ihgrant commented on #131
Yeah, things have changed in the 2.5 years since I wrote that! You can probably save off a reference to the target and then use it in setState, e.g.
[code]
Or, as the warning says, call `e.persist()` before setState.

[2018-09-03 14:27] dan-lee commented on #646
I submitted a PR which should fix this issue: https://github.com/react-dropzone/react-dropzone/pull/657. Not sure if I missed something though

[2018-09-03 20:07] rkmarks commented on #644
I've located the issue however it is not an issue with `react-dropzone` but an issue in `attr-accept` and reference this issue. I will open up an issue w/ that repo as I believe I have an idea of where this issue occurs.

[2018-09-03 20:07] #644 closed

[2018-09-03 20:20] #629 closed, assigned to nobody

[2018-09-03 20:23] #633 closed, assigned to nobody

[2018-09-05 19:58] mantelljason opened #658 "Invalid attribute "autocomplete""
**Do you want to request a *feature* or report a *bug*?**

- [x ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Throws validation error when run through HTML validator. The attribute "autocomplete" is not valid for input type "file"

**If the current behavior is a bug, please provide the steps to reproduce.**

1.Run through an html validator
1.
1.

**What is th

[2018-09-05 20:00] mantelljason opened #659 "Opacity Unknown Dimension on html validator"
**Do you want to request a *feature* or report a *bug*?**

- [ x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Error: CSS: opacity: Unknown dimension.
<input aria-label="File Upload Input" type="file" multiple="" autocomplete="off" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 1e-05; pointer-events: none;">
**If the current

[2018-09-06 09:50] Spenhouet opened #660 "acceptClassName doesn't work"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

If I set `acceptClassName` the accept class name isn't set on accept.
If I set `rejectClassName` the reject class name is set for accept and reject.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Set `acceptClassName

[2018-09-07 07:44] okonet opened #661 "Add an example for folders drag'n'drop"
As of #https://github.com/react-dropzone/react-dropzone/issues/609 and it's implementation in https://github.com/react-dropzone/react-dropzone/pull/616 we now officially support plugins that should allow integrations with plugins like https://github.com/quarklemotion/html5-file-selector a breeze. It would be great to have an example of such integration in the examples.

[2018-09-07 08:58] d-ivashchuk commented on #661
I will work on that!

[2018-09-07 17:52] futpib commented on #182
This was related to a parent `label` somehow in my case. See this answer: https://stackoverflow.com/a/52227434/4477664

[2018-09-07 19:05] d-ivashchuk commented on #661
I think I am little bit stuck and would need some help. I've looked at source code and #616 and understood that `getDataTransferItems` prop accepts some function and returns an array of files when dropped into the browser. There is also a `defaultGetDataTransferItem` default prop that should make dropping folders possible out of the box.

So far I don't think I am able to get it working properly w

[2018-09-08 11:38] d-ivashchuk commented on #661
If that is not a problem I will make a PR so you can check how it looks then :)

[2018-09-08 11:58] #646 closed

[2018-09-09 00:46] rkmarks commented on #659
I do not know what this issue is for? I just ran the test page through and it did not give me the same error https://validator.w3.org/nu/?doc=https%3A%2F%2Freact-dropzone.js.org%2F. Do you have an example site you are working with?

[2018-09-09 00:47] rkmarks commented on #660
Can you provide a snippet of your code you are using that this is happening? That should still apply with the version you are on.

[2018-09-09 00:48] rkmarks commented on #658
I just ran the test page through an html validator and did not come across this error. https://validator.w3.org/nu/?doc=https%3A%2F%2Freact-dropzone.js.org%2F

[2018-09-09 00:48] #658 closed

[2018-09-09 00:51] rkmarks commented on #653
are you using this in mobile native or web?

[2018-09-10 08:10] okonet commented on #661
@d-ivashchuk are you still working on this? I didn't see any PRs coming from you.

[2018-09-10 08:15] d-ivashchuk commented on #661
@okonet sure, I’ve made a PR day ago

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-10 08:18] okonet commented on #661
Ah I see it now. A reference to this issue would be great...

[2018-09-11 09:17] Ionut-Milas commented on #579
I'm having the same issue uploading docx files on Chrome with Windows 10.
On MAC works just fine

[2018-09-11 09:28] stefanocastriotta opened #664 "Chrome on iPhone iOS 11 crashes after undoing file selection"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug

**What is the current behavior?**
Chrome on iPhone iOS 11 chrashes if i undo file selection after tapping on a dropzone area. Tested from the official example page (https://react-dropzone.js.org/#!/Basic%20example) and the last version of both Chrome (69.0.3497.71) and iOS (11.4.1).

**If the current behavior is a bug,

[2018-09-13 11:03] Tomisiak commented on #575
Looks like this issue still appears in Firefox browser on Windows and Mac OS. Tested on latest version.

[2018-09-13 22:07] xuefanzhang commented on #627
bump

[2018-09-14 05:18] Jiasm commented on #479
Maybe I can help you, That's a awesome project.

[2018-09-17 06:38] smeijer commented on #530
This bot is frustrating.

[2018-09-17 07:47] Spenhouet commented on #660
@rkmarks sure

FileBox.tsx:

[code]

FileBox.css:

[code]

[2018-09-17 07:53] Spenhouet commented on #660
@rkmarks Okay, that seems to be a different issue. With `accept=".pdf"` also pdf files will be rejected. Therefore always only the reject style is used.

[2018-09-17 08:10] Spenhouet commented on #660
@rkmarks Sorry, I found out I did define the accept parameter wrong.

Instead of `".pdf"` I should have used `"application/pdf"`.

[2018-09-17 08:10] #660 closed

[2018-09-17 21:38] #255 closed

[2018-09-18 10:13] fabian-hiller opened #665 "Bug: Instagram Web View (Browser) at iOS trigger a page reload"
Use **react-dropzone** (v.5.1.0) directly through **Instagram's internal browser on an iPhone**, trigger a **page reload**. This reloads the entire react app and makes uploading a file impossible.

By reloading the page, the memory of the react app is reset, which means that the file/s added via react-dropzone can not be processed.

In common browsers such as Chrome or Firefox, the problem does no

[2018-09-18 15:48] shashanksheela opened #666 "Multiple Dropzone components in same page is not working"
I have 2 dropzone components on the same page. The first one is working fine but the one which is loaded after the first is not able to accept any file(onDrop,onDropAccepted functions are not triggered).Kindly help

[2018-09-18 20:28] dbelay22 commented on #652
The same here on Chrome /  MacBook Pro / Dropzone v4.2.11

[2018-09-18 22:26] Alekseykua commented on #630
Bump

[2018-09-21 12:38] koos303 commented on #579
If I save an existing Excel file as File Format ''Strict Open XML Spreadsheet (.xlsx)" it works with file type `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`

[2018-09-23 16:01] danadn commented on #636
What about sharing the workaround @RaphaelRegnier please?

[2018-09-24 15:08] Emidomenge commented on #647
I noticed this bug on the documentation as well. And I immediatly came here to check if someone reported this issue, haha.

[2018-09-24 17:08] nfantone commented on #647
@Emidomenge There is. You can either use `isDragAccept` instead of `isDragActive` or you can just re-arrange the order in which the conditionals are written.

[code]

[2018-09-24 17:12] nfantone commented on #647
@kristofferh FYI, I fixed this issue by adding `this.setState({ acceptedFiles, rejectedFiles })` on the `onDrop` handler after L220 of `src/index.js`. I'm using a fork with this patch (cc. @Emidomenge @ml242)

[2018-09-24 17:14] kristofferh commented on #647
@nfantone Cool. I haven't had a chance to look into the issue, but if your patch fixes it I'm sure the maintainers would love a PR.

[2018-09-24 19:02] ml242 commented on #647
@nfantone - thanks for digging around for that. I had pinned the library to the earlier commit but I'll keep an eye out for your change.

[2018-09-25 18:33] ilovett commented on #627
https://openradar.appspot.com/36726477

[2018-09-25 20:05] nfantone commented on #647
@okonet https://github.com/react-dropzone/react-dropzone/pull/667

[2018-09-25 23:10] yebrahim commented on #554
+1. If you're, like me, using create-react-app with Typescript, there's no way I can find around this problem. I can't even try any of the solutions above. :(

[2018-09-26 06:28] #647 closed

[2018-09-26 10:58] AlexandrLi commented on #647
Hey, guys! When do you plan to release this fix? I'm currently implementing a feature that highly depends on this and it's kinda blocker for me.

[2018-09-26 10:59] theCuriousOne commented on #666
Hi @shashanksheela
I am using 2 dropzones and both are working ok:

 <Dropzone onDrop={(file: any) => this.handleFileSelect('content1', file)} name="content1" className="dropzones" multiple={false} accept={allowedExtensions}>
                                            {contentChild1}
                                        </Dropzone>
                                        <Dropzone onDrop={(fil

[2018-09-26 11:37] okonet commented on #647
It should be released already

[2018-09-26 12:07] AlexandrLi commented on #647
Just checked [npm-registry](https://www.npmjs.com/package/react-dropzone) and it shows the last publish date - 17 days ago. Could you double check, please? Did you change the version of the package after this fix?

[2018-09-26 12:07] okonet commented on #647
Okay, it's semantic-release issues again 😠 Trying to fix it now.

[2018-09-26 12:09] okonet commented on #647
:tada: This issue has been resolved in version 5.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v5.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-26 12:13] nfantone commented on #647
Many thanks for the prompt input and release, @okonet!

[2018-09-26 12:27] rkmarks commented on #656
Looking at your request I see 2 `Content-Type` and the other is lowercase which could be what is conflicting and why you are seeing the strange characters.

[2018-09-26 12:27] #656 closed

[2018-09-26 21:57] sbaggott opened #668 "rejectStyle prop doesn't work in Safari"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
In Safari, rejectStyle is not applied to Dropzone component.

**If the current behavior is a bug, please provide the steps to reproduce.**
Very easy to reproduce:
1. Open the [3rd example in the documentation page](https://react-dropzone.js.org/#accept

[2018-09-27 06:27] msirocki commented on #661
+1

[2018-09-27 14:16] frodestorhaug opened #669 "build with webpack"
When I build my project with webpack I get the following error

node_modules\react-dropzone\dist\es\index.js c96c31c8c43feed86cfb7d33960c0cc4
Unexpected token (1:79)
| /* harmony default export */ var __WEBPACK_MODULE_DEFAULT_EXPORT__ = (undefined{
|   rejected: {
|     borderStyle: 'solid',

If I remove the  import styles from './utils/styles'; and refs to style it works. Has anyone else experien

[2018-09-27 17:19] frodestorhaug commented on #669
It

[2018-09-27 17:19] #669 closed

[2018-09-27 20:58] #661 closed

[2018-09-28 11:13] conor-kelleher commented on #636
@RaphaelRegnier I'd also very much appreciate hearing about your workaround for this

[2018-09-28 13:58] rNiall commented on #649
For me, the same behavior as @henkiejan mentioned. Tested on Chrome Version 68.0.3440.75 (Official Build) (32-bit) & Version 69.0.3497.100 (Official Build) (64-bit)

[2018-09-28 16:53] carlosjunod opened #670 "bug: Rejectstyle overwrites activeStyle even when the file is acceptable"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Dropzone is displaying the the rejectstyle when the file is acceptable

**If the current behavior is a bug, please provide the steps to reproduce.**
1.  open de link [https://codesandbox.io/s/ryl9kr4z5o](url)
1. drag an drop a jpg file
1. it will displ

[2018-09-28 20:11] #622 closed

[2018-10-01 06:29] danadn commented on #636
I'm using react-dropzone with redux-form, and the Field component that wraps Dropzone component prevents multiple file to be uploaded:
`<Field name={"files"}
    component={ReduxFormDropzone}
    **multiple={false}**
dropzoneOnDrop={this.handleDrop} />`

So is redux-form the one preventing, not react-dropzone.

More information here:
https://github.com/erikras/redux-form/issues/71

[2018-10-01 23:24] chobo2 opened #672 "Demos?"
Hi

it would be great if there was some live demos of what this plugin can and cannot do.

[2018-10-02 01:38] rkmarks commented on #672
@chobo2 the main page https://react-dropzone.js.org has demoable examples of what the component can do. Not sure how to demo what it cannot do but open to suggestions to what can be changed from the README to help with that :)

[2018-10-02 12:48] okonet commented on #661
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-02 20:20] chobo2 commented on #672
Ah, ic they are scattered part of the documentation thought they where more like static representations.

[2018-10-02 20:20] #672 closed

[2018-10-02 20:25] chobo2 opened #674 "Couple Questions (Also possible bug in demo version)"
Hi

got a couple questions.

1.  There seems to be no max limit property(I saw a feature request on this). Can this plugin handle say like 500+ items dropped. It seems like I control how to send them to the server so I could send them individually or batches I guess.

2. Does this plugin work with IE 11? It seems like dragging and dropping folders does not. but the rest seems to work.

3. " On mos

[2018-10-03 09:25] SirMoustache opened #675 "Bug: onDragEnter, onDragLeave, onDragOver, onDragStart events not working"
Hi, all drag event, except onDrop, are not working properly for me. Tried in Chrome (Version 69.0.3497.100 (Official Build) (64-bit)), IE11, Firefox (62.0.3 (64-bit)).

After some debugging, I found out that it's because getDataTransferItems() don't return event files.

[2018-10-03 09:48] jare-talend opened #676 "onDragEnter isn't triggered when drag a file"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

1. Go the demo page https://react-dropzone.js.org/#full-screen-dropzone
2. Start to drag a file from your file system on the dropzone
![react-dropzone](https://user-images.githubusercontent.com/20772261/46402998-91cfa780-c701-11e8-9f91-15bb87a2c6c4.gi

[2018-10-03 10:20] goonerDp opened #677 "After adding "activeClassName" and "acceptClassName" props, class names not changing"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug

**What is the current behavior?**
I've added to Dropzone component custom "className", "activeClassName" and "acceptClassName" props. When I drug a valid file over dropzone, no classes are added.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Add custom "className", "activeClassName"

[2018-10-03 13:59] robjtede commented on #677
I am experiencing this regression after upgrading to v6.0.1.

[2018-10-03 14:12] robjtede commented on #677
Probably related to #676

[2018-10-03 15:58] chobo2 opened #679 "[Bug] Dropped files and folders does not work in V 6.0.1 (sort of works in v5.5.1)"
Hi

On your sample page the example does not work:  https://react-dropzone.netlify.com/#extending-dropzone

[code]

Also it makes no mention of how to get the 3rd party plugin.

In my local example using what I hope is the right plugin I get

[code]

[code]

Edit I went to v5.5.1 and it sort of works I still see this error

[code]

but it also extracts the data out though when I drag a folder in a

[2018-10-04 12:55] jare-talend opened #681 "drop event is triggered when drag a link on edge 17"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
2. Go the demo page https://react-dropzone.js.org/#full-screen-dropzone with **edge 17**
3. Move the link Open isolated into the dropzone

![](https://user-images.githubu

[2018-10-04 19:44] robjtede commented on #677
sorted in v6.0.2

[2018-10-05 18:00] mcmillhj-wta commented on #40
I am still experiencing this in 6.0.2 after https://github.com/react-dropzone/react-dropzone/commit/8bcf347f8f1b5dd6c8ad2498b978772e3ff351dc

[2018-10-06 10:54] laurentsmohr commented on #138
GUYS! This change needs to be reflected in the Docs. Was just wondering why onDropRejected didn't do anything.
Also I think its very intuitive to have all three: onDrop, onDropRejected and onDropAccepted, as their naming says exactly what they do.

[2018-10-06 12:10] christiannwamba opened #685 "onDragEnter and onDragLeave does not get called"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

The `onDragEnter` and `onDragLeave` methods do not get called but when you use the event on a parent [primitive element](https://github.com/react-dropzone/react-dropzone/issues/140#issuecomment-190534399) (eg `div`), it works.

**If the current behavi

[2018-10-07 19:13] #635 closed

[2018-10-08 07:24] sumthief opened #686 "event.stopPropagation in custom event handlers doesn't work"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
If you have Dropzone which nested into other Dropzone then when you'll try to upload file to the nested dropzone you'll also get this file upload to external Dropzone. It should be handled via `event.stopPropagation` in then nested Dropzone's onDrop ha

[2018-10-08 07:35] sumthief commented on #686
I think there are 2 ways to solve this:
1) We can do force `event.stopPropagation` in all react-dropzone's handlers.
2) We can remove `Promise` to make possible `event.stopPropagation` from custom handlers. But this can broke compatibility with external plugins such as https://github.com/quarklemotion/html5-file-selector.

[2018-10-08 07:54] sumthief commented on #686
Also I can prepare MR but I need advice which way we should implement. I prefer the first way because I think that each Dropzone should have atomic logic and don't impact on other Dropzones but I can be wrong.

[2018-10-08 10:08] #675 closed

[2018-10-08 15:34] okonet commented on #686
We can't remove things like Promise since it's going to break other features. First way sounds legit unless it's going to break some other implementation.

We should call `event.persist()` and pass this instance to callbacks. This should allow calling whatever you want on it.

Please create a PR!

[2018-10-09 04:39] sumthief commented on #686
I've checked `onDrop` handler and it's already contains `event.persist()` but it doesn't work.

As you know React uses custom event dispatching system (see `executeDispatchesInOrder` in https://github.com/facebook/react/blob/master/packages/events/EventPluginUtils.js). And it handles events which have stopped propagation. So it should handle our event correctly. But I've set debugger in react-drop

[2018-10-09 19:26] aruprakshit opened #687 "Can we make the lib flexible by allowing to override the default inline styles?"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [X] I want to propose a feature

**What is the current behavior?**

If I apply inline style, then default style is not applied anymore.

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

I am looking for a feature where custom inline styles can

[2018-10-10 07:36] okonet commented on #687
It's a duplicate for the ongoing work #468

[2018-10-10 07:36] #687 closed

[2018-10-10 07:37] okonet commented on #685
Confirming. Can you please provide a fix for this?

[2018-10-10 07:39] okonet commented on #636
This kind of functionality should live in user land and can be easily added using `onDrop` callback. I'd love to accept an example if you're up to.

[2018-10-10 07:39] #636 closed

[2018-10-10 07:53] okonet commented on #686
I believe there should be a better solution. Let’s start with finding the root cause. I think that persist should work, correct? Let’s find out why it doesn’t.

[2018-10-10 10:55] NtwariJoshua commented on #530
I had the same issue any solutions on this yet?

[2018-10-10 12:31] rolandjitsu commented on #679
@chobo2 see https://github.com/react-dropzone/react-dropzone/pull/682. It has been fixed by providing a different plugin library.

[2018-10-10 12:31] #679 closed

[2018-10-10 12:37] rolandjitsu commented on #676
This should have been fixed with https://github.com/react-dropzone/react-dropzone/pull/678.

[2018-10-10 12:37] #676 closed

[2018-10-10 12:38] rolandjitsu commented on #677
Closing this as it seems to be fixed. Reopen if the issue persists.

[2018-10-10 12:38] #677 closed

[2018-10-10 12:50] rolandjitsu commented on #674
@chobo2 to answer your questions:

1. If you're referring to a limit on how many files can be dropped, there isn't such a feature (see [proptypes](https://react-dropzone.js.org/#proptypes) for all available options). This lib does not read the files, so theoretically it should be ok to drop many files, but it's the user's responsibility to batch process the files.
2. As far as I know, folder API i

[2018-10-10 12:50] #674 closed

[2018-10-10 12:57] rolandjitsu commented on #554
@yebrahim I'm using `react-scripts-ts` and `import Dropzone from 'react-dropzone';` works without any issues (make sure you have the `allowSyntheticDefaultImports` flag enabled in `tsconfig.json`).

Typings are now baked in this package, in case you use the ones from `@types`.

[2018-10-10 13:10] rolandjitsu commented on #652
I can confirm that the cb is called when selecting files as well (besides when it's canceled). @frontalicious-martijn would you mind making a PR with a fix?

Most likely it happens at [index.js#L285](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L285). You just need to check if `{acceptedFiles}` on the state is not empty and only if it is we invoke the cb.

[2018-10-10 15:56] rkmarks commented on #530
@smeijer @NtwariJoshua all PR's are welcome for this

[2018-10-10 16:49] yebrahim commented on #554
Thanks @rolandjitsu, that did work.

[2018-10-11 06:11] sumthief commented on #686
I've mistaked in previous message: persist works fine.

I'll try to explain my vision of problem one more time. Usage Promise causes that code which located in `.then` pushed to event loop but not to call stack. You can check it by evaluating this code in console:
[code]
In my previous message I've add link on React event`s subsystem which dispatch event for all registered targets in cycle. So I w

[2018-10-11 09:09] rolandjitsu commented on #686
@sumthief You're right, event propagation will not work as expected due to the async logic within each of our internal callback fns.

Removing the use of promises is not an option at the moment as it is the only way to allow 3rd party plugins to asynchronously read through a dir tree.

At the moment the easiest way to fix this is to do what you described, use `stopPropagation()` internally (maybe

[2018-10-11 09:28] okonet commented on #681
:tada: This issue has been resolved in version 6.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v6.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-11 15:10] leogiertz opened #689 "setState is called after the component is unmounted"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Getting a warning from React that the drop zone is calling setState after it has been unmounted.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. In a component, mount a dropzone with an onDrop callback.
2. Drop a file

[2018-10-11 17:50] MrLeebo opened #691 "[Feature Request] Add `open()` to child function parameters"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**
To programmatically open a Dropzone, you must `ref` the component and call `open()` on it, even when you're using the `children` prop as a function.

[code]

**What is the expected behavior?**
It seems silly to need to `ref` a component that is already

[2018-10-12 18:22] #691 closed

[2018-10-13 09:05] rolandjitsu commented on #689
Fixed in https://github.com/react-dropzone/react-dropzone/pull/690.

[2018-10-13 09:05] #689 closed

[2018-10-13 10:12] rolandjitsu commented on #627
@xuefanzhang I'm afraid that there is not much we can do on our side to fix this. As I explained in https://github.com/react-dropzone/react-dropzone/issues/653#issuecomment-429525418 and as @ilovett pointed out in his comment, this is a problem with inconsistent behaviour of file selection in mobile browsers as the [`accept`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-acc

[2018-10-13 10:12] #627 closed

[2018-10-13 10:35] rolandjitsu commented on #685
I've tested the fullscreen example in Chrome `70.0.3538.54` on macOS and the events are triggered. This was an issue before https://github.com/react-dropzone/react-dropzone/pull/678 was merged and released, I don't think it's an issue anymore.

I'm closing the issue. @christiannwamba feel free to reopen and provide a reproducible example if you think this is still an issue.

[2018-10-13 10:35] #685 closed

[2018-10-13 10:45] rolandjitsu commented on #670
@carlosjunod please read the [browser limitations](https://react-dropzone.js.org/#accepting-specific-file-types) section. And see [ryj9lmz27q](https://codesandbox.io/s/ryj9lmz27q) to illustrate the workaround.

[2018-10-13 10:45] #670 closed

[2018-10-13 12:56] rolandjitsu commented on #668
@sbaggott this is more of a browser limitation today. Not all browsers (including Safari) apply the [spec](https://html.spec.whatwg.org/multipage/dnd.html), hence the problem you're experiencing.

It seems that in Safari, there is no way to get the files or items (from [DataTransfer](https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer)) during the `dragenter`, `dragleave` and `dragover`

[2018-10-13 13:49] ibc commented on #530
So, basically if `disableClick` is set to `false`, the `onClick` prop becomes useless. And it's `disableClick` is `true`, then a click always open the file selector.

[2018-10-13 15:41] #668 closed

[2018-10-13 15:44] okonet commented on #668
:tada: This issue has been resolved in version 6.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v6.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-13 17:29] pantharshit00 opened #696 "React Dropzone is broken in version 6.2.0 with typescript"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
React Dropzone is broken in version 6.2.0 with typescript. It works fine with 6.1.3
I see some commits related to this, maybe you should have used the namespace instead of the default export?

Getting this error while using it

![image](https://user-im

[2018-10-13 17:34] #530 closed

[2018-10-13 17:37] rolandjitsu commented on #696
@pantharshit00 I think you need to enable the `allowSyntheticDefaultImports` in your tsconfig. But maybe we should keep the previous import style for backwards compatibility.

[2018-10-13 17:37] okonet commented on #530
:tada: This issue has been resolved in version 6.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v6.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-13 17:49] ibc opened #697 "Remove let appliedStyle = { position: 'relative', ...style }"
- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**

**react-dropzone** adds `position: relative` style to the drop container.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Pass a `className="foo"` that includes `position: absolute` to `<Dropzone>` component.
1. It's replaced with `position: relative`.

**What is the expected

[2018-10-13 17:51] pantharshit00 commented on #696
I did that just now, but many people use create-react-app-ts and it does add that option by default so you may get reports like this now and then so I'd recommend you to make it backward compatible and break it in v2

[2018-10-13 19:58] apelsinapa opened #698 "bug: Uncaught TypeError: Cannot read property 'types' of undefined"
I found a bug

On drop workes fine, on click -> select throws error.

1. goto https://react-dropzone.js.org/
2. click dropzone
3. select a file
4. check console for error: "Uncaught TypeError: Cannot read property 'types' of undefined"

Should behave as when dropping files

Tested with 6.2.1, rolled back to 6.0.0 works fine.

[2018-10-14 08:41] #696 closed

[2018-10-14 08:41] #698 closed

[2018-10-14 08:44] okonet commented on #696
:tada: This issue has been resolved in version 6.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v6.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-14 08:44] okonet commented on #698
:tada: This issue has been resolved in version 6.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v6.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-15 09:59] rolandjitsu commented on #686
@sumthief would you give https://github.com/react-dropzone/react-dropzone/pull/701 a try and let me know if it fixes the issue you describe? If you checkout that PR and run the examples, there is already one illustrating nested dropzones where the child stops event propagation to the parent.

[2018-10-15 13:18] #554 closed

[2018-10-15 16:20] sumthief commented on #686
@rolandjitsu I've started preparing PR but you've made it faster :1st_place_medal:

Yeah, it looks great and fixes my issue

[2018-10-15 17:32] rolandjitsu commented on #686
@sumthief sorry about that 🙄 Glad it helps though.

[2018-10-16 17:51] rkmarks commented on #666
closing this for now as I can confirm the same works. If this continues to be an issue please reopen this issue

[2018-10-16 17:51] #666 closed

[2018-10-16 17:53] #686 closed

[2018-10-16 17:57] okonet commented on #686
:tada: This issue has been resolved in version 6.2.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v6.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-18 12:12] tymochko commented on #649
I also experience lack of drag-n-drop on newer versions. Current working version is 5.1.1.

By the way, some of earlier 6.x.x versions have drag-n-drop but active color is not visible.

[2018-10-18 12:18] rolandjitsu commented on #649
Without a reproducible example it is hard to tell what you're experiencing. It would be nice if one of you could make a codepen or something which illustrates the issue (using the latest version).

[2018-10-19 11:46] johisco commented on #144
Hmmm don´t know if this is stilll an issue! But Im running in to something similar... I've created an electron app that uses react-dropzone.

It works perfect on mac, but on windows I doesn't seem able to drop a file in the dropzone i only get the forbidden icon as I hover over the drop area with a file? Any thoughts ?

[2018-10-19 15:56] lsadam0 commented on #649
For those experiencing this bug: Are you also using the react-dnd library?  The presence of `HTML5Backend` from react-dnd-html5-backend breaks react-dropzone, the `onDrop` event never fires

[2018-10-20 08:56] rolandjitsu commented on #649
@lsadam0 I think react-dnd can also handle file drag and drop, is there a reason why you use both libs?

In any case, it is difficult to tell what is the cause of the issue, or if there is one, if there's no example illustrating the described behaviour.

[2018-10-20 13:02] #631 closed

[2018-10-22 14:06] hornta opened #703 "Remove the need for promises"
https://github.com/react-dropzone/react-dropzone/blob/fd65863a0539c10cf3decd2b59b32c67e517dea0/src/index.js#L105

I don't think this helper should depend on Promises because not everyone is using promises and want to polyfill promises. Is there a reason Promises are used?

[2018-10-22 14:36] lsadam0 commented on #649
@rolandjitsu Yep, react-dnd can also handle file drop.  There's no good reason we need to use both libs, it was just a decision made prior to my time on the project and I was trying to avoid re-writing that portion at the moment.

I understand, I can't provide an example. I did debug for a bit but did not spend enough time to find the resolution.  Honestly, I would have spent less time if I had ju

[2018-10-23 07:13] rolandjitsu commented on #649
@lsadam0 ok, well thanks for taking the time to try.

In any case, I'm closing this issue since the behaviour cannot be reproduced. If anyone can provide an example, please feel free to reopen.

[2018-10-23 07:13] #649 closed

[2018-10-23 07:29] rolandjitsu commented on #703
@hornta yes, there is a reason.

It is used for the plugin API which allows users to provide their own impl. of getting the files from the drag event (and some APIs are async, see [`.file()`](https://developer.mozilla.org/en-US/docs/Web/API/FileSystemFileEntry/file)).

But it's there mainly to support folders, see [`.readEntries()`](https://developer.mozilla.org/en-US/docs/Web/API/FileSystemDirect

[2018-10-23 07:29] #703 closed

[2018-10-23 08:52] rolandjitsu commented on #479
@okonet is this still the case? Or can we lock and close this issue and update the docs?

[2018-10-23 09:06] rolandjitsu commented on #665
@fabian-hiller I just tested this on Android, seems to work just fine (no view reload).

I think this is an issue with the iOS [web view](https://developer.apple.com/design/human-interface-guidelines/ios/views/web-views/) or the way that the instagram app handles it.

I'm afraid that there isn't much we can do from our side. The logic we have in place should already prevent the default behaviour (

[2018-10-23 09:09] okonet commented on #479
@rolandjitsu your call. I'd like to see as many people maintaining it as possible

[2018-10-23 09:11] rolandjitsu commented on #479
@okonet This has been active for a year or so. My only concern is that we shouldn't give ppl the impression that there is no further development on the lib. Otherwise I agree with you.

[2018-10-23 16:31] okonet commented on #479
I’m not sure how “looking for maintainers” gives ppl this feeling. You are free to edit my initial message if you feel like it has to change.

[2018-10-23 19:22] rkmarks commented on #703
yeah i can see about adding that to my PR for updating docs.

[2018-10-23 19:56] DougWoodCDS opened #704 "Share example of file preview after dropping ?"
Hi I am just wondering if anyone could show me a simple example of how to show a preview of an image after it had been dropped onto dropzone. I am assuming one needs to use the 'FileReader' object to accomplish this ?
thanks for any help !

[2018-10-23 20:02] DougWoodCDS commented on #704
never mind. I discovered the 'preview' property. wasn't mentioned in the docs.

[2018-10-23 20:02] #704 closed

[2018-10-24 07:03] rolandjitsu commented on #479
Ok, it must be just me then 😄 I'm good, no need to change anything.

[2018-10-24 07:12] rolandjitsu commented on #704
@DougWoodCDS glad you managed to find it. But true, there is no example of showing a preview. Perhaps it might be a good idea to add one or mention this.

[2018-10-24 07:23] rolandjitsu opened #705 "refactor: remove {preview} from File"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**
Currently, we create a `{preview}` property on the File object (unless the user disables that). This can lead to memory leaks if users do not read through the docs carefully.

**If the current behavior is a bug, please provide the steps to reproduce.**

[2018-10-24 11:52] okonet commented on #705
Yes, we should remove it. I proposed to use a plugin (since we have the plugin architecture now) that we'd ship as the part of the package to support this.

[2018-10-24 12:05] export-mike commented on #276
Yeah I now have a basic check for the extension.

Pseudo code:

[code]

[2018-10-25 05:26] supertopoz opened #706 "Files don't load first time when a custom label is added"
- [x] I found a bug

**What is the current behavior?**
When clicking on the dropzone area to up a file, the file picker opens. After selecting the file the first time nothing is loaded into the browser. Only when doing this operation again does the file get loaded into the browser.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Add dropzone component as described

[2018-10-25 07:10] rolandjitsu commented on #706
@supertopoz I have just tried the basic example from our docs page and I cannot reproduce the behaviour you're describing.

As for the label, we're currently working on https://github.com/react-dropzone/react-dropzone/pull/468 which changes the way the dropzone is used and will consequently allow users to have their own input with whatever else they need.

[2018-10-26 07:01] Miteshdv opened #709 "Not to show other file types as valid drop targets"
**Do you want to request a *feature* or report a *bug*?**

- [x] I want to propose a feature

**What is the current behavior?**
When we try to drop invalid file type It shows a generic file and “+ Copy”, but then we do not take action as we only use accepted file

**What is the expected behavior?**
A different cursor when single file is selected and it is not a valid drop

**Please mention other r

[2018-10-26 09:33] #705 closed

[2018-10-26 09:39] okonet commented on #705
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-26 13:50] #652 closed

[2018-10-26 13:53] okonet commented on #652
:tada: This issue has been resolved in version 7.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v7.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-28 01:33] #604 closed

[2018-10-30 05:17] #648 closed

[2018-10-31 18:52] stealth86 opened #710 "Not Working with react-dnd elements inside dropzone"
Adding an Element inside <Dropzone> </Dropzone> that has react-dnd in it does not allow dropping file into the zone.

[2018-11-01 04:47] needcaffeine commented on #479
@okonet I use this library extensively, and would love to contribute if you're still accepting maintainers.

[2018-11-01 08:14] rolandjitsu commented on #710
As I mentioned in https://github.com/react-dropzone/react-dropzone/issues/649, if react-dnd stops event propagation on the drag event, the dropzone will not react.

I'd avoid using these 2 libs together as you can achieve more or less the same functionality with react-dnd as well.

But it would also be helpful if you could provide a code sample on codepen or somewhere which illustrates this issue.

[2018-11-07 15:59] leenyburger opened #711 "Invalid `previewsContainer` option provided."
**Do you want to request a *feature* or report a *bug*?**

- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
When adding the preview functionality back in using the DropzoneWithPreview sample code `preview: URL.createObjectURL(file)` the following error is generated: `Uncaught Error: Invalid
 previewsContainer option provided. Please provide a CSS selector or

[2018-11-07 16:42] rolandjitsu commented on #711
@leenyburger Could you share an example? The previews example at [react-dropzone.js.org](https://react-dropzone.js.org) seems to work just fine.

Are you actually doing a copy paste of the example and running in your env?

[2018-11-07 19:44] leenyburger commented on #711
@rolandjitsu My mistake, I am transition to React and was still running Dropzone.js which was causing my error.

[2018-11-07 19:44] #711 closed

[2018-11-08 22:10] lizzbanalagay opened #713 "vvgcunrjlcrjilktbelfundbjjnkdiubbufnffgjevjk"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant in

[2018-11-08 22:10] lizzbanalagay opened #714 "ibllehjgthnge"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant in

[2018-11-08 22:10] #714 closed

[2018-11-08 22:10] lizzbanalagay commented on #713
Sorry I didnt mean to open this issue

[2018-11-08 22:10] #713 closed

[2018-11-09 11:38] rNiall commented on #649
Step to reproduce drag and drop lack.
1. Open https://react-dropzone.netlify.com/
2. Use any of examples.
3. Left-mouse click on dropzone to open file explorer from browser.
4. Try to drag-n-drop file from opened explorer.

[2018-11-09 11:56] rolandjitsu commented on #649
@rNiall you do not drop files from the explorer that was opened in the browser window. You can either drop a file from a separate file explorer window or click and select.

[2018-11-09 12:03] rolandjitsu commented on #649
@rNiall that's intentional, see https://github.com/react-dropzone/react-dropzone/pull/551.

[2018-11-09 12:05] rNiall commented on #649
@rolandjitsu Thanks for explanation. Now I see

[2018-11-15 02:19] #659 closed

[2018-11-16 08:00] minotaurrr commented on #87
When disabled is set `<Dropzone disabled />` and user drops a file into the dropzone browser default behaviour will kick in. Any idea how to prevent this?

[2018-11-16 13:10] rolandjitsu commented on #87
@minotaurrr bind the drop events on the parent element and prevent default there if dropzone is disabled.

[2018-11-18 18:11] nofearOnline commented on #136
how can I accept only .stl files?

[2018-11-19 07:52] rolandjitsu commented on #136
@nofearOnline should be as easy as `<Dropzone accept=".stl" />`.

[2018-11-19 10:00] nofearOnline commented on #136
thanks. I have one more question: how can I limit the number of files?
I tried to use maxFiles = {1} and eventHandlers = maxfilesexceeded : function(file) { this.removeFile(file) } but they both did not work and bring the warning: React does not recognize the `eventHandlers` prop on a DOMelement, and React does not recognize the `maxFiles` prop on a DOM element.

[2018-11-19 11:45] rolandjitsu commented on #136
@nofearOnline you get that error because there is no such property on the dropzone component. You can just slice the list of accepted files in the on drop cb.

[2018-11-19 12:36] nofearOnline commented on #136
what do you mean by slice? how can I 'slice' the list?

[2018-11-19 12:50] rolandjitsu commented on #136
`onDrop` emits a js array, so use `.slice(0, maxItems)`:

[code]

[2018-11-22 10:35] Grantlyk commented on #479
Did you people find a new maintainer?

[2018-11-22 10:37] rolandjitsu commented on #479
@Grantlyk yes 😄 But you're always welcomed to contribute if you wish.

[2018-11-22 18:04] susuwatari2 opened #715 "Upload a file by fetching"
**Do you want to request a *feature* or report a *bug*?**

- [v ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
The onDrop method, provides me with an array of Files which I cannot send to a web api and without using any http/ajax libraries

**If the current behavior is a bug, please provide the steps to reproduce.**

fetch (endpoint, options)
method: 'POST'
Wh

[2018-11-23 07:10] rolandjitsu commented on #715
@susuwatari2 for these sort of questions, I would go to stackoverflow and ask there for help. This lib does not handle any parsing or requests to a server. You get the list of files, it's up to you to handle the rest according to your needs.

Perhaps [this](https://stackoverflow.com/questions/36067767/how-do-i-upload-a-file-with-the-js-fetch-api) is a good starting point.

[2018-11-23 07:10] #715 closed

[2018-11-28 17:47] seanpascoe opened #716 "Documentation example for adding preview to File object does not work."
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Documentation example for adding preview to File object does not work.
**If the current behavior is a bug, please provide the steps to reproduce.**

1. Follow documentation for adding a preview property to File object.
2. Documentation uses es6 spread

[2018-11-28 17:55] seanpascoe commented on #716
While you're at it, why not just use a forEach for the cWU?
current:
[code]

easier to read:
[code]

[2018-11-29 01:13] dmt0 commented on #554
For future googlers: that's what fixed it for me:
https://github.com/webpack-contrib/webpack-serve/issues/208#issuecomment-403326541

[2018-11-29 08:37] rolandjitsu commented on #716
@seanpascoe feel free to make a PR.

[2018-11-29 19:16] mike1808 opened #718 "Documentation: Browser limitations example isDragActive -> isDragAccepted"
I didn't find repo with the documentation site so I'm creating an issue. I think, in the **Browser limitations** sector in the browser in the examples `isDragActive` should be replaced with `isDragAccepted` because currently it doesn't work. If you try to drag a correct file it will show accepted style (green border) however it will render the wrong text content. Switching to `isDragAccepted` can

[2018-11-30 01:31] seanpascoe commented on #716
@rolandjitsu didn't see the examples in the readme, but just found the examples folder. Sorry, yea I'll do that.

[2018-11-30 01:31] #716 closed

[2018-11-30 09:57] ekropotin commented on #339
There are types for version 4.x while the recent version on NPM is 7.0.1.

[2018-11-30 17:45] justincrich opened #720 "Dropzone modal over an iframe won't work"
- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
I have a modal that's over an iframe video that has a dropzone that helps me upload documents. See [example][1]. The dropzone works perfectly when it is not overlaying the iframe.

I'm wondering what needs to happen for the corresponding browser events to correctly register on the general parent page document

[2018-12-03 08:38] rolandjitsu commented on #720
@justincrich I think the events are registered, it's probably something else going on there. Most likely some layout issue (something in the iframe is overlapping your DZ element).

I'll take a look and see if I can help, but this is not really a dropzone issue.

[2018-12-03 09:17] #720 closed

[2018-12-03 21:11] mike1808 commented on #718
@rolandjitsu I didn't find docs in the repo to make the change.

[2018-12-04 08:54] rolandjitsu commented on #718
@mike1808 see [examples](https://github.com/react-dropzone/react-dropzone/tree/master/examples).

[2018-12-04 10:06] jdcas89 commented on #328
This still doesn't work out of the box. Even-though the typings are available from the package. The only thing that worked was what @goloveychuk suggested. This won't work if you have a CI/CD pipeline that install directly from npm. Any suggestions?

[2018-12-04 11:49] rolandjitsu commented on #664
Closing this as I cannot reproduce.

[2018-12-04 11:49] #664 closed

[2018-12-04 11:49] #665 closed

[2018-12-04 11:55] rolandjitsu commented on #709
@Miteshdv changing the cursor based on whether a file is accepted or not would confuse users, because you could have many files amongst which just one is rejected. Then you also have clients that do not use a pointer (touch devices).

I think as it is right now is just fine.

[2018-12-04 11:55] #709 closed

[2018-12-04 11:56] #710 closed

[2018-12-04 17:00] YGKtech commented on #328
@jdcas89 : only thing that comes to mind would be to ditch the typings and change your tsconfig to allow you to use it as a black box.  I don't even know for sure if that would work, it's just the only thing I can think of off the top of my head for that sort of environment.

[2018-12-05 12:49] nickhaughton commented on #328
Still an issue for me.

[2018-12-06 05:37] rolandjitsu commented on #339
@TLadd I understand. I wonder if it would be difficult to have both TS and Flow types in the same repo ... Do you have any idea if this is possible at all?

[2018-12-06 05:50] rolandjitsu opened #721 "refactor: move codebase to TypeScript"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**
We already maintain a separate set

[2018-12-06 05:54] rolandjitsu opened #722 "feat: use React hooks"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**
When React officially releases [hoo

[2018-12-06 17:33] TLadd commented on #339
Sure, it would have to be this repo though (the ts definition is already here: https://github.com/react-dropzone/react-dropzone/blob/master/typings/react-dropzone.d.ts). The other option is to update flow-typed. Just depends on if the react-dropzone maintainers want to have them here or not. Obviously makes it easier to ensure the types are kept up to date, but adds a maintenance cost.

[2018-12-07 06:52] rolandjitsu commented on #339
@TLadd I am a maintainer 😄 But I plan on moving the current code to TS, which means the TS typings that currently are separate will be gone. So I'm not sure how the flow types would work with the new TS code 😕

[2018-12-07 06:58] okonet commented on #339
Alternatively we could try reason and generate types from it. I know people who could help us with that. Is there an interest?

[2018-12-07 14:07] SpainTrain commented on #339
I would like to reiterate the significant benefit of using flow-typed rather than having definitions in the npm package (https://github.com/react-dropzone/react-dropzone/issues/339#issuecomment-338329809) - libdefs are scoped to a compatible range of flow versions.  This is critical for a library consumer while flow is still pre-1.0 and in flux.  Another benefit I didn't mention previously is that

[2018-12-07 23:48] chobo2 opened #723 "Drag & Drop While Open File Dialog Open?"
Hi

I am wondering what the expected behavior is if someone click in a drop zone which prompts the file dialog and then that user tries to drag in files.

From what I can tell this is valid use case but dropzone does not allow this.

[2018-12-10 08:16] #161 closed

[2018-12-10 08:16] #640 closed

[2018-12-10 08:16] #706 closed

[2018-12-10 08:16] #718 closed

[2018-12-10 08:19] rolandjitsu commented on #723
@chobo2 please see https://github.com/react-dropzone/react-dropzone/pull/551.

[2018-12-10 08:19] #723 closed

[2018-12-10 08:20] okonet commented on #161
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-10 08:20] okonet commented on #640
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-10 08:20] okonet commented on #706
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-10 08:20] okonet commented on #718
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-10 17:54] chobo2 commented on #723
@rolandjitsu

Sorry bit confused, from the issue you linked to it would seem that it was identified and fixed?

[2018-12-10 19:19] rolandjitsu commented on #723
@chobo2 if you read one of the comments there:

[code]

Meaning that we do not allow files to be dropped while you have the file dialog opened. I hope it's more clear now.

[2018-12-11 04:08] RamAtDatanchor commented on #144
did you find any solution @johisco - I see this on Electron on Windows, electron on Mac has no problem whatsoever

[2018-12-11 13:40] RamAtDatanchor commented on #144
If you are running the electron app as administrator, it won't allow you drag and drop. Thats the case with any windows application like mspaint. I built the electron package as a normal user in non-adminstrator powershell and the built application did allow me to drag and drop.

Its not the problem with the electron but with how Windows separates administrative and non administrative process

[2018-12-11 19:30] yurykornilov commented on #723
This behavior is very confusing. Mail clients, facebook, Jira, dropzone.js don't have such problem.

[2018-12-12 07:57] yurykornilov commented on #723
@rolandjitsu
I'm sorry for my opinion. The file select window and a window of the file manager look the same for users. But from one I can drag and from another not.

[2018-12-12 09:53] b0gd4n opened #724 "Migration notes from 7 -> 8 ?"
Where can I find the migration notes from moving to v8?
Updated the package from v7.0.1 to v8.0.0 and now my app brakes:

`index.js:1452 Warning: Failed prop type: Invalid prop `children` of type `object` supplied to `Dropzone`, expected `function`.`

`index.js:482 Uncaught TypeError: children is not a function
    at Dropzone.render (index.js:482)`

[2018-12-12 09:56] rolandjitsu commented on #724
@b0gd4n if you check the [v8.0.0](https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.0) release, you'll see a note on the breaking change.

Furthermore, all examples have been updated to reflect the new changes.

[2018-12-12 09:56] #724 closed

[2018-12-12 23:59] chobo2 commented on #723
@rolandjitsu

Yea it seems odd to me as well, but my users are trying to do this.  One pulled me over and was like "I am trying to drag and drop and it's not working".

I honestly never thought of doing it like that as I just thought it was not possible but from what seen my users do people think it should be something they can do.

[2018-12-13 07:33] rolandjitsu commented on #723
@chobo2 I'll try to see if Chrome still crashes in this case, if not, I guess we can revert the current behaviour.

@yurykornilov no worries. I haven't used windows in quite a while, so I'm not familiar with its ux.

[2018-12-13 07:51] rolandjitsu commented on #723
@chobo2 see https://github.com/react-dropzone/react-dropzone/pull/725, tested in latest Chrome and there seem to be no issues now. Please test it as well and let me know if you encounter any issues.

[2018-12-13 12:16] Shubham-S-Yadav opened #726 "Drag and Drop not Working on safari"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Drag and Drop functionality not working on safari.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Simply drag a file and drop in the drop zone.
1.No file will be uploaded.

**What is the expected behavior?**
The file

[2018-12-13 13:03] RosenTomov opened #727 "React-Dropzone throws errors since 8.0.0 (after the breaking changes)"
- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
React-Dropzone throws errors since 8.0.0, after the breaking changes
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Tried adding the props to my code, tried the examples, none of them work.
I'm using Windows 10 pro 64bit, node v8.12.0.
Tested both react-dropzone 8.0.0 and

[2018-12-13 17:30] b0gd4n opened #728 "Ability to remove dropped file"
I have the example with previews, and was wondering if there's a way to click on one of the previews to remove the file?

[2018-12-13 23:02] chobo2 commented on #723
@rolandjitsu

I upgraded from react-dropzone from 7.0 to 8.0 and now it does not work

    "react-dropzone": "^8.0.1",

[code]

[2018-12-14 02:17] warlock257 commented on #727
I'm getting errors too. I simply installed it, imported it, and put in < Dropzone > tags. The console spits out this:

[code]

[2018-12-14 14:03] steverecio opened #729 "TypeError: getRootProps is not a function"
Is it still required to wrap the internals of Dropzone with getRootProps? I'm on `7.0.1`

![screen shot 2018-12-14 at 8 59 31 am](https://user-images.githubusercontent.com/978415/50007389-ca4ff500-ff7e-11e8-9001-2f1dbafa4f38.png)

My code:

[code]

[2018-12-14 16:44] vieira opened #730 "Cannot type "space" (keyCode 13) on input elements that are children of Dropzone"
**Do you want to request a *feature* or report a *bug*?**
- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

When there is an input element as a child of a Dropzone component, spaces (keyCode 13) do not appear in the input.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Create a component with an `input` inside a `Dropzone`.

[2018-12-15 18:07] rolandjitsu commented on #728
@b0gd4n I'd refer to stackoverflow for such questions. But in any case, you control the state of your own component, so you can easily remove any files. So in the example with previews, you'd have a method similar to the following:
[code]

[2018-12-15 18:07] #728 closed

[2018-12-15 18:13] rolandjitsu commented on #726
@Shubham-S-Yadav I don't have Safari 11 on hand, but I just tested on `Version 12.0.2 (12606.3.4.1.4)` on same macOS version and the dropzone works as expected as far as I can tell.

On a side note, this lib does not handle any uploads.

[2018-12-15 18:31] rolandjitsu commented on #727
This seems like the required children fn is not provided, that's what the error is about. The [basic example](https://react-dropzone.js.org/#!/Basic%20example) works as expected, so there must be something that you're missing.

[2018-12-15 18:31] KevinAsher commented on #730
As a workaround (might break accessibility), just add:
[code]

[2018-12-15 18:34] rolandjitsu commented on #723
@chobo2 it seems like you're experiencing the same as https://github.com/react-dropzone/react-dropzone/issues/727, with `8.0.0` you need to provide a fn as children. Please refer to the docs for examples.

[2018-12-15 22:49] RosenTomov commented on #727
Writing this kinda late and I'm half asleep, I've copied/pasted the basic example and still getting the same error.

I went in that dist/es/index.js to see what's going on.

Here's some code from dist/es/index.js ~ln.366
[code]

[2018-12-16 15:00] StefanoSega commented on #727
same issue passing a JSX element as the children

[2018-12-16 18:19] rolandjitsu commented on #727
@StefanoSega yes, that's expected. You're required to provide a child fn and apply at least the props from `getRootProps()` on the jsx element that your child fn returns. E.g.:
[code]

@RosenTomov if you don't share a repo or something I cannot help. All the examples at [react-dropzone.js.org](https://react-dropzone.js.org/) work as expected as far as I can tell.

[2018-12-17 05:13] Shubham-S-Yadav commented on #726
@rolandjitsu Yes I've checked on latest versions too it works very well with latest safari versions but it is not working for versions before 11.1. And by upload I mean to say Drag & Drop Functionality

[2018-12-17 08:21] rolandjitsu commented on #726
@Shubham-S-Yadav true, I just tried it using saucelabs and it seems like drag 'n' drop does not work. Might take some time to investigate this issue using saucelabs.

[2018-12-17 08:34] rolandjitsu commented on #730
@vieira that was added to improve accessibility.

@KevinAsher's comment should work, and it should not break accessibility. But this is probably a bug, and we should only capture the keyboard events if the dropzone element is in focus.

I'm going to look into it and see what can be done to keep the accessibility features but not break in the scenario you describe here.

[2018-12-17 09:48] rolandjitsu commented on #730
@vieira please try the PR and let me know if the issues you have persist.

[2018-12-17 11:20] jordiponsllaurado commented on #726
@rolandjitsu is it possible that it's also happening with Chrome?

I'm having the same issue but using latest Chrome version on a mac.

[2018-12-17 16:39] vieira commented on #730
Hello @rolandjitsu,

Thanks for the quick response!

I can confirm #731 fixes the issue I experienced. Thanks a lot!

[2018-12-17 18:21] RosenTomov commented on #727
@rolandjitsu Ok, I'm sorry. Turns out that I had a second obscure <Dropzone> in my code which was causing this.

After adding the properties, it works perfectly.  Feel free to close the issue.

example with the <Dropzone/>, I forgot about:
[code]

[2018-12-17 19:57] chobo2 commented on #723
@rolandjitsu

Yep, that was my problem, I guess it was changed how that area works from 7 and 8.

The drag and drop from file dialog now work.

However drag and drop folders no longer work for me, I am not sure if this has changed as well as in 7.0 and can't really verify as the example doc one does not seem to work.

[2018-12-17 20:38] rolandjitsu commented on #723
@chobo2 please see the [dropzone-for-folders](https://react-dropzone.js.org/#dropzone-for-folders) example.

[2018-12-17 20:43] chobo2 commented on #723
@rolandjitsu

Yep that is the example that I checked out and when I try to drag a folder into that area. Nothing happens.

[2018-12-17 22:39] karensg commented on #726
Same problem with Chrome. I have several uploads on the website. The only that does not work is the one in the modal of https://material-ui.com/

[2018-12-18 00:07] AbdelhafidFutureTrendz opened #732 "What is the problem !"
<img width="1098" alt="screen shot 2018-12-18 at 12 06 11 am" src="https://user-images.githubusercontent.com/36513569/50123495-da0a5a80-0258-11e9-9279-2c4392247775.png">

[2018-12-18 08:08] jordiponsllaurado commented on #726
For us it also fails in Firefox and the Dropzone is inside a modal too

[2018-12-18 09:45] rolandjitsu commented on #732
@AbdelhafidFutureTrendz this is not related to react-dropzone. Please refer to stackoverflow for such questions.

[2018-12-18 09:45] #732 closed

[2018-12-18 09:47] rolandjitsu commented on #723
@chobo2 I can confirm it works in Chrome, latest version. You might be dropping outside the dropzone area (which in the example is just above the text).

[2018-12-18 09:50] rolandjitsu commented on #726
@jordiponsllaurado no, it is not possible because I have tested the latest versions of major browsers and all examples work as expected.

@karensg please open a new issue and provide a reproducible example illustrating your issue.

[2018-12-18 10:34] jordiponsllaurado commented on #726
@rolandjitsu did you tested if Dropzone it works for major browsers  inside a modal also?

[2018-12-18 17:10] chobo2 commented on #723
@rolandjitsu

Ok, yea I see it is working just seems I got to be very precise in the example where I drop.

I will look at the example and change my code accordingly.

Thanks!

[2018-12-19 01:56] Rc85 commented on #255
Checking if files.length in onDrop worked for me. Why do we need the check the onDragOver() event?

[2018-12-19 08:46] rolandjitsu commented on #726
@jordiponsllaurado there shouldn't be any difference, unless the modal prevents some events. As I mentioned before, please open a new issue and provide an example illustrating the issue.

[2018-12-19 10:31] rolandjitsu commented on #726
@Shubham-S-Yadav https://github.com/react-dropzone/react-dropzone/pull/733 should fix the issue you described in Safari 11. Will be merged and released soon.

[2018-12-22 11:58] andygock commented on #526
I'm also experiencing this issue, Firefox 64.0, does anyone have any solutions on this?

[2018-12-22 16:15] #726 closed

[2018-12-22 16:18] okonet commented on #726
:tada: This issue has been resolved in version 8.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-28 02:58] hirokimoto opened #734 "FLV is not considered as Video file"
This library does not consider FLV file as Video files.

[2018-12-28 16:26] danielesalvatore opened #735 "onDropReject() callback specify reason of rejection"
Dear all,

thank you very much for you excellent work and making this project open source.
I write you to propose a possible enhancement on the onDropReject() callback.

I saw that the onDropReject() callback has two parameters:
- the file(s) you dropped
- the Proxy obj

<img width="1114" alt="screenshot 2018-12-28 at 16 59 43" src="https://user-images.githubusercontent.com/6150475/50521355-923fca

[2018-12-31 14:08] jschill opened #736 "Make it compatible with React-like libs"
Latest versions of react-dropzone introduce the use of event.isDefaultPrevented() which is a jquery-specific[1] function and should be replaced with event.defaultPrevented[2].

[1] https://api.jquery.com/event.isDefaultPrevented/
[2] https://developer.mozilla.org/en-US/docs/Web/API/Event/defaultPrevented

[2019-01-01 14:54] jschill commented on #736
isPropagationStopped is also in the code
https://github.com/react-dropzone/react-dropzone/blob/d4ee298e119c11f2087859dece66cd43642a6e15/src/index.js#L76

[2019-01-01 15:53] jschill commented on #736
After some reading I see React has its own implementation[1] of isDefaultPrevented/isPropagationStopped. It broke on my machine since I'm using Preact, that doesn't have those fancy props. I will have to check if isDefaultPrevented/isPropagationStopped exists and fall back on defaultPrevented vs cancelBubble.

[1] https://reactjs.org/docs/events.html

[2019-01-02 15:26] DOCS-kdu3 opened #738 "Accidentally opened issue"

[2019-01-02 15:26] #738 closed, assigned to nobody

[2019-01-03 09:36] rolandjitsu commented on #734
You'd have to be more descriptive with this. This lib only checks the ext. or mime type as given by the `accept` property and rejects/accepts the files based on that.

[2019-01-03 09:41] hirokimoto commented on #734
Thanks for your reply @rolandjitsu
Let me elaborate the issue that I have experienced.

When you add **accept="video/*"**, I think all types of video files should be acceptable.
But it does not accept FLV extension's video when I put **accept="video/*"**.

[2019-01-03 09:43] rolandjitsu commented on #735
@danielesalvatore the `onDropRejected` cb is only called when one of the files does not meet the `accept` property requirements (see [src/index.js#L189](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L189)).

[2019-01-03 09:45] rolandjitsu commented on #734
@hirokimoto please see [attr-accept](https://github.com/okonet/attr-accept) and open an issue there as this lib uses it internally to validate the mime type or file ext.

[2019-01-03 09:45] #734 closed

[2019-01-03 10:51] danielesalvatore commented on #735
@rolandjitsu Thank you very much for you reply!

[2019-01-03 10:51] #735 closed

[2019-01-03 14:34] pedroapfilho commented on #479
I've implemented this library on almost every company I worked, so if you guys still want something, I would be happy to help!

[2019-01-07 09:44] SimonsUnikaNamn opened #739 "Does not open file dialog using styled-components"
- [X ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
When using styled-components and clicking the drop zone, the file dialog does not open.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. See example called "Using styled-components", at https://react-dropzone.netlify.com/
2. Click the drop zone, nothing happens

(This also hap

[2019-01-07 10:31] moffsugita commented on #141
https://github.com/react-dropzone/react-dropzone/issues/391

[2019-01-07 14:36] Brandonprs opened #740 "`onUsage with React component"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug

**What is the current behavior?**

`onDropLeave` inherit functionality broken in new versions of React (16.5). Leaving the dropzone produces the following console error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Add dropzone with base functionality to a new React component

[2019-01-07 14:36] Brandonprs opened #741 "`onDragLeave` Usage with React component throws console error and fails to reset styling"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug

**What is the current behavior?**

`onDropLeave` inherit functionality broken in new versions of React (16.5). Leaving the dropzone produces the following console error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Add dropzone with base functionality to a new React component

[2019-01-07 14:37] #740 closed

[2019-01-08 10:20] Studio384 commented on #741
I am experiencing the same error be it with different tracebacks:
[code]

And:
[code]

[2019-01-08 10:22] rolandjitsu commented on #479
@pedroapfilho and @salman1995 you're free to contribute at any time.

[2019-01-08 10:46] fanixk commented on #741
I'm experiencing the issue only when using styled-components to style my Container.
(styled-components v3.4.10)

[2019-01-08 20:50] emilpriver opened #743 "r is not a function"
Found a bug.

"getting r is not a function" when adding react-dropzone.

![image](https://user-images.githubusercontent.com/34039674/50857824-0ebc8e00-138f-11e9-9871-647b8246fd10.png)

![image](https://user-images.githubusercontent.com/34039674/50857833-14b26f00-138f-11e9-9b5b-24ca67304d7a.png)

![tempsnip](https://user-images.githubusercontent.com/34039674/50857931-55aa8380-138f-11e9-8f13-5521dc2

[2019-01-08 20:51] Brandonprs commented on #741
@rolandjitsu working on it, sorry. Having issues getting the Dropzone component to render properly in CodePen.

[2019-01-08 21:03] emilpriver commented on #743
files or info*

[2019-01-08 22:43] emilpriver commented on #743
ooooh, That explains everything. Sorry for the inconvenient and thanks!

[2019-01-08 22:43] #743 closed

[2019-01-09 14:54] pedroapfilho commented on #479
Ya! I know! 'll create some PRs (I do have some workarounds on some projects to make it work as expected), its just because there was this quote on the documentation, so I came here to offer... hahaha

[2019-01-09 18:43] lounsbrough commented on #147
@manoj-makkuboy - `fix-image-rotation` doesn't work in IE11.

[2019-01-10 07:56] ShrawanBK opened #744 "Reactdropzone error while using react-dropzone"
I am trying to use react-dropzone in my project but got error that does not render the reactDropzone component. I tried this:
import ReactDropzone from 'react-dropzone';
export class BankingDetail extends React.Component {
  render() {
    return (
      <ReactDropzone
        accept="image/*"
        onDrop={()=>console.log("this.onPreviewDrop")}

        Drop an image, get a preview!
      </Rea

[2019-01-10 08:07] rolandjitsu commented on #744
@ShrawanBK someone just opened a similar issue a few days ago, https://github.com/react-dropzone/react-dropzone/issues/743. With v8.0, you need to provide a fn as child.

[2019-01-10 13:01] afilp commented on #255
I think that the "Support for image URL dropping" (https://github.com/react-dropzone/react-dropzone/issues/349) would be very powerful! You mentioned there that we should follow that enhancement in this issue.

Is it relevant though? This issue is about "preventing" an image URL from being dropped-in, while we would like to have the opposite: Allow the appearance of an image that comes from a URL

[2019-01-14 10:39] #744 closed

[2019-01-14 20:50] rxmarbles commented on #736
@jschill can you provide a working example of it breaking in `React-like libs`? curious of your use case. Haven't seen this breaking in other libs.

[2019-01-14 21:52] jschill commented on #736
@rxmarbles My use case is Preact + react-dropzone. react-dropzone use props specific to react's synthetic events.

<img width="631" alt="skarmklipp 2019-01-14 22 49 33" src="https://user-images.githubusercontent.com/224493/51143476-ef21db80-184e-11e9-83d9-a09237ce30db.png">

I've fixed it in a fork:
https://github.com/jschill/react-dropzone/commit/721af2cbf7356da5caf5105564c21c05ea21387d

[2019-01-15 14:10] rolandjitsu commented on #736
@jschill would you mind making a PR for this and adding some tests?

[2019-01-15 16:43] padrisimo commented on #741
Remember, if u use **styled-components** u may pass a custom refKey like `{...getRootProps({ refKey: 'innerRef' })}` instead of  just `{...getRootProps()}` and all this problems should be solved.

[2019-01-16 07:32] koffmoff commented on #554
I still have the same problem. But importing like this works:

[code]

[2019-01-19 22:59] ryanjyost commented on #706
I also experienced @supertopoz's issue outline above, using v8.0.0 and latest v8.0.3.

It seems to only occur if clicking a button in the `Dropzone` that triggers the `open` method, and `disabledClick=false`.

So one should set `disableClick=true` if using a button to open the file dialog, it seems.

Not sure if it's good UX or worth supporting the case of being able to click either a button in th

[2019-01-21 15:30] slikts commented on #630
Ideally this should be done using [browserslist](https://github.com/browserslist/browserslist).

[2019-01-21 15:45] slikts opened #745 "Edge: drag and drop doesn't work properly from Open dialog"
- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

Dragging and dropping files from the Open dialog makes the dropped files register only after the Open dialog is closed.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Open dialog
1. Drag file from dialog to drop zone
1. Dropped file doesn't register
1. Close dialog
1. Droppe

[2019-01-22 13:02] iwarner opened #746 "Some Recursion issue on the dropped file"
**Do you want to request a *feature* or report a *bug*?**

- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

See the console - shows recursion on the file dropeed

<img width="766" alt="screenshot 2019-01-22 at 12 58 41" src="https://user-images.githubusercontent.com/279251/51537140-a61ce900-1e45-11e9-9f05-0a0af29578cb.png">

Using the example in preview for

[2019-01-23 08:32] rolandjitsu commented on #745
@slikts while dropping files from the file dialog is allowed, it is a weird thing to do.

The expected behaviour is that you select the files and just hit the open button (or whatever is called) of the file dialog. Or you drag and drop from a file explorer window onto the dropzone area.

I think that the drag events are not triggered while the file dialog is opened (each browser may behave differe

[2019-01-23 08:32] #745 closed

[2019-01-23 08:33] rolandjitsu commented on #741
@Brandonprs is this issue still valid? Or did @padrisimo's suggestion work for you?

[2019-01-23 09:07] slikts commented on #745
The behavior works in other libraries with Edge, so it's possible technically. This has been discussed in the issues linked to #725 (like #723), the take-away being that users don't differentiate between file explorer windows and open dialogs. #725 specifically enables this behavior, but appears to have missed Edge, so I'd urge you to reopen this issue. I'll look to try to make a PR for it shortly

[2019-01-23 09:15] rolandjitsu commented on #745
@slikts feel free to make a PR.

[2019-01-23 20:41] Brandonprs commented on #741
Still an issue, though I spent some time trying to get the `Dropzone` component working (in CodeSandbox, CodePen, etc.) without luck, so I gave up for a while. It's not a huge pressing issue for us though I understand it's something I'll need figure out eventually.

[2019-01-24 16:35] skystar0227 commented on #741
I saw the same error with Material UI.
For my case, @padrisimo's comment is useful to solve it.

`getRootProps()` seems to provide an attribute `ref` or an attribute with a name secified with `refKey`.

But almost all Material UI's comonents cannot receive `ref` directly. It may be just ignored.

[code]

Material UI provides an interface component `RootRef` to pass a attribute`ref` to a child comp

[2019-01-24 16:41] Brandonprs commented on #741
@skystar0227 That fixed my issue! I think my issue with the CodeSandbox was the material UI components.

[2019-01-25 15:45] jschill commented on #736
Sure. Someone will have to help me out with how you write your tests though.

[2019-01-28 11:34] damianobarbati commented on #134
@leefsmp @CrocoDillon did you find a way to prevent/detect folder dragging?

In Chrome I always see different sizes for dragged folders (which do not match files in the dragged folder size).

[2019-01-28 18:31] ARChilton opened #749 "Copy icon missing onDragOver"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
- no copy cursor icon shown when dragging a file over dropzone
**If the current behavior is a bug, please provide the steps to reproduce.**

1. Drag a file over dropzone in chrome, there is no copy icon shown.

**What is the expected behavior?**
- copy

[2019-01-28 18:45] ScottAgirs opened #750 "Apollo Mutation - Pass a function to onDrop as third argument"
Trying to pass a function ( `newFunction();` ) as third variable in onDrop:

[code]

**Why?**
Need to pass an Apollo Client Mutation to onDrop to mutate database with the acceptedFiles

**If this is a feature request, what is motivation or use case for changing the behavior?**
If this is not possible now, then not only this would enabled developers to use this with Apollo Client, but also allow fo

[2019-01-29 08:34] rolandjitsu commented on #749
@ARChilton the `dragEffect` was removed to allow drag/drop while the file select window is opened.

I'm not sure it's necessary to add back that property, I think you could easily achieve the same result by just [styling](https://react-dropzone.js.org/#styling-dropzone) the dropzone.

[code]

[2019-01-29 08:38] rolandjitsu commented on #750
@ScottAgirs I'm not sure I follow what you're trying to do. The `this.onDrop()` fn that's illustrated there would be your own function, so you can pass whatever you want to it.

As for the dropzone `onDrop`, the 3rd argument is the drop event, see [src/index.js#L186](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L186)

[2019-01-29 09:59] ARChilton commented on #741
You were right it was the ref. I am using Emotion to style my components and so the ref needed to be innerRef just like the example here: https://github.com/react-dropzone/react-dropzone#custom-refkey

Thank you for pointing me in the right direction.

[2019-01-29 10:01] ARChilton commented on #749
I thought that too, however even with the cursor always set to copy it only shows the default cursor when dragging. I can change other css properties such as the border colour but for some reason not the cursor.

With the workaround I am using, I can still drag and drop when the file select window is open, both from that window and elsewhere.

[2019-01-29 11:19] #741 closed

[2019-01-29 13:47] ggarcia92 commented on #456
Hi @taikn I am using chromium browser and I have the same issue. Instead when I tried with Firefox it works. I think this issue should be reopened as ***Selecting multiple files doesn't work on Chrome***

[2019-01-29 13:49] sbaechler commented on #328
@tarr11 Please reopen this issue. It is still not possible to use the library with the provided types in a node environment (such as Jest).

[2019-01-29 13:50] rolandjitsu commented on #456
@ggarcia92 please provide a reproducible example as the basic example works just fine in Chrome `71.0.3578`. Or at least the version you're using.

[2019-01-29 13:52] rolandjitsu commented on #328
@sbaechler please provide a reproducible example (on codepen, codesandbox, etc.), otherwise we cannot help you. I'm using this lib with Jest and I have no issues.

[2019-01-29 14:31] okonet commented on #749
:tada: This issue has been resolved in version 8.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-29 21:40] sbaechler commented on #328
@ralic I created a minimal repo and there it actually worked.
https://github.com/sbaechler/react-dropzone-repo

I guess I have to dig deeper into our app and check what we have differently.

[2019-01-30 08:34] damianobarbati commented on #134
@CrocoDillon on Chrome (at least v71.0.3578.98 on MacOS) this can't work because I don't get 4096 as size for dropped folders, be careful!

[2019-01-30 09:35] CrocoDillon commented on #134
@damianobarbati interesting, is it a multiple of 4096 by any chance? The SO answer mentions `file.size % 4096 === 0`, worth a shot I guess. If you figure out whether or not this works let me know please :)

[2019-01-30 09:57] sbaechler commented on #328
No, there is nothing in the yarn.lock. However, our project configuration is based on react-scripts version 1 while the test repo used version 2.

[2019-01-30 10:04] damianobarbati commented on #134
@CrocoDillon nope, 160 bytes.

<img width="195" alt="screen shot 2019-01-30 at 11 04 10" src="https://user-images.githubusercontent.com/2225869/51973815-cde00280-247e-11e9-93b7-5413e59a53c2.png">

[2019-01-30 12:21] sbaechler commented on #328
So I found the issue: Wepack is importing the module from 'dist/es/index.js' while Jest is importing from 'dist/index.js' since it is a node app. Of course the commonJS module does not have a default export.

If I import directly from 'dist/es' I lose the type definition.

I guess react-app 2 is using a smarter build chain for Jest.

[2019-01-31 05:32] sitompul commented on #729
is there a way to access the old documentation? @rolandjitsu

[2019-01-31 05:47] rxmarbles commented on #729
@sitompul you can review the README at it's particular release to view the documentation.

[2019-01-31 08:35] rolandjitsu commented on #729
@sitompul of course, use `https://github.com/react-dropzone/react-dropzone/tree/v{x.y.z}` where `{x.y.z}` is replaced with the version you're looking for, e.g.: [https://github.com/react-dropzone/react-dropzone/tree/v6.2.3](https://github.com/react-dropzone/react-dropzone/tree/v6.2.3).

[2019-01-31 09:01] rolandjitsu commented on #328
I see, it's possible they do, that might need a bit more investigation though,

[2019-02-06 09:01] heshamelmasry77 commented on #545
okay guys is there an example for this using onDrop ?

[2019-02-06 09:18] heshamelmasry77 commented on #636
this is how you guys do it
[code]

[2019-02-06 09:20] heshamelmasry77 commented on #316
[code]

[2019-02-06 09:53] capaj opened #752 "pass rejection reason to onDropRejected callback"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [X] I want to propose a feature

I'd like to get a reason for rejection in the `onDropRejected` callback
currently I only get the file that was rejected.
There was a request opened up previously #735, but it was closed. I am not sure why because the request was valid one and the response didn't really help the reporte

[2019-02-06 10:40] RaphaelRegnier commented on #636
Hello @okonet and sorry for taking so long. Here is a video sample of what I built using dropzones :
https://www.useloom.com/share/8ad3082bec7c4d7abe0d5ef8cc561db7

In this demo you can see :
1) I'm adding one file in the first dropzone, then 2 others but the limit is set to 3 so you get an error.
2) I'm dragging a file on the second dropzone by dropping it.
3) I'm adding 2 files to the third drop

[2019-02-06 11:01] leoc opened #753 "Fullscreen/Full frame support"
**Do you want to request a *feature* or report a *bug*?**

Not sure, I guess both?

- [X] I found a bug
- [X] I want to propose a feature

**What is the current behavior?**

The current fullscreen option (from the docs) does not work for me. I can only drop to the dropzone.

**What is the expected behavior?**

I would have expected to be able to drop the file to any place of the document, no?

**I

[2019-02-06 11:08] eoghanmccarthy commented on #753
After updating to v8.0.4 this morning the fullscreeen doesn't work with me either.

[code]

[2019-02-06 11:11] rolandjitsu commented on #752
@capaj you're welcome to make a PR.

But it's just easier to let the user know that the file(s) was rejected because of one of those 3 reasons and then the user would have to ensure that the requirements are met. We also don't want to pull in more dependencies (bytes).

Otherwise you have to manage the rejection reasons as there might be multiple for one file (too large + wrong mime type, etc.) an

[2019-02-06 11:19] rolandjitsu commented on #753
@eoghanmccarthy you need a render fn as child since v8. See the [docs](https://react-dropzone.js.org/#basic-example).

@leoc if you want fullscreen, just wrap the whole app in the dropzone. That should do the trick. I use it in a similar way. But it's true, the example it's misleading.

[2019-02-06 13:02] eoghanmccarthy commented on #753
@rolandjitsu Great, thanks :)

[code]

[2019-02-06 14:50] leoc commented on #753
@rolandjitsu Thanks for your feedback! I currently use react-router to display various different nested components. I thought about adding a context that would keep the configuration of the dropzone for child components to adjust the dropzone at root level accordingly. But I have the feeling that this would clutter the code. The dropzone is only needed for one or two "pages" right now.

A `fullscr

[2019-02-07 08:03] rolandjitsu commented on #721
Still working on this 😄

[2019-02-07 08:04] rolandjitsu commented on #722
Waiting for the official release of hooks before starting on this.

[2019-02-07 08:05] SimenB commented on #722
Hooks have been released? https://reactjs.org/blog/2019/02/06/react-v16.8.0.html

[2019-02-07 08:07] rolandjitsu commented on #722
Oh, that was just yesterday. I read the blog on 16.7 and they mentioned that we should not expect that the next release will have them.

I guess we can get started with this soon.

[2019-02-07 08:22] rolandjitsu commented on #753
@leoc I see, I don't think that using the context API is necessary, unless your child components are deep down the DOM tree. You can pass the dropped files as props to your child components.

Event using the context API would not be so bad, if done properly, it should not clutter your code.

Furthermore, I think that binding drag events to the document would probably bring a whole lotta of trouble

[2019-02-08 14:40] #736 closed

[2019-02-08 14:44] okonet commented on #736
:tada: This issue has been resolved in version 8.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v8.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-11 15:23] ggarcia92 commented on #456
Hi @rolandjitsu thanks for your answer but it works, thanks and apologies. Regards

[2019-02-12 12:00] rolandjitsu commented on #750
@ScottAgirs I'm gonna close this issue for now. If you provide more context and an example of what you're describing, I'll be happy to reopen.

[2019-02-12 12:00] #750 closed

[2019-02-12 13:25] leoc commented on #753
Thank you for the feedback. For now I have chosen a big enough dropzone.

I will check a context solution when I have the time and add an example here.

[2019-02-12 15:51] jonahgreenthal opened #755 "Dragging"
**Do you want to request a *feature* or report a *bug*?**
- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Dragging an image from another browser window to a Dropzone doesn't work in Chrome.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Open https://react-dropzone.js.org and scroll to the "Previews" section
1. In another w

[2019-02-12 17:10] rolandjitsu commented on #755
@jonahgreenthal that is expected behaviour.

You are not dragging a file, per say, you are dragging an html element (if you look at the data transfer item type, it's `text/html`), and we intentionally ignore those types because this lib only handles files from your system.

I think [react-dnd](https://github.com/react-dnd/react-dnd) might have what you need.

[2019-02-12 17:11] jonahgreenthal commented on #755
So the fact that it works in Safari is just a complete coincidence/accident?

[2019-02-12 17:24] ScottAgirs commented on #750
hey @rolandjitsu, thanks a lot for reply, I must have missed the reply.

I figured it out, the issue turned out to be not with React-Dropzone, but with my basic JavaScript knowledge, hah.

I needed to declare the props in the onDrop() function, before actually passing and using them inside the onDrop() and it looks like this (in case someone else stumbles upon this:

[code]

[2019-02-12 17:34] rolandjitsu commented on #755
That's probably a a bug or Safari reports that as a file type. I will investigate this tomorrow.

[2019-02-13 08:48] cuongduong257 opened #756 "Load image from props URL"
I write a function to edit a user profile. The function needs to load the current avatar (image) by URL to show on Dropzone after that User can remove and drag another image.
But I don't see anything to support this. Someone could help me. Thank a lot.

[2019-02-13 09:55] rolandjitsu commented on #756
@cuongduong257 I'm not sure I follow what you're trying to do. Please provide a proper example to illustrate your issue.

[2019-02-13 12:44] thegreatercurve commented on #721
@rolandjitsu need any help with this if you haven't already started? Been using this package a while, and keen to contribute!

[2019-02-13 13:55] rolandjitsu commented on #721
@thegreatercurve that'd be nice. But we should move to converting the component to a functional one and use the new rect hooks API before that.

I think I will soon start working on the hooks part. After we have a PR and merge it, if you're still interested, you can definitely help out with moving to TS.

[2019-02-13 14:03] rolandjitsu commented on #755
That seems to be the case, Safari reports the drag item type as file. I'm working on figuring out what to do about this, but in principle, we'd like to only handle files with this lib and ignore other types (links, html elements, etc.).

[2019-02-13 15:07] jonahgreenthal commented on #755
That's unfortunate; it was super useful to me when it worked. I'll look at react-dnd…but if you're willing to make this package support that functionality across browsers, I'd sure be grateful. Thanks!

[2019-02-13 15:37] thegreatercurve commented on #721
@rolandjitsu sounds like a plan. Likewise, let me know if you need a hand with that or any other issue. Happy to help out.

[2019-02-14 11:51] hazemyth commented on #577
So, is this possible with React-Dropzone?

[2019-02-14 12:48] okonet commented on #577
Since dropzone doesn’t hold the state itself for what files are in it it’s possible I. The userland. In other words: You should implement this yourself.

[2019-02-14 13:39] hazemyth commented on #577
Okay, thanks for the quick reply.

[2019-02-15 09:20] rolandjitsu commented on #755
@jonahgreenthal unfortunately, Safari seems to be the only browser that can get the file data when an image is dropped from a different browser window.

I have tried using [FileSystemFileEntry.file()](https://developer.mozilla.org/en-US/docs/Web/API/FileSystemFileEntry/file) which just throws in Chrome and Firefox. I also tried [DataTransferItem.getAsFile()](https://developer.mozilla.org/en-US/doc

[2019-02-15 09:20] #755 closed

[2019-02-15 09:22] rolandjitsu commented on #753
Ok, I'm closing this for now.

[2019-02-15 09:22] #753 closed

[2019-02-15 09:22] rolandjitsu commented on #756
Closing this. Feel free to reopen if you provide an example illustrating your issue.

[2019-02-15 09:22] #756 closed

[2019-02-15 09:23] Kazimirkas commented on #554
only this workaround worked for me. Im using ts-jest

[2019-02-15 13:18] jonahgreenthal commented on #755
Okay, thanks for the info. I was not able to get this working with react-dnd, though I admittedly didn't spend all that much time on it. If you happen to know specifically how to do it (e.g., you know a particular tutorial that covers file uploads with react-dnd) that would be great, but I understand that's not your job :-) Thanks for looking at this.

[2019-02-16 08:23] rolandjitsu commented on #755
@jonahgreenthal I think that [examples/other/native-files](http://react-dnd.github.io/react-dnd/examples/other/native-files) should cover drag 'n' drop for files. Though, I doubt that it will behave any different for your use case (besides Safari). Let me know if react-dnd will work for you.

[2019-02-18 21:50] jonahgreenthal commented on #755
Thanks. That's just like Dropzone: it works in Safari (to drag and drop an image from another browser window), but not Chrome.

[2019-02-19 07:51] rolandjitsu commented on #755
@jonahgreenthal thanks for letting me know. Let's hope that APIs will evolve in the future (or get fixed) and allow for such behavior across browsers.

[2019-02-20 06:55] paulmichaelxd opened #763 "onDrop, receiving console error node.contains is not a function"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
All functionality works as expected, however, when dragging and dropping files there is always this console error:
`Uncaught TypeError: r.node.contains is not a function
    at HTMLDocument.r.onDocumentDrop`

**If the current behavior is a bug, please

[2019-02-20 08:12] rolandjitsu commented on #763
@paulmichaelxd I think your issue is that you're using `<Paper>` as dropzone. As far as I know, the `{ref}` prop on that component will not work (and we need it), but you can use `{...getRootProps({refKey: 'innerRef'})}` to fix it.

Let me know if that works for you.

[2019-02-21 07:46] paulmichaelxd commented on #763
@rolandjitsu Thanks for your response!
Unfortunately, adding the `refKey: 'innerRef'` gave me some console error about refs not working on function components.

However, simply wrapping my `<Paper>` component with `<div {...getRootProps()}>` fixed the issue. Thanks!

[2019-02-21 08:38] rolandjitsu commented on #763
@paulmichaelxd Hmm, maybe try opening an issue with mui or ask on SO using the mui tag.

In any case, I will close this issue as it's not specific to this lib.

[2019-02-21 15:45] CleyFaye opened #764 ""process is not defined" in 8.2.0"
- [X] I found a bug
- [ ] I want to propose a feature

**Issue**

When using react-dropzone 8.2.0, I get an error: "process is not defined" when loading "index.js"

**How to reproduce**

1. Import index.js in a page through a <script> tag
2. Import fail because process is not defined

**What is the expected behavior?**

The dist/index.js file should probably not reference process.

Going back to 8

[2019-02-21 22:33] jmaslin opened #765 "Browser hanging on uploads"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Browser is hanging after a file is selected (~30 seconds).

This just started in the last day.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Go to https://react-dropzone.js.org/
1. Upload a file on one of the example

[2019-02-21 22:48] jmaslin commented on #765
Example of what is happening for me:

![screen recording 2019-02-21 at 2 45 24 pm](https://user-images.githubusercontent.com/1159623/53207095-9ed53080-35e7-11e9-8490-08a99e578d5f.gif)

It should be noted I was unable to reproduce this on other devices with the same environment. Same issue persisted across browsers/incognito/restarting on my device.

[2019-02-21 23:14] jmaslin commented on #765
Nevermind, this is happening to me on other file uploads as well.

[2019-02-21 23:14] #765 closed

[2019-02-22 08:14] rolandjitsu commented on #764
Hmm, this might be because of the way it's bundled. I'll check and let you know.

[2019-02-22 09:26] NunoCardoso opened #766 "TypeError: Cannot read property 'isEqualNode' of undefined"
Hi. I have a react-dropzone thatbefore was letting users opening the file upload dialog by pressing te spacebar, but I checked now and it doesn't work.

I updated to 8.2.0, still no avail. I am attaching a screenshot of the console error.
I see that the code fails in a code snippet that you guys added in December.

Not sure why it fails on my end, but maybe protect it with a

`if (this.node && !_t

[2019-02-22 10:37] rolandjitsu commented on #766
@NunoCardoso we cannot reproduce this on [react-dropzone.js.org](https://react-dropzone.js.org/). When the dropzone is in focus, opening the file select dialog with keydown events (SPACE/ENTER) works just fine.

You will have to provide a reproducible example, otherwise we cannot help you.

[2019-02-22 13:50] heshamelmasry77 commented on #125
so how you implemented it

[2019-02-22 13:56] RosenTomov opened #768 ""`disableClick` of `Dropzone` is deprecated." - property isn't even used"
I'm getting

"Warning: The prop `disableClick` of `Dropzone` is deprecated. Use onClick={evt => evt.preventDefault()} instead. This prop will be removed in the next major version."

even thought the property isn't used.

ex:
[code]

[2019-02-22 14:08] rolandjitsu commented on #768
This will be resolved in https://github.com/react-dropzone/react-dropzone/pull/767. The property will be removed.

[2019-02-22 14:09] rolandjitsu commented on #125
@heshamelmasry77 please use SO for such questions as this sort of functionality is not handled by this lib.

[2019-02-22 14:50] #764 closed

[2019-02-22 14:53] okonet commented on #764
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-22 14:55] #768 closed

[2019-02-23 08:34] beausmith commented on #182
Yeah, I just ran into this too. If there is a `label` associated to the dropzone file input, then clicking the label will cause the browser file select dialog to appear twice.

Having labels associated with inputs is useful for web accessibility. I feel like this is a fix worth making.

[2019-02-23 08:37] rolandjitsu commented on #182
@beausmith You'll need to disable click on the dropzone element. Just add the `{onClick}` handler and prevent default:
[code]

If that will not work, please make a reproducible example so we can look into it.

[2019-02-24 21:10] barbalex opened #769 "Breaking change: v8.2.0 returns only file name in path property, not the path"
- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
The files Objects returned on `onDrop` used to return the entire file path in the `path` property. Sinse v8.2.0 not any more.

**What is the expected behavior?**
The `path` property should contain the entire path, just as it does in v8.1.0.
Returning only the file name is an undeclared breaking change. And it

[2019-02-25 08:22] rolandjitsu commented on #769
@barbalex this feel like an issue with [file-selector](https://github.com/react-dropzone/file-selector) and not with dropzone. But I have a feeling it has been resolved in https://github.com/react-dropzone/file-selector/commit/e5ecce836a4bc8a51059fe21426d1290bb5d2bb8.

If you think the issue is still unresolved, please open an issue there.

[2019-02-25 08:22] #769 closed

[2019-02-25 08:58] rolandjitsu commented on #769
Right now it's set to [`^0.1.8`](https://github.com/react-dropzone/react-dropzone/blob/master/package.json#L85), so it should pick up on the latest fixes if you run the install command again (make sure to ignore the package lock files).

But it will be updated in a next version.

[2019-02-25 09:08] barbalex commented on #769
If I get this correctly https://github.com/react-dropzone/file-selector/commit/e5ecce836a4bc8a51059fe21426d1290bb5d2bb8 was published with v1.9.0 6 days ago. I updated react-dropzone yesterday (repeatedly, using v0.8.2 and v0.9.0) and it did not output full paths.

So it seems to me that there is additional action necessary from users - beyond just updating - to prevent updating to react-dropzone

[2019-02-26 10:41] ppi-mzl opened #770 "onDrop not working"
**Do you want to request a *feature* or report a *bug*?**
- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
I'm using the example code from the documentation but the onDrop function is never called. The isDragActive, isDragAccept and isDragReject work fine. Using the file selector works too.

Code:
[code]

**If the current behavior is a bug, please provide th

[2019-02-26 13:46] darekchynek commented on #770
Have same issue, with the same version of react-dropzone and Windows 10 (Google Chrome 72.0.3626.119 ).

Open method works correctly - onDrop don't launch when You drop file.

[2019-02-26 13:57] rolandjitsu commented on #770
Doing this on [react-dropzone.js.org](https://react-dropzone.js.org) works just fine (the basic example shows the file you dropped).

So I'm not sure what you're experiencing. Please provide an example on codesandbox or some other tool.

[2019-02-26 22:37] goodoldneon commented on #766
I'm experiencing the same issue. It happens when I put a `ref` on a child of `<Dropzone>`.

[Codepen](https://codepen.io/goodoldneon/pen/MxYBQV)

[2019-02-26 22:43] rolandjitsu commented on #766
@goodoldneon right, that's because you're overriding the ref that `getRootProps()` sets.

Can you describe what is your use case? Maybe we need to think about exposing the ref somehow.

[2019-02-26 22:44] goodoldneon commented on #766
Sorry, I edited my comment before you finished your response. I don't think you guys need to change anything, besides maybe warning about this in the docs.

[2019-02-27 06:46] rolandjitsu commented on #766
@goodoldneon Yeah, I saw it now 😄

Well, the docs are a bit vague, to be honest. So I should probably be more specific about the fact that you cannot bind a ref to the same node where the dropzone is bound.

[2019-02-27 08:46] alfaslash commented on #770
@ppi-mzl are you used [React DnD](https://github.com/react-dnd/react-dnd)?

[2019-02-27 09:43] darekchynek commented on #770
We're using React Dnd with react-sortable-tree.

[2019-02-27 09:48] alfaslash commented on #770
@darekchynek This problem in React DND https://github.com/react-dnd/react-dnd/issues/457

[2019-02-27 15:17] ppi-mzl commented on #770
Yes we are using react-dnd and using the [fork](https://github.com/silvainSayduck/react-dnd/tree/master/packages/react-dnd-html5-backend) / [nmp Package](https://www.npmjs.com/package/@silvain-sayduck/react-dnd-html5-backend) of @silvainSayduck  instead fixes the issue.

So this is not a bug in react-dropzone but react-dnd. Maybe this should be mentioned in the documentation since this seems to be

[2019-02-27 15:17] #770 closed

[2019-02-28 12:05] NunoCardoso commented on #766
Sorry for not answering your question, @rolandjitsu .

That is correct, I have the Dropzone inside a Droppable from react-beautiful-dnd because reasons :), and I add a ref. Still, changing the line to `if (this.node && !_this.node.isEqualNode(evt.target))`  works. You have to double check however if that leads to lost functionality somehow.

Let me know if you need a sample of my React component t

[2019-02-28 14:29] rolandjitsu commented on #766
@NunoCardoso this will change anyway in the next major version.

We're working on using the hooks API. You will also be able to get the ref to the dropzone and input elements with the new release.

I will close this now, but please let me know if you have any other issues.

[2019-02-28 14:29] #766 closed

[2019-03-01 15:10] rolandjitsu commented on #721
@thegreatercurve maybe you could help with https://github.com/react-dropzone/react-dropzone/pull/688 meanwhile.

[2019-03-02 07:53] rxmarbles opened #773 "feat: upgrade to babel7"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**If this is a feature request, what is motivation or use case for changing the behavior?**
Currently the repo is outdated in regards to several dependencies (per npm audit 3 w/ critical issues). However in upgrading our babel configuration to v7 we should get a bump in build performan

[2019-03-02 08:08] rolandjitsu commented on #773
@rxmarbles please see [#772](https://github.com/react-dropzone/react-dropzone/pull/772/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R97).

[2019-03-02 15:43] rxmarbles commented on #773
Sorry about that @rolandjitsu thought that was only moving to hooks 😅. I'll give it a review tonight

[2019-03-02 15:43] #773 closed

[2019-03-02 15:46] rolandjitsu commented on #773
@rxmarbles no worries. Well, I needed to upgrade react-styleguidist to latest in order to use react hooks, but that also required upgrading everything else (webpack, babel, etc.).

Maybe I should have added that in the commit message 🤔

[2019-03-05 07:39] #722 closed

[2019-03-05 07:43] okonet commented on #722
:tada: This issue has been resolved in version 10.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-05 10:36] emjaksa opened #775 "document is not defined"
**Do you want to request a *feature* or report a *bug*?**

- [ x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Version 10.0.0 cause a document undefined error with server side rendering.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Enable application with SSR
1. Use react-dropzone
1.

**What is the expected behavior?**
no u

[2019-03-05 16:25] taikn opened #776 "Drag & Drop doesn't work on IE 11"
**Do you want to request a *feature* or report a *bug*?**

- [x ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
Unable to drop files into the dropzone on IE 11
**If the current behavior is a bug, please provide the steps to reproduce.**

1. Try dropping some files into the dropzone on IE11
2. `Unhandled promise rejection TypeError: Can't call method on  undefin

[2019-03-06 07:22] zifahm opened #777 "Where can I find docs for version (9.0.0)?"
where can i find docs for version 9.0.0. I'm still using classes.

[2019-03-06 07:55] rolandjitsu commented on #777
You can still use class components, the `<Dropzone>` is still exported, see [class-components](https://react-dropzone.js.org/#class-components). Otherwise [v9.0.0](https://github.com/react-dropzone/react-dropzone/tree/v9.0.0).

[2019-03-06 07:55] #777 closed

[2019-03-06 08:00] rolandjitsu commented on #775
Hmmm, the `document` object is also used by the [hook](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js#L432), so it's strange that it's not an issue there.

Let me just try it out.

[2019-03-06 08:00] rolandjitsu commented on #776
Will investigate and let you know if this is an issue on our side.

[2019-03-06 09:49] rolandjitsu commented on #776
Sorry, I cannot seem to be able to test this on SauceLabs and I do not have a Windows machine. Could you pinpoint where the problem happens and what is your current setup (some code sample or reproducible example on codesandbox).

[2019-03-06 09:54] emjaksa commented on #775
@rolandjitsu I can't provide an example because online code editors don't do server side rendering.

[2019-03-06 09:59] taikn commented on #776
I am using dropzone the way described in the docs (hook). The same behaviour can be seen, when opening https://react-dropzone.js.org in IE11 and trying any of the examples listed there (eg. one with Previews).

[2019-03-06 10:20] chill5018 commented on #775
I am seeing the same error after upgrading react-dropzone. Not sure if this helps, but here is the stacktrace I am getting.

<img width="321" alt="screenshot 2019-03-06 at 11 17 04" src="https://user-images.githubusercontent.com/7937980/53873875-8ca0bc80-4001-11e9-8f67-3fd1c939c77d.png">

[2019-03-06 10:42] rolandjitsu commented on #775
@emjaksa could you create a repo and share that?

[2019-03-06 11:27] chill5018 commented on #775
https://github.com/chill5018/next-react-dropzone-demo Here you go @rolandjitsu

[2019-03-06 11:44] ppi-mzl commented on #770
Wrapping the Dropzone in a ConnectDropTarget which accepts NativeTypes.FILE works also.

[2019-03-06 12:13] zifahm commented on #777
I get a document not defined Error after updating to 10.0.0. It doesn't seem like I'm using getDataTransferItems anywhere.
I'm using Nextjs

[2019-03-06 13:31] gauravtiwari commented on #775
`useEffects` are run after a component is mounted, which is safe for SSR however, the code above gets parsed by the browser on the page load and that's the cause of the error. Adding a guard clause that checks for DOM would solve the problem.

This is the cause of the issue:

[code]

[2019-03-06 14:11] rolandjitsu commented on #775
@chill5018 thanks.
@gauravtiwari that will get coverage down as it's not easy to test in Jest. So we need a more elegant solution. I'll take a look tomorrow, or you're welcome to make a PR with a solution that wouldn't affect coverage.

[2019-03-06 14:13] rolandjitsu commented on #777
I think it's related to https://github.com/react-dropzone/react-dropzone/issues/775.

[2019-03-06 14:48] emjaksa commented on #775
@rolandjitsu sorry, didn't think of that but looks @chill5018 create one for me. Thanks

[2019-03-06 15:31] bcobra commented on #776
i was able to get it to work downgrading to 8.0.4. There seems to be an issue with the drop effect =copy on the newest version causing a promise rejection if i remember correctly

[2019-03-07 08:44] rolandjitsu commented on #776
There are definitely some problems with some of the examples (APIs that are not supported in IE11), but I'm not sure what the problem is with the drag events, I will try again on SL, maybe I'll manage to replicate the problem.

[2019-03-08 13:41] Chris533 commented on #775
It doesn't work, 10.0.0, with next,

[2019-03-08 13:52] rolandjitsu commented on #775
@Chris533 working on it. There's another error, besides the one reported here and I'm trying to track it down.

[2019-03-08 13:55] Chris533 commented on #775
[code]

Thanks, I user this finger out.

[2019-03-08 14:35] spkellydev opened #780 "Typing error, accept prop only allows string and not string | string[]"
**Do you want to request a *feature* or report a *bug*?**

- [x ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

The documentation states that `accept` prop on Dropzone component should accept `string | string[]`. The current typedef only accepts `string` however

Forensics

[code]

[2019-03-08 15:34] Kmaschta opened #781 "How to acceed to documentation V9"
Hey ! Congratz for the v10 and using hooks. :100:

Hooks are lit, but we I assume many users, like me, will not upgrade right now.

Where can I read the previous version of the documentation without having to read the markdown please?

[2019-03-08 15:36] Kmaschta commented on #781
Err, I should learn to read. The Dropzone is still documented below the hook. Sorry for that!

[2019-03-08 15:36] #781 closed

[2019-03-08 21:20] crobinson42 opened #782 "Add CHANGELOG.md"
Hello - thanks for the awesome project and efforts! I just noticed a small project I'm working on is 2 major versions behind so before upgrading I came to the repo to read a changelog to see what api or other breaking changes I might need to address when upgrading.

It would be great if there was a CHANGELOG.md file added to the repo :-)

I'm happy to contribute with a PR to add some automation of

[2019-03-08 22:30] beausmith commented on #182
@rolandjitsu - Thanks for the suggestion. I just tried it, but unfortunately this solution blocks the click-to-choose-file feature completely.

I will post a reproducible example.

[2019-03-08 23:00] beausmith commented on #182
@rolandjitsu Here is a reproducible example showing how wrapping a label around the input (valid `html`) causes the browser's file picker to be triggered twice:

https://codesandbox.io/s/j2z5j2n519

[2019-03-09 17:06] dimroc opened #783 "Regression: Unable to click DOM elements inside drop zone with recommended code"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

The removal of `disableClick` in https://github.com/react-dropzone/react-dropzone/pull/767 has caused a regression. You are now unable to click on buttons inside a dropzone when performing the recommended alternative because propagation is stopped ent

[2019-03-10 17:04] KaiHotz commented on #775
Just change `'multiple' in document.createElement('input')` to `'multiple' in React.createElement('input')` and it should solve the problem

[2019-03-11 07:23] jinguenee commented on #776
The same situation.

I think dropEffect issue

[2019-03-11 09:59] miroslavkremenovic opened #784 "I got `Minified React error #307` on 10.0.0 version."
**Do you want to request a *feature* or report a *bug*?**

- [o] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
I got `Minified React error #307` on 10.0.0 version. My app crashes on pages were dropzone is implemented. When I return it on 9.0.0 it works fine.
**If the current behavior is a bug, please provide the steps to reproduce.**

1.
1.
1.

**What is the ex

[2019-03-11 14:41] wmertens commented on #784
@miroslavkremenovic your error is very vague. You should click on the link it shows in the error to know what the minified error is, and ideally you should figure out what the error really is in your non-minified source.

This is not a product you pay for to get support, we should all help to improve it and okonet is spending his probably rare spare time keeping it all under control. So you are ex

[2019-03-11 15:34] miroslavkremenovic commented on #784
Ok, I'll be clearer. Problem is not happening in my  non-minified source. Only when i build app ( on staging for example).

- I'm using node v10.0.0 (npm v5.6.0).
- react-dom v16.4.0, react v16.7.0
- Link for the error decoder is https://reactjs.org/docs/error-decoder.html/?invariant=307
My app crashed on several pages and i figure out it  is because of dropzone ( it was only thing that all pages

[2019-03-11 17:16] rolandjitsu commented on #784
I'm on my phone, but one thing to note is that v10 requires react v16.8
(also react-dom).

I will be back from holiday next week and I will take a look at all the
reported issues.

On Mon, Mar 11, 2019, 17:34 miroslavkremenovic <notifications@github.com>
wrote:

[2019-03-11 19:37] thaddeusreid commented on #784
I am also seeing an app-crashing error after upgrading to v10.

Some additional details:
- react/react-dom@16.8.3
- webpack@3.2.3

The react-dropzone component loads just fine when loading my app without minification. To reproduce the error, bundle the app and minify it. When the component is loaded the app will crash (white screen) and throw an error in console:

[code]

Happy to share more detai

[2019-03-12 00:16] ethanmick commented on #775
Same issue here, `10.0.0` on `next@latest`.

[2019-03-12 15:05] rolandjitsu commented on #776
One thing to note is that [file-selector](https://github.com/react-dropzone/file-selector) makes use of [Array.from()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from) which needs to be polyfilled in IE11.

Besides that, I'm having some trouble testing drag 'n' drop behavior on SauceLabs (cannot drag drop anything, anywhere). Could use some help from som

[2019-03-12 15:52] thaddeusreid commented on #782
I found the Releases tab meet my needs: https://github.com/react-dropzone/react-dropzone/releases Maybe you've already seen it and are yearning for more :)

[2019-03-12 17:51] crobinson42 commented on #782
Ahh! I forgot about that github feature, thanks @thaddeusreid

[2019-03-12 17:51] #782 closed

[2019-03-12 21:52] taikn commented on #776
This seems to be the related to `file-selector`. Please see here: react-dropzone/file-selector/issues/9

[2019-03-13 09:09] twelve17 commented on #252
I also got the "Choose File" dialog twice, but only if the `<input>` and the `<div>` have other elements between them (I am using Grommet):

[code]

If I modify the above code like this, then I only get one upload dialog:
[code]

[2019-03-13 10:30] O4epegb opened #787 "Opening File Dialog Programmatically"
Since `<Dropzone>` component is now a function, you cannot get underlying `dropzoneRef` from it.

I think this should be fixed or at least listed as breaking change.

[2019-03-13 11:40] #776 closed

[2019-03-13 11:44] okonet commented on #776
:tada: This issue has been resolved in version 10.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-13 11:57] rolandjitsu commented on #784
I think `lastEffect` is an internal react error, see this [SO](https://stackoverflow.com/questions/53348653/react-cannot-set-property-lasteffect-of-null) and [facebook/react#14014](https://github.com/facebook/react/issues/14014). In any case, the error is not a direct cause of this lib, so I'll be closing the issue.

[2019-03-13 11:57] #784 closed

[2019-03-13 12:14] rolandjitsu commented on #783
@dimroc thanks for reporting this.

The fullscreen example was removed because it was misleading, as some users thought it meant they can drag 'n' drop on the document.

If we introduce `{disableClick}` we ought to do the same for all other events (focus, blur, keydown and drag events).

Using `preventDefault()` would not work because it will introduce other issues (e.g. parent dropzones would als

[2019-03-13 12:24] rolandjitsu commented on #182
@brianac see [o174pv349](https://codesandbox.io/s/o174pv349) for a fix. At the moment, this is the only way to make this work.

I guess the label click already triggers a click on the input, and we also do the same from our `onClick()` handler, hence the open twice.

I'll reopen and see if we can do anything to improve this.

[2019-03-13 12:32] rolandjitsu commented on #775
This particular issue should be fixed now. Please let me know if you encounter any other issues related to SSR.

[2019-03-13 12:49] rolandjitsu commented on #252
Could be helpful to open a new issue with a bit of description and a reproducible example because it's hard to figure out from all the comments what the issue is.

[2019-03-13 14:44] jsm174 commented on #776
With this new release I am now getting:

[code]

I didn't see anything in readme that suggests this should now be done in a different way?

Reverted back to 10.0.0.

[2019-03-13 19:09] #780 closed

[2019-03-13 19:11] localjo commented on #783
I think in order to be able to disable on the Dropzone parent from triggering on the input, while still being able to manually trigger clicks on the input with `open()` the `onClickCb` should be changed to check if propagation has been stopped;

[code]

Then you could do this to disable clicks;
[code]

As it is right now, I have no way of disabling clicks but still manually opening the file browse

[2019-03-13 19:13] okonet commented on #780
:tada: This issue has been resolved in version 10.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-13 19:15] rolandjitsu commented on #783
@localjo please see [index.js#L594](https://github.com/react-dropzone/react-dropzone/blob/v10.0.0/src/index.js#L594) and [utils/index.js#L77](https://github.com/react-dropzone/react-dropzone/blob/v10.0.0/src/utils/index.js#L77). There is also an [example](https://react-dropzone.js.org/#event-propagation) illustrating exactly what you're describing.

[2019-03-13 19:22] localjo commented on #783
It seems that this does not stop events from getting forwarded to the input;
[code]
However this prevents the input from opening at all;
[code]
Since forwarding an event from a parent to the child is not standard JS behavior, I think there needs to be a way to stop it.

[2019-03-13 19:26] localjo commented on #783
Judging by that example, my suggestion should work;
[code]
But this still forwards the click from the Dropzone to the input.

[2019-03-13 19:32] localjo commented on #783
Hmm... now it's working. I must have had my wires crossed somewhere. I've been struggling with this all morning. Sorry for the confusion.

[2019-03-14 00:52] wheredoesyourmindgo commented on #775
I'm still getting the same error with 10.0.2. Maybe I'm missing something? Using the _useDropzone_ hook with Next.js. A demo repo illustrating the problem when the index page is loaded (via SSR) can be found at [demo-repo](https://github.com/wheredoesyourmindgo/dzdemo)

[2019-03-14 01:32] Dakkers commented on #775
@wheredoesyourmindgo this wasn't fixed in 10.0.2 (check the changelog). you could use the branch @rolandjitsu made and try it out

[2019-03-14 02:01] wheredoesyourmindgo commented on #775
ahh. I see. Thx @Dakkers .

[2019-03-14 02:27] Yaxian commented on #775
@Chris533 , it helps me, thx.
@Dakkers try this:
[code]

[2019-03-14 12:40] #787 closed

[2019-03-14 12:43] okonet commented on #787
:tada: This issue has been resolved in version 10.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-14 19:35] #775 closed

[2019-03-14 19:38] okonet commented on #775
:tada: This issue has been resolved in version 10.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-14 23:41] mihaimartalogu commented on #541
In case anyone stumbles upon this after searching for how to disable opening the file dialog when clicked (but keep the dropzone active), the solution is to add an onClick property that stops the event propagation:
[code]
**However**, this needs to be done on the element that gets the root  props, **not** on the DropZone itself, i.e.:
[code]

[2019-03-15 12:11] SpudNyk commented on #248
This issue has regressed and now happens again in IE 11

[2019-03-15 12:18] SpudNyk opened #791 "Crash when dragging and dropping in IE 11"
**Do you want to request a *feature* or report a *bug*?**

- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Drop a file onto a drop zone in IE 11
1. Observe exception is thrown due to setting dropEffect
1.

**What is the expected behavior?**
No crash
**If this is a feature requ

[2019-03-15 12:33] rolandjitsu commented on #791
Strangely, when I tested on IE11 on a [lambdatest](https://www.lambdatest.com) vm, I saw no errors about the dropEffect. Will investigate and fix soon.

[2019-03-15 12:37] SpudNyk commented on #791
I'm getting the error on an enterprise network so my guess would be something in the security policy for windows prevents the setting of the flag, wrapping the line with try catch seems to fix it.
I just tried on a plain windows 10 + IE 11 install and I don't get the error there, only difference would be lack of the group security policy.

[2019-03-16 09:47] barbalex commented on #769
This is still an issue in v10.0.4. Need to remain on v8.1.0

[2019-03-16 09:50] barbalex commented on #769
[code]
So it seems that https://github.com/react-dropzone/file-selector/commit/e5ecce836a4bc8a51059fe21426d1290bb5d2bb8 was not the solution

[2019-03-16 10:26] barbalex commented on #769
Also I now do not believe any more that file-selector is the reason as I have tried:

[code]
...and the error still occurs (also with all versions up to 0.1.11)

[2019-03-16 12:42] Shaker-Hamdi opened #794 "Invalid prop `children` of type `object` supplied to `Dropzone`, expected `function`."
I'm getting this error when I try to apply the example you have on redux-form ...
https://github.com/BBB/dropzone-redux-form-example/blob/master/src/App.js

I'm on the latest version of React and react-dropzone.

[2019-03-18 10:14] carpben opened #795 "Does the latest version require React 16.8"
**Do you want to request a *feature* or report a *bug*?**

- [x ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
I want to add 'react-dropzone' to our existing live project.
After installing I followed the usage instructions. Since Hooks are only available on React 16.8, and our React version is 16.7 I used the Wrapper component option. When running "npm start"

[2019-03-18 10:46] rolandjitsu commented on #795
@carpben see [v10.0.0](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.0). It's documented as a breaking change. Upgrading react from 16.7 to 16.8 should not be an issue as far as I know.

[2019-03-18 10:57] rolandjitsu commented on #794
Please see [class-components](https://react-dropzone.js.org/#class-components) example; the child of the `<Dropzone>` needs to be a render fn.

[2019-03-18 10:57] #794 closed

[2019-03-18 14:12] carpben commented on #795
I understand. NPM even declares it right after installing.
However, since React 16.8 is relatively new, and installed in a minority of projects, I'd reccommend to add a comment in the installation section of the documentation.

[2019-03-18 15:38] rolandjitsu commented on #795
Will make an update in the coming days, thanks for pointing it out.

[2019-03-19 03:54] jpcodeforit opened #796 "Uploading multiple image one by one"
Thanks for the Library .is it possible to upload multiple images one by one.
Example
https://www.dropzonejs.com/

[2019-03-19 08:44] rolandjitsu commented on #796
@jpcodeforit next time you open an issue please use the provided template.

This lib doesn't do any file uploads to a server, it simply provides you with the files that you dropped onto the dropzone or selected. It is up to you to implement the upload logic.

[2019-03-19 08:44] #796 closed

[2019-03-19 09:34] claudiuchetan commented on #686
Unfortunately, this change (checking for isPropagationStopped) causes some issues in other cases.
I tried to integrate react-dropzone in a Dialog component from https://developer.microsoft.com/en-us/fabric#/components/dialog .
Both DragOver and Drop events are being stopped by this isPropagationStopped check.

[2019-03-19 11:29] rolandjitsu commented on #686
@claudiuchetan could you open a new issue and provide some reproducible example?

[2019-03-20 08:55] #791 closed

[2019-03-20 08:59] okonet commented on #791
:tada: This issue has been resolved in version 10.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-21 10:02] mrlubos commented on #541
@mihaimartalogu Check out the discussion in #530 on why we should not stop propagation. Of course depends on your use case, but in general, this is not encouraged.

[2019-03-21 10:18] mrlubos opened #797 "Preventing default `onClick` behaviour."
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**

Version `9.0.0` deprecated the prop `disableClick` and introduced native event handling instead. As noted in [releases](https://github.com/react-dropzone/react-dropzone/releases), we should use `evt.preventDefault()` if we want to migrate this feature

[2019-03-21 12:14] ibilichenko opened #798 "[TypeScript] Property 'ref' does not exist on type"
- [x] I found a bug
- [ ] I want to propose a feature

[TypeScript]
After updating get type error:

`Type '{ children: ({ getRootProps, getInputProps, ...dropzoneProps }: DropzoneState) => Element; accept: string | undefined; disabled: boolean | undefined; maxSize: number | undefined; minSize: number | undefined; onDrop: any; preventDropOnDocument: boolean | undefined; ref: ((instance: an...' is n

[2019-03-21 12:48] DominikSerafin commented on #752
This is the only thing that confused me in this otherwise excellent component. I was sure that `onDropRejected` will provide the reasons.

Showing specific reasons to user why his file was rejected is IMO pretty important consideration for better user experience instead making him figure that himself.

And I think this should be done in the scope of this component instead on the developer side.

@

[2019-03-21 13:06] DominikSerafin commented on #752
This is the only thing that confused me in this otherwise excellent component. I was sure that `onDropRejected` will provide the reasons.

Instead making users figure rejection reasons on their own, showing specific reasons to them why their file(s) were rejected is in my opinion important consideration for better user experience .

And I think this should be done in the scope of this component in

[2019-03-21 14:29] claudiuchetan opened #799 "DragEnter and Drop events are not triggered when using an office-ui-fabric-react Dialog"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
When using the react-dropzone inside an **office-ui-fabric-react Dialog** (https://github.com/OfficeDev/office-ui-fabric-react) component, the DragEnter and Drop events are not triggered.

**If the current behavior is a bug, please provide the steps to

[2019-03-22 06:15] rolandjitsu commented on #797
@mrlubos please refer to https://github.com/react-dropzone/react-dropzone/issues/783, let's keep this discussion there.

[2019-03-22 06:15] #797 closed

[2019-03-22 06:16] rolandjitsu commented on #541
Actually, see https://github.com/react-dropzone/react-dropzone/issues/783.

[2019-03-22 06:24] rolandjitsu commented on #799
Please refer to https://github.com/react-dropzone/react-dropzone/issues/783 and add a comment about your use case. But as I see it, the dialog should not stop event propagation for drag events and this will likely be an issue after the aforementioned issue is resolved.

[2019-03-22 08:52] barbalex commented on #769
Correction: I just realized that according to my yarn.lock file react-dropzone v8.1.0 had no dependency on file-selector. So it seems that file-selector _is_ the reason for the issue.

[2019-03-22 11:06] mihaimartalogu commented on #541
@mrlubos Thanks for the pointer, interesting read, but now I'm even more confused about stopPropagation 😅

My use case is a lightbox image gallery (https://github.com/benhowell/react-grid-gallery) inside the Dropzone:

[code]

The `stopPropagation` solution above (same one as
https://github.com/react-dropzone/react-dropzone/issues/783#issuecomment-472570408) works for me: it prevents opening the f

[2019-03-22 18:54] php4518 commented on #539
Hello, I am using react-email-editor and react-dropzone in the same project. my first page contains react-dropzone and another contains react-email-editor. Initially, when I drag and drop the file in react-dropzone, it works completely fine. once I drag component for email-editor, react-dropzone doesn't take dragged files. here is the demo.
https://codesandbox.io/s/x39wxnx5lz

the issue is only wi

[2019-03-23 13:59] rolandjitsu commented on #539
@php4518 please open a new issue, describe what the problem is and provide some way to reproduce it.

[2019-03-23 14:00] #798 closed

[2019-03-23 14:03] okonet commented on #798
:tada: This issue has been resolved in version 10.0.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-23 14:32] rolandjitsu commented on #783
Please check #801 and let me know if it helps with this issue.

[2019-03-23 16:19] php4518 opened #802 "dragging is not working after using other dragging component."
I am using react-email-editor and react-dropzone in the same project.
Dragging a file in react-dropzone works fine initially. but after dragging component in react-email-editor, dragging files in react-dropzone doesn't work. here is a demo. I have used both libraries on the same page after editing email-template, dragging files in dropzone does not work.
https://codesandbox.io/s/x39wxnx5lz

the is

[2019-03-24 09:15] rolandjitsu commented on #752
It wasn't necessary to change the signature of the `onDrop` callback because there are only a few cases in which files are rejected (file size, file count or file type) and users could have easily accounted for that in their own code.

We want to keep this lib as simple as possible, hence why I'm a bit reluctant to add support for this.

I haven't given to much thought into this matter, so I canno

[2019-03-24 09:20] rolandjitsu commented on #541
@mihaimartalogu try https://github.com/react-dropzone/react-dropzone/pull/801 and let me know if your use case still works with the changes we made. You can still use `event.stopPropagation()`, but you can also just use `useDropzone({noClick})`/`<Dropzone noClick>`.

P.S. we don't have a dependency on [dropzone.js](https://www.dropzonejs.com), this lib is a native react impl.

[2019-03-24 09:47] #795 closed

[2019-03-24 09:48] DominikSerafin commented on #752
Thanks for looking into it @rolandjitsu

Any implementation for this will be step forward in my opinion - but I have one suggestion - maybe it would be better to keep the error/validation as a "code" that can be easily compared by a developer if he wants to show their own error messages?

I mean something like I've previously suggested: `file-invalid-type`, `file-too-large`, `file-too-small`, `fil

[2019-03-24 10:08] rolandjitsu commented on #802
I think this is an issue with unlayer, they might be binding drag event listeners to the document and blocking it somehow. I briefly checked the bound event listeners and I saw a couple of `editor.js` listeners on `dragenter`.

[2019-03-24 10:16] php4518 commented on #802
I have tried to catch that. But I don't know how to manage that. I am stuck with it. I have use both libraries at time. Do you have any idea how can I manage that?

[2019-03-24 10:20] rolandjitsu commented on #799
As far as I can see, [EventGroup.ts](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/utilities/src/EventGroup.ts) might be stopping event propagation in modals. You might want to open an issue on their side, because there isn't much we can do from our side.

[2019-03-24 10:23] rolandjitsu commented on #802
I would definitely open an issue on their side or write them an email explaining this issue. There isn't much you can do I guess, maybe unlayer has some method to disable it or remove it from the DOM (which hopefully also removes all event listeners from the document).

[2019-03-24 10:24] php4518 commented on #802
I have already added issue on their side but didn't get any response.

[2019-03-24 10:51] rolandjitsu commented on #802
Sorry to hear that, they'll eventually answer, probably.

[2019-03-25 03:12] Qrysto opened #804 "Return full file paths on Electron"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x ] I want to propose a feature

**What is the current behavior?**

The `acceptedFiles` list of the `onDrop` callback doesn't contain the full paths of the files even in Electron environment.

**What is the expected behavior?**

In Electron, `acceptedFiles` should contain the full paths of the files.

[2019-03-25 04:13] rolandjitsu commented on #804
Hi, could you please provide a reproducible example? Such as a repo with some steps.

[2019-03-25 05:22] claudiuchetan commented on #799
@rolandjitsu I understand that Fabric's Dialog component stops the propagation. However, it might be that more than one library does this.
Maybe adjust react-dropzone's behaviour so that it handles such cases?
The event is properly received. Its handling is stopped after the promise runs.
Shouldn't it be only stopped if it is not valid initially?

[2019-03-25 11:09] rolandjitsu commented on #799
That argument works both ways, there are other libs that also listen to events some other libs stop from propagating.

If we remove this check, we break https://github.com/react-dropzone/react-dropzone/issues/686. But maybe https://github.com/react-dropzone/react-dropzone/pull/801 would cover the scenario described in the aforementioned issue and then we could remove the check.

I do not understan

[2019-03-25 11:37] claudiuchetan commented on #799
I meant that we should know when the event is triggered if we want to handle it or not, and not determine this based on isPropagationStopped's value.
Just to handle integration with libraries that don't handle this correctly.

I'm not sure why Fabric's stopping all events. They shouldn't have any saying in a drag/drop event's cycle.

Indeed, [#801](https://github.com/react-dropzone/react-dropzone/

[2019-03-26 15:12] nonoesp commented on #804
Seeing this same issue. I'm not sure if this is happening due to Chromium restrictions or due to this library not exposing the file path properly.

![image](https://user-images.githubusercontent.com/1243210/55008821-e0d80480-4fe1-11e9-97cf-88c9f046f826.png)

Note how `name` and `path` are the same. No reference to the path in the local file system.

[2019-03-26 22:13] claytonfbell opened #805 "Make it possible to remove file from acceptedFiles state"
**Do you want to request a *feature* or report a *bug*?**

- [ ] I found a bug
- [x] I want to propose a feature

**What is the current behavior?**
No way to remove file from the acceptedFiles state array.

**If this is a feature request, what is motivation or use case for changing the behavior?**
it would be nice to allow user to remove files with a trash button from the acceptedFiles state array

[2019-03-26 23:40] vanyakosmos commented on #763
With MUI you should use [RootRef component](https://material-ui.com/api/root-ref/).

[2019-03-27 00:41] rolandjitsu commented on #805
@claytonfbell I think this is out of the scope of dropzone. It's up to you to alter the files in whatever way you need/want.

Furthermore, the dropzone can be used as a headless component or a hook, meaning there is no UI rendered, therefore, we cannot add any delete buttons. You're perhaps referring to the examples, but note that those are not part of the dropzone lib.

If you have further issues

[2019-03-27 00:41] #805 closed

[2019-03-27 00:46] rolandjitsu commented on #804
Please see [file-selector](https://github.com/react-dropzone/file-selector) and move this issue there as this is definitely related to that lib. I think that electron already sets a [path](https://github.com/electron/electron/blob/v1.2.8/docs/api/file-object.md), so we might just need to detect that and use it.

[2019-03-27 00:46] #804 closed

[2019-03-27 01:00] rolandjitsu commented on #799
@claudiuchetan that would mean we have to introduce a dropzone manager which keeps track of all dropzones and their position in the DOM tree. I definitely want to avoid that as it will introduce a lot of complexity.

Did you open an issue on their side as well?

#801 still has the event propagation check and I'm not sure at this point whether I will remove it or not as it will probably be a breaki

[2019-03-27 01:04] rolandjitsu commented on #763
@vanyakosmos does your suggestion work? I think it would be helpful to have an example on our side illustrating the workaround for this.

[2019-03-27 09:28] claudiuchetan commented on #799
@rolandjitsu
Not a dropzone manager, it would not be a viable approach.
[#801](https://github.com/react-dropzone/react-dropzone/pull/801) as I understand it, gives the user additional options for configuring the dropzone.
Having an option to ignore external propagation flags would handle this kind of edge cases while having no impact on existing functionality.

I just opened an issue on Office Fab

[2019-03-27 11:27] vanyakosmos commented on #763
I had similar issue as OP and with RootRef everything is fine.

But I don't think that we should have an example in docs for this specific case, because, as you said, it is more MUI-related issue and knowing that `RootRef` exists is 99% of the answer.
Also when I googled error there were literally only 4 links and this issues was first in list, so people with the same problem will surely find this

[2019-03-27 18:59] MastroLindus opened #806 "Issue with ref open() after upgrading from version 5"
I am upgrading react-dropzone from version 5.

I have some code like this:
[code]

Basically when I am rendering the dropzone, and a certain flag is true, I want to open the dropzone programmatically, otherwise not.
This code used to work perfectly, but now for some reason refCallback gets called A LOT of times. If I insert a console.log inside that callback, it spams my console, even if render()

[2019-03-27 21:29] Akramhar opened #807 "onFileDialogCancel triggered on correct file selection"
**Do you want to request a *feature* or report a *bug*?**
- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
onFileDialogCancel is triggered even when a file is correctly selected in the file dialog

**If the current behavior is a bug, please provide the steps to reproduce.**
Here's the [sandbox](https://codesandbox.io/embed/lyrqjp7yx9)

**What is the expected

[2019-03-28 01:03] rolandjitsu commented on #806
Could you provide a sandbox reproducing this?

[2019-03-28 01:23] rolandjitsu commented on #807
@Akramhar I just tried the example and it works as expected. The `onFileDialogCancel` is called when you cancel the dialog (hit the cancel button or press ESC), regardless of files being selected. However, it does not get called if you click `Open`.

I hope this clears the confusion.

[2019-03-28 01:26] rolandjitsu commented on #763
@vanyakosmos we already have this sort of issue example in our docs, but for styled components. Since they moved away from `innerRef`, I think it's a good idea to use mui instead as example for setting references using custom `refKey`.

[2019-03-28 01:32] rolandjitsu commented on #799
@claudiuchetan right now, we still have the stop propagation check in #801, so it will still not work in your case.

If we remove it (the check), the `noDragEventsBubbling` option will not do anything (at least not for the async `onDrop` and `onDragEnter`). I might have to do some more work on that, perhaps I can manage to remove the check for stop propagation.

[2019-03-28 02:07] Akramhar commented on #807
Here's the console when I hit open on that example:
![image](https://user-images.githubusercontent.com/3996749/55124467-b1f28900-50dc-11e9-8d3b-126fa88aadf2.png)

[2019-03-28 02:13] Akramhar commented on #807
I'm testing it on another machine that has windows7 and the problem doesn't seem to appear.

[2019-03-28 02:15] rolandjitsu commented on #807
I tried it from my macOS 10.14. I don't see the cancel log. I don't have a windows machine unfortunately. I will try to use SauceLabs to test it later.

[2019-03-28 02:20] Akramhar commented on #807
Oki, thank you very much :)
I will try to do more tests too.

[2019-03-28 02:27] fandy opened #808 "Export Typescript File type"
It would be great to get access to the `File` type.

[2019-03-28 03:06] rolandjitsu commented on #808
I'm not sure I understand what you're asking for. Could you describe your issue in more detail?

[2019-03-28 08:54] MastroLindus commented on #806
This code is all that is needed (typescript)

[code]

if you leave el.open() commented out, you can see that the callback gets called once.
If el.open is called, the callback prints "WHY" a LOT of times, as open() would unmount the dropzone component. I am quite sure that this behaviour changed since version 5

[2019-03-28 11:40] rolandjitsu commented on #806
It would still be easier if you could just create a sandbox. An example is provided in the issue template, use that as reference.

`.open()` does not unmount anything, it just opens the file dialog. If it's an issue, it's probably something else.

[2019-03-29 09:39] MastroLindus commented on #806
https://codesandbox.io/s/qkloo1p9qw

check the console: 1 call to callback
now uncomment the line with el.open()
check the console again: a lot of calls

[2019-03-29 14:46] rolandjitsu commented on #806
Thanks for creating the sandbox. I will take a look this weekend.

[2019-03-31 11:10] #783 closed

[2019-03-31 11:13] okonet commented on #783
:tada: This issue has been resolved in version 10.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-31 11:13] okonet commented on #795
:tada: This issue has been resolved in version 10.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-31 14:41] #763 closed

[2019-04-01 11:28] lackovic commented on #330
[New link to Accept examples](https://github.com/react-dropzone/react-dropzone/blob/master/examples/accept/README.md).

[2019-04-01 19:45] chobo2 opened #810 "TypeError: Object(...) is not a function"
Hi

I upgraded my version (version 8) of React Dropzone and now my code is not working when I upgraded to version 10.
[code]

[code]

[2019-04-01 19:53] chobo2 commented on #810
It seems like some major changes happened from version 8 to 10? What is the fastest way I can change my code to get up and running. I am not using the latest version of reactjs and not sure if I can upgrade to it.

[2019-04-02 01:02] rolandjitsu commented on #810
You just need to upgrade to react > 16.8. There are no breaking changes in regards to react, so you should be fine.

[2019-04-02 18:55] sedenardi opened #811 "SSR: Specifying `multiple` prop results in hydrate error"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
While using server-side rendering, if the `multiple` prop is specified then an error is produced when calling `hydrate()`:
[code]
Upon investigation, this is related to the fix implemented in https://github.com/react-dropzone/react-dropzone/issues/775

[2019-04-02 18:57] sedenardi commented on #811
@KaiHotz's https://github.com/react-dropzone/react-dropzone/issues/775#issuecomment-471324102 in the original issue's thread might be a good solution.

[2019-04-02 20:19] adamcoulombe opened #812 "acceptClassName not working"
I had been using a previous version of dropzone that used the acceptClassName prop.

It doesnt seem like there is that feature anymore? Though I dont see any documentation about it. All I know is its not working anymore, and I would like to restore those classes:

[code]

[2019-04-02 20:50] claytonfbell commented on #805
I see, thanks for getting back. I missed the response until now.

I didn't mean to propose adding any UI component. But I want to mutate the `acceptedFiles` state array that is returned from the `useDropzone` hook. Like if we added a `clearFiles` function that could also be returned from the hook. The "Clear" UI button on my component's end would call it `onClick={clearFiles}`.

[code]

Maybe I'm

[2019-04-02 21:08] adamcoulombe commented on #812
I think I figured out how to do this. By using the `useDropzone` thing. I guess that lets you customize your own dropzone component.

I'm not sure why the classes were removed as a default feature. To have good UX it makes sense to provide some feedback when the user is dragging a file. It should be easier to do this IMO, as it had been before.

I could submit a PR to address this?

[code]

[2019-04-03 00:51] rolandjitsu commented on #811
@sedenardi please see https://github.com/react-dropzone/react-dropzone/pull/779. I will take a look at this later this weekend.

[2019-04-03 00:54] rolandjitsu commented on #805
@claytonfbell this can be done in the user land, or maybe I'm missing something 😕 It could help if you could provide an example illustrating your use case.

[2019-04-03 00:56] rolandjitsu commented on #812
@adamcoulombe the hook and component are both headless, meaning there are no DOM elements rendered, hence no need to have classes.

On the other hand, you have some properties (`isDragActive`, `isDragAccept`, etc.) that can help with what you're describing. It's up to you to render whatever you need.

[2019-04-03 00:56] #812 closed

[2019-04-03 03:27] sedenardi commented on #811
That makes sense.

It seems all modern browsers, including > IE10, support multiple file uploads (https://caniuse.com/#feat=input-file-multiple). Can this just be removed?

[2019-04-03 17:35] claytonfbell commented on #805
Thank you again!

I've taken the existing **Basic** example and added a **Remove File** button next to each file, as well as the addition of a **Remove All** button.

![dropzone](https://user-images.githubusercontent.com/3332575/55499865-dd550680-55fb-11e9-8c03-7382fa245cc9.gif)

[code]

[2019-04-05 19:32] chobo2 commented on #810
Ok, I will check out react > 16.8 got to make sure it can work with IE 11(finding lots of stuff I am upgrading to newest versions just don't work with IE 11)

[2019-04-06 05:04] #808 closed

[2019-04-06 05:29] #806 closed

[2019-04-06 05:32] okonet commented on #806
:tada: This issue has been resolved in version 10.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-06 05:32] okonet commented on #763
:tada: This issue has been resolved in version 10.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-06 05:35] rolandjitsu commented on #811
I guess we could do that. Looking at [accept](https://caniuse.com/#feat=input-file-accept), there's also browsers that don't support it, yet we haven't received any reports of it being an issue.

I wonder why was the check introduced, I will try to check the commit history and find out if it was an issue before removing it.

[2019-04-06 05:52] #811 closed

[2019-04-06 05:56] okonet commented on #811
:tada: This issue has been resolved in version 10.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-06 12:31] cristian-sima opened #816 "Example integration with Redux Form"

[2019-04-06 12:41] rolandjitsu commented on #816
I'm not quite sure what you're asking for here 😕 Could you use the issue template please?

[2019-04-06 12:45] cristian-sima commented on #816
hi @rolandjitsu . I want to use reactdropzone together with redux-form https://redux-form.com/.

I was asking for an example how to integrate these two.

Thanks

[2019-04-06 13:46] #182 closed

[2019-04-06 13:49] okonet commented on #182
:tada: This issue has been resolved in version 10.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-dropzone)
- [GitHub release](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-06 16:32] beausmith commented on #182
Stoked! Thank you for implementing a fix for this @okonet.

@brianac - Thanks for the initial report!

[2019-04-07 04:07] rolandjitsu commented on #816
@cristian-sima This sounds more like a question for SO than an issue. In any case, here's an [example](https://codesandbox.io/s/24pm48ymjy?fontsize=14) of how you could integrate the two.

I will close this, but if you encounter an issue, feel free to report it.

[2019-04-07 04:07] #816 closed

[2019-04-07 04:08] rolandjitsu commented on #810
I'm gonna close this, but if you discover an issue after you do the upgrade, please report it.

[2019-04-07 04:08] #810 closed

[2019-04-07 04:10] rolandjitsu commented on #802
I will close this for now as there's not much we can do from our side.

[2019-04-07 04:10] #802 closed

[2019-04-07 04:14] rolandjitsu commented on #799
I'm closing this as `{eventBubblingEnabled}` on fabric's side seems to fix what you're currently experiencing.

If someone feel like they could come up with a simple way of removing the check we have in our lib for event propagation, feel free to make a PR.

[2019-04-07 04:14] #799 closed

[2019-04-09 19:41] claytonfbell commented on #805
After working with this more I work around by creating my own `useState`. Not sure if this is the best way, but maybe this can be helpful to others.

[code]

[2019-04-10 17:05] chobo2 commented on #810
@rolandjitsu

Ok, I upgraded and inital tests seem to be fine, though is there any changes to my dropzone I should change. Looking at the examples it looks like stuff has changed?

I am also having trouble disabling dragging. I tried

 <Dropzone
                accept="image/jpeg, image/png"
                onDrop={this.onDrop.bind(this)}
                onDrag={true}

Is this the right way?

[2019-04-10 22:49] eugenio1590 opened #818 "The default message not change"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
When I use the getFilesFromEvent function in the Dropzone component and I put a file in the "zone" it does not change the default message.

**If the current behavior is a bug, please provide the steps to reproduce.**
https://codesandbox.io/s/x33nrprk3p

[2019-04-11 01:04] rolandjitsu commented on #810
Yes, some things have changed. You can look at the releases to see what changed. You can still use the `<Dropzone>` component, you don't need to switch to hooks if you don't want to.

To disable drag, use `noDrag` property (e.g. `<Dropzone noDrag> ... </Dropzone>`).

[2019-04-11 15:06] leogiertz opened #819 "isDragActive isn't working in Safari"
**Do you want to request a *feature* or report a *bug*?**

- [x] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
When dragging a file in Safari over a dropzone, isDragActive still is false. It works in Chrome however.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Go to https://react-dropzone.js.org/#!/Styling%20Dropzone
2. Drag

[2019-04-11 18:20] eugenio1590 commented on #819
@leogiertz are you using "getFilesFromEvent"  function?

[2019-04-12 07:30] leogiertz commented on #819
@eugenio1590 No, I'm doing it in a similar way as the code example for how to style a drop zone is doing it.

[2019-04-12 19:00] perrywarner commented on #812
Thanks for the pseudo "migration guide" @adamcoulombe! There wasn't any information in the documentation for updating from an older version to the new one, so this helps out

[2019-04-12 21:48] eugenio1590 commented on #819
Ummm I get the same error but using  "getFilesFromEvent" function. #818

[2019-04-13 03:12] rolandjitsu commented on #819
I can confirm that Safari is not working as expected. Though, it's not just `isDragActive`, it's also the `isDragAccept`/`isDragReject` props.

I'd also argue that we don't really need `isDragActive` because on drag enter you'd get either `isDragAccept` or `isDragReject`.

I will investigate the issue further to see what's going on.

[2019-04-15 15:50] r3wt opened #820 "Dropzone should support string children, as react does."
solution: remove line 80

https://github.com/react-dropzone/react-dropzone/blob/ea5fb32de4e5eb709f4f7d0851e8030addb5f6f4/src/index.js#L80

use case:
https://stackoverflow.com/questions/55692809/warning-failed-prop-type-invalid-prop-children-of-type-string-supplied-to

[2019-04-15 18:06] gupta-kartik commented on #795
Can the non-hook version, (using the hook wrapper) be used with versions < 16.8?

[2019-04-15 19:25] seth-seikosoft opened #821 "Error: Invalid hook call. Hooks can only be called inside of the body of a function component."
- [x ] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
When trying to use the "Class Component"  example code I'm seeing `Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen...`  when rendering the page.
*Class Component*
[code]
I've also tried to create a functional component using the hooks example
*f

[2019-04-15 20:26] perrywarner opened #822 "TypeScript Compiler Error: node_modules/@types/react-dropzone"' has no exported member 'useDropzone'."
**Do you want to request a *feature* or report a *bug*?**

- [X] I found a bug
- [ ] I want to propose a feature

**What is the current behavior?**
The latest version of react-dropzone's documentation has most examples using the `useDropzone` hook, but the latest TypeScript type definitions via the associated project _DefinitelyTyped/types/react-dropzone_ [hasn't been updated in 8 months](https://

[2019-04-16 01:29] rolandjitsu commented on #822
Types are hosted with this package, so you should not use the ones from DT. As far as I know, we do not own the types at DT. And I think they're also versioned, so it should be pretty obvious that they're not compatible with the latest version of dropzone.

As for examples, it's pretty easy to infer that the props you use for the `useDropzone()` hook are the same you apply on the `<Dropzone>`.

Th

[2019-04-16 01:29] #822 closed

[2019-04-16 08:03] rolandjitsu commented on #821
Please provide an example reproducing your issue. The example we have at [react-dropzone.js.org](https://react-dropzone.js.org/#class-components) works just fine.

[2019-04-16 08:04] rolandjitsu commented on #795
@gupta-kartik see release notes for [v10.0.0](https://github.com/react-dropzone/react-dropzone/releases/tag/v10.0.0).

[2019-04-16 08:06] rolandjitsu commented on #820
Our `<Dropzone>` component is headless, therefore, you're required to provide a function as child and use the prop getters to render.

[2019-04-16 08:06] #820 closed

[2019-04-16 13:43] perrywarner commented on #822
Thanks for the feedback @rolandjitsu! I'll keep that in mind going forward.